// depends on used icon
$loaderIconHeight: 20px;
// depends on used icon
$loaderIconWidth: 187px;

.loaderWrapper {
  position: absolute;
  top: calc(50% - $loaderIconHeight / 2);
  left: calc(50% - $loaderIconWidth / 2);
}

.loader {
  height: $loaderIconHeight;
  margin: auto;
}
