@import "src/styles/variables";

.numberedList {
  display: flex;
  width: 100%;
  flex: 1 0 auto;
  flex-direction: column;
  gap: $gapSmall;
  list-style-type: none;
}

.numberedListItem {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: $gapSmall;
  overflow-wrap: break-word;

  pre {
    overflow-x: auto;
  }
}

.recordInfo {
  align-items: center;
}

.labelsBlock {
  gap: $gapSmall;
}

.contentBlock {
  gap: $gapExtraSmall;
}

.ownerName {
  flex: 1;
}

.tagsBlockTrigger {
  cursor: pointer;
}

.editableTime {
  min-width: 46px;
  max-width: 46px;
  cursor: pointer;
  text-align: right;
}

.addTagButton {
  padding: 0;
  border: none;
  &:hover {
    background-color: transparent;
    color: var(--primaryTextColor);
    cursor: pointer;
  }
}

.linkToOwnerWay {
  display: flex;
  align-items: center;
}

.socialMediaIcon {
  width: $iconSizeSmall;
  height: $iconSizeSmall;
}

.trashReservation {
  width: 16px;
}
