@import "src/styles/variables";

//Price plan card width
$pricePlanCardWidth: 312px;
$quintupleBorderRadius: 24px;

.pricePlanCard,
.light {
  width: $pricePlanCardWidth;
  padding: $paddingBig $paddingLarge;
  border-radius: $quintupleBorderRadius;
  background-color: var(--secondaryTextColor);
  color: var(--tertiaryIconColor);
  gap: $gapMedium;
  text-align: left;
}

.dark {
  background-color: var(--primaryBgColor);
  color: var(--primaryTextColor);
}

.planHeader {
  display: flex;
  flex-direction: column;
  gap: $gapMedium;
}

.pricePlanTitle h3 {
  font-size: $fontSizeLarge;
}

.pricePlanCard ul {
  padding-left: $paddingExtraMedium;
  line-height: 1.875em;
}

.pricePlanCard li {
  padding-left: $paddingSmall;
  font-size: $fontSizeBig;
  font-weight: $fontWeightReular;
}

.itemAvailable {
  list-style-image: url("src/assets/entypo_check.svg");
}

.dark .itemAvailable {
  list-style-image: url("src/assets/entypo_check_light.svg");
}

.itemUnavailable {
  color: var(--tertiaryTextColor);
  list-style-image: url("src/assets/icon_close.svg");
}

.buyPlanButton {
  margin: 0 auto;
  background-color: var(--generalPrimaryColor);
  color: var(--secondaryTextColor);
  font-weight: $fontWeightReular;

  &:hover:enabled,
  &:active:enabled {
    background-color: var(--hoverBgColor);
  }
}

.priceFree {
  padding-bottom: $paddingSmall;
  font-size: $fontSizeLarge;
  font-weight: $fontWeightBold;
}

.priceAmount {
  font-size: $fontSizeTitleMedium;
  font-weight: $fontWeightBold;
}

.priceAmount span {
  color: var(--tertiaryTextColor);
  font-size: $fontSizeBig;
  font-weight: $fontWeightReular;
  vertical-align: middle;
}
