@import "src/styles/variables";

$userNameFontSize: 16px;

.footer {
  background-color: var(--quaternaryBgColor);
}

.footerWrapper {
  width: 100%;
  max-width: $maxWidthContainer;
  justify-content: space-between;
  padding: $paddingBig $paddingMedium;
  border-bottom: $primaryBorder solid var(--secondaryStrokeColor);
  margin: 0 auto;
}

.privacyLinks {
  width: 100%;
  max-width: $maxWidthContainer;
  padding: $paddingBig $paddingMedium;
  margin: 0 auto;
  gap: $gapLarge;
}

.privacyLink {
  color: var(--secondaryTextColor);
  font-size: $fontSizeBig;
  text-decoration: none;
}

.logo {
  height: 55px;
  cursor: pointer;
}

.socialMedia {
  color: var(--secondaryTextColor);
  gap: $gapSmall;
}

.socialMediaIcons {
  align-items: center;
}

.socialMediaIcon {
  border: 2px solid var(--secondaryStrokeColor);
  border-radius: $tertiaryBorderRadius;
  background-color: var(--iconBgColor);
  fill: var(--quaternaryBgColor);
  stroke: none;
}
