@import "src/styles/variables";

$logoHeight: 55px;
$iconSize: 32px;
$privacyLineHeight: 140%;
$socialTextFontWeight: 500;
$rulerHeight: 1px;

.footer {
  background-color: var(--quaternaryBgColor);
}

.footerWrapper {
  max-width: $maxWidthContainer;
  box-sizing: content-box;
  flex-direction: column;
  padding: 0 $paddingMedium;
  margin: 0 auto;
  gap: 0;
}

.socialLinks {
  align-items: flex-start;
  justify-content: space-between;
  padding: $paddingBig 0;
}

.ruler {
  height: $rulerHeight;
  border: none;
  background-color: var(--secondaryStrokeColor);
}

.privacyLinks {
  padding: $paddingSmall 0;
  gap: $gapLarge;
}

.privacyLink {
  color: var(--secondaryTextColor);
  font-size: $fontSizeBig;
  line-height: $privacyLineHeight;
}

.logo {
  display: block;
  height: $logoHeight;
  cursor: pointer;
}

.socialMedia {
  color: var(--secondaryTextColor);
  gap: $gapExtraSmall;
}

.socialMediaText {
  font-weight: $socialTextFontWeight;
}

.iconWrapper {
  display: flex;
  width: $iconSize;
  height: $iconSize;
  align-items: center;
  justify-content: center;
  border-radius: $tertiaryBorderRadius;
  background-color: var(--secondaryIconBgColor);
}

.socialMediaIcon {
  stroke: var(--tertiaryIconColor);
}
