@import "src/styles/variables";

$logoHeight: 55px;
$privacyPaddingTop: 10px;
$privacyPaddingBottom: 12px;
$iconSize: 32px;
$privacyLineHeight: 140%;

.footer {
  background-color: var(--quaternaryBgColor);
  margin-inline: $paddingMedium;
}

.footerWrapper {
  width: 100%;
  max-width: $maxWidthContainer;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: $primaryBorder solid var(--secondaryStrokeColor);
  margin: 0 auto;
  padding-block: $paddingBig;
}

.privacyLinks {
  width: 100%;
  max-width: $maxWidthContainer;
  margin: 0 auto;
  gap: $gapLarge;
  padding-block: $privacyPaddingTop $privacyPaddingBottom;
}

.privacyLink {
  color: var(--secondaryTextColor);
  font-size: $fontSizeBig;
  line-height: $privacyLineHeight;
  text-decoration: none;
}

.logo {
  display: block;
  height: $logoHeight;
  cursor: pointer;
}

.socialMedia {
  color: var(--secondaryTextColor);
  gap: $gapSmall;
}

.socialMediaText {
  font-weight: 500;
}

.iconWrapper {
  display: flex;
  width: $iconSize;
  height: $iconSize;
  align-items: center;
  justify-content: center;
  border-radius: $tertiaryBorderRadius;
  background-color: var(--iconBgColor);
}

.socialMediaIcon {
  display: block;
  background-color: var(--iconBgColor);
  stroke: var(--quaternaryBgColor);
}
