@import "src/styles/variables";

.container {
}

.titleBlock {
  max-width: 780px;
  gap: $gapLarge;
}

.title {
  text-align: center;

  & h2 {
    font-size: $fontSizeTitleBig;
  }
}

.titleDescription {
  text-align: center;


}

.mainBlockImage {
  width: 80%;
  margin: 0 auto;

  @media (max-width: $mediaWidthTablet) {
    width: 100%;
  }
}

.advantagesBlock, 
.problemsBlock,
.questionsBlock,
.triesBlock,
.mainBlock {
  padding: $paddingVerticalBlockBig $paddingMedium;
  align-items: center;
  margin: 0 auto;
  max-width: $maxWidthContainer;
  gap: $gapExtraLarge;

  @media only screen and (max-width: $mediaWidthMobileMedium) {
    padding: $paddingExtraMedium;
  }
}

.responseBlock {
  background-color: var(--primaryBgColor);
  margin: 0 auto;
  max-width: $maxWidthContainer;
}

.advantages {
  flex-wrap: wrap;
  align-items: center;
  gap: $gapLarge;
}

.problems {
  gap: $gapLarge;
  width: 100%;
}
