@import "src/styles/variables";

$accordionMaxWidth: 1032px;

.titleBlock {
  max-width: 780px;
  gap: $gapLarge;
}

.title {
  text-align: center;

  & h2 {
    font-size: $fontSizeTitleBig;
  }
}

.titleYouShouldBlock {
  text-align: left;

  & h2 {
    font-size: $fontSizeTitleBig;
  }
}

.titleDescription {
  text-align: center;
}

.mainBlockImage {
  width: 80%;
  margin: 0 auto;

  @media (max-width: $mediaWidthTablet) {
    width: 100%;
  }
}

.advantagesBlock,
.problemsBlock,
.reviewBlock,
.questionsBlock,
.triesBlock,
.mainBlock {
  max-width: $maxWidthContainer;
  align-items: center;
  padding: $paddingVerticalBlockBig $paddingMedium;
  margin: 0 auto;
  background-color: var(--secondaryBgColor);
  gap: $gapExtraLarge;

  @media only screen and (max-width: $mediaWidthMobileMedium) {
    padding: $paddingExtraMedium;
  }
}

.questionsBlock,
.reviewBlock {
  background-color: var(--primaryBgColor);
}

.reviewList {
  justify-content: center;
}

.advantages {
  flex-wrap: wrap;
  align-items: center;
  gap: $gapLarge;
}

.problems {
  width: 100%;
  gap: $gapLarge;
}

.accordion {
  width: 100%;
  max-width: calc($accordionMaxWidth + 2 * $paddingMedium);
  padding: 0 $paddingMedium;
}

.triesContainer {
  padding: $paddingLarge;
  gap: $gapLarge;
}

.triesContentBlock {
  gap: $gapBig;
}

.triesActionButton {
  max-width: max-content;
}

.icon {
  stroke: var(--secondaryStrokeColor);
}
