@import "src/styles/variables";

.pageLayout {
  width: 100%;
  max-height: calc(100vh - $headerHeight);
  gap: $gapExtraBig;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.projectInfoBlock {
  @include regularContainer;
  min-width: $minWidthBlock;
  justify-content: space-between;
  gap: $gapMedium;
}

.projectTitleActions {
  justify-content: space-between;
}

.projectActionsIcon {
  height: 38px;
  padding: 0 $paddingSmall;
}

.participantsBlock {
  gap: $gapSmall;
}

.participants {
  flex-wrap: wrap;
}

.participant {
  align-items: center;
}

.participantInfo {
  gap: $gapSmall;
}

.participantDescription {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
