@import "src/styles/variables";

$JobTagMaxWidth: 130px;

.label {
  overflow: hidden;
  max-width: $JobTagMaxWidth;
  padding: $paddingSmall;
  border: 1px solid var(--primaryStrokeColor);
  border-radius: $primaryBorderRadius;
  text-overflow: ellipsis;
}

.small {
  padding: 0 $paddingSmall;
  font-size: $fontSizeSmall;
  white-space: nowrap;
}
