@import "src/styles/variables";

$toggleSize: 27px;
$toggleBorderRadius: 34px;
$toggleIndentation: 2px; // to variables

.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 31px;
}

.toggle {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: $toggleBorderRadius;
  background-color: var(--primaryToggleBgColor);
  cursor: pointer;
  transition: $tertiaryTransitionDuration;
}

.slider:before {
  position: absolute;
  bottom: $toggleIndentation;
  left: $toggleIndentation;
  width: $toggleSize;
  height: $toggleSize;
  border-radius: $tertiaryBorderRadius;
  background-color: var(--secondaryToggleBgColor);
  content: "";
  transition: $tertiaryTransitionDuration;
}

.toggle:checked + .slider {
  background-color: var(--secondaryBgColor);
}

.toggle:checked + .slider:before {
  transform: translateX(20px);
}
