@import "src/styles/variables";

$toogleSize: 27px;
$toogleBorderRadius: 34px;
$toogleIndentation: 2px;

.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 31px;
}

.toggle {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: $toogleBorderRadius;
  background-color: var(--primaryToggleBgColor);
  cursor: pointer;
  transition: $tertiaryTransitionDuration;
}

.slider:before {
  content: "";
  position: absolute;
  bottom: $toogleIndentation;
  left: $toogleIndentation;
  width: $toogleSize;
  height: $toogleSize;
  border-radius: $tertiaryBorderRadius;
  background-color: var(--secondaryToggleBgColor);
  transition: $tertiaryTransitionDuration;
}

.toggle:checked + .slider {
  background-color: var(--primaryToggleBgColor);
}

.toggle:checked + .slider:before {
  transform: translateX(20px);
}