@import "src/styles/variables";

.problemItem {
  gap: 0;

  @media (max-width: $mediaWidthMobileBig) {
    flex-direction: column;
  }
}

.number {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: var(--generalPrimaryColor);
  color: var(--secondaryTextColor);
  font-size: $fontSizeTitleLarge;
  font-weight: $fontWeightBold;
}

.problemContentBlock {
  flex: 3;
  justify-content: center;
  padding: calc($paddingMedium * 2);
  background-color: var(--secondaryBgColor);
  border-bottom-right-radius: $primaryBorderRadius;
  border-top-right-radius: $primaryBorderRadius;
  gap: $gapBig;

  @media (max-width: $mediaWidthTablet) {
    padding: $paddingLarge;
  }
}
