.container {
  width: 0%;
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background-color: white;
  animation: progress 1s linear forwards;
}

@keyframes progress {
  100% {
      width: 100%;
  }
}
