@import "src/styles/variables";

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 4px;
  animation: progress 1s linear forwards;
  background-color: $secondaryBackgroundColorTransparent;
}

@keyframes progress {
  100% {
    width: 100%;
  }
}
