@import "src/styles/variables";

// TODO: don't use th inside tooltip
th .wrapper {
  display: flex;
  justify-content: center;
}

.tooltip {
  position: absolute;
  z-index: $tooltipZIndex;
  display: none;
  padding: $paddingMedium;
  border: 1px solid var(--primaryStrokeColor);
  border-radius: $primaryBorderRadius;
  animation: tooltipAppear 1s ease forwards;
  background-color: var(--quaternaryBgColor);
  color: var(--secondaryTextColor);
  cursor: pointer;
  opacity: 0;
}

.target {
  display: flex;
  align-items: center;
  &:hover + .tooltip {
    display: inline-block;
    max-width: $maxWidthBlock;
  }
}

.top {
  transform: translateY(calc(-100% - $marginBig));
}

.right {
  transform: translateY(-100%) translateX($marginBig);
}

.left {
  transform: translateY(-100%) translateX(calc(-100% - $marginBig));
}

// Don't delete empty style because it's one of default tooltip position className and can be change in the future
.bottom {
}

.bottomLeft {
  transform: translateY(0) translateX(-50%);
}

.bottomRight {
  transform: translateY(0) translateX(50%);
}

.topLeft {
  transform: translateY(calc(-100% - $marginBig)) translateX(-50%);
}

.topRight {
  transform: translateY(calc(-100% - $marginBig)) translateX(50%);
}

@keyframes tooltipAppear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
