@import "src/styles/variables";

.wrapper {
  position: relative;
}

th .wrapper {
  display: flex;
  justify-content: center;
}

.tooltip {
  position: absolute;
  z-index: $tooltipZIndex;
  display: none;
  padding: $paddingMedium;
  border-radius: $primaryBorderRadius;
  background-color: var(--secondaryBackgroundColor);
  color: var(--secondaryTextColor);
  cursor: pointer;
}

// .fixed {
//   position: fixed;
// }

.target {
  display: flex;
  align-items: center;
  &:hover + .tooltip {
    z-index: 999;
    display: block;
    display: inline-block;
  }
}

.top {
  margin-top: -$marginSmall;
  transform: translateY(-100%);
}

.right {
  margin-top: -$marginSmall;
  transform: translateX(100%);
  // top: 50%;
  // right: -5px;
  // transform: translateX(100%) translateY(-50%);
}

.bottom {
  // margin-top: -$marginSmall;
  transform: translateY(100%);
  // bottom: -5px;
  // left: 50%;
  // transform: translateY(100%) translateX(-50%);
}

.left {
  // margin-top: -$marginSmall;
  transform: translateX(-100%);
  // top: 50%;
  // left: -5px;
  // transform: translateX(-100%) translateY(-50%);
}
