@import "src/styles/variables";

.AccordionHeader {
    display: flex;
}

.AccordionTrigger {
    background-color: transparent;
    padding: 1% 4%;
    min-height: 45px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    line-height: 1;
    color: $green;
    box-shadow: 0 1px 0 $green;
}

.AccordionTrigger:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.AccordionTrigger[data-state='open'] > .AccordionChevron {
    transform: rotate(180deg);
}

.AccordionChevron {
    flex-shrink: 0;
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
