@import "src/styles/variables";

.aboutProjectPageWrapper {
  width: 100%;
}

.title {
  text-align: center;
}

.subtitle {
  margin-bottom: $marginSmall;
  text-align: center;
}

.aboutBlock {
  align-items: center;
  padding: $paddingVerticalBlockBig;
  border-radius: $containerBorderRadius $containerBorderRadius 0 0;
  background-color: var(--secondaryBgColor);
  gap: $gapExtraSmall;
}

.aboutDescription {
  width: 100%;
  max-width: $maxWidthLandingContainer;
  align-items: center;
  justify-content: center;
  margin-top: $marginBig;
  background-color: transparent;
}

.aboutTextBlock {
  flex: 1 1 70%;
  padding: $paddingMedium;
  gap: $gapBig;
}

.logoAbout {
  height: auto;
  flex: 1 1 30%;
  padding: $paddingMedium;
  @media (max-width: $mediaWidthTablet) {
    display: none;
  }
}

.ourTeamBlock {
  width: 100%;
  padding: $paddingExtraMedium $paddingSmall;
  gap: $gapBig;
  text-align: center;
}

.ourTeamMembers {
  max-width: $maxWidthLandingContainer;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: $gapLarge;
}

.accordionSection {
  align-items: center;
  padding: $paddingExtraMedium $paddingSmall;
  background-color: var(--tertiaryBgColor);
  gap: $gapBig;
}

.accordion {
  width: 100%;
  max-width: $maxWidthLandingContainer;
  padding: 0 $paddingMedium;
}
