@import "src/styles/variables";

$editableTimeWidth: 40px;
$listLeftMargin: 20px;

.editableTime {
  width: $editableTimeWidth;
  text-align: right;
}

.summarySection {
  display: flex;
  width: 100%;
  align-items: end;
  justify-content: space-between;
  font-weight: bold;
}

.flatButton {
  width: 20px;
  height: 20px;
  padding: 0;
  line-height: 20px;
  text-align: center;
}

.summaryText {
  text-wrap: nowrap;
}

.numberedList {
  width: calc(100% - $listLeftMargin);
  flex: 1 0 auto;
  margin-left: $listLeftMargin;
}

.numberedList li:last-child {
  margin-bottom: $defaultMargin;
}

.comment {
  list-style: none;
}

.comment:last-child {
  margin-bottom: $defaultMargin;
}

.numberedListItem {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dotted var(--primaryBorderColor);
}

.editableTextarea {
  flex-grow: 1;
  textarea {
    width: 100%;
  }
}

.icon {
  min-width: 15px;
  min-height: 15px;
  margin-left: 5px;
}

.icon:hover {
  cursor: pointer;
}

.horizontalContainer {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.dateCell {
  display: block;
  min-width: $minWidthDate;
  hyphens: none;
}

.checkbox {
  margin-right: $defaultSmallMargin;
}
