@import "src/styles/variables";

$editableTimeWidth: 40px;
$listLeftMargin: 20px;

.editableTime {
  width: $editableTimeWidth;
  text-align: right;
}

.summarySection {
  display: flex;
  width: 100%;
  align-items: end;
  justify-content: space-between;
  padding-top: 5px;
  border-top: 2px solid $borderBlack;
  font-weight: bold;
}

.flatButton {
  height: 20px;
}

.summaryText {
  text-wrap: nowrap;
}

.cell {
}

.numberedList {
  width: calc(100% - $listLeftMargin);
  margin-left: $listLeftMargin;
}

.numberedListItem {
  justify-content: space-between;
  border-bottom: 1px dotted $borderBlack;
}

.editableTextarea {
  flex-grow: 1;
  textarea {
    width: 100%;
  }
}
