services:
  postgres-general:
    build:
      context: .
      dockerfile: ./postgres/postgres-general.Dockerfile
    container_name: postgres-general
    ports:
      - "5432:5432"
    volumes:
      - postgres-general:/var/lib/postgresql/data
    env_file:
      - ./mw-server/.env
    networks:
      - app-network

  mw-server:
    image: viktarveratsennikau/masters-way-mw-server:latest
    build:
      context: .
      dockerfile: ./mw-server/Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - postgres-general
    networks:
      - app-network

  mw-general-bff:
    image: viktarveratsennikau/masters-way-mw-general-bff:latest
    build:
      context: .
      dockerfile: ./mw-general-bff/Dockerfile
    ports:
      - "7995:7995"
    depends_on:
      - mw-server
    networks:
      - app-network

  postgres-chat:
    build:
      context: .
      dockerfile: ./postgres/postgres-chat.Dockerfile
    container_name: postgres-chat
    ports:
      - "5433:5432"
    volumes:
      - postgres-chat:/var/lib/postgresql/data
    env_file:
      - ./mw-chat/.env
    networks:
      - app-network

  mw-chat:
    image: viktarveratsennikau/masters-way-mw-chat:latest
    build:
      context: .
      dockerfile: ./mw-chat/Dockerfile
    ports:
      - "8001:8001"
    depends_on:
      - postgres-chat
    networks:
      - app-network

  mw-chat-bff:
    image: viktarveratsennikau/masters-way-mw-chat-bff:latest
    build:
      context: .
      dockerfile: ./mw-chat-bff/Dockerfile
    ports:
      - "7999:7999"
    depends_on:
      - mw-chat
    networks:
      - app-network

  mw-chat-websocket:
    image: viktarveratsennikau/masters-way-mw-chat-websocket:latest
    build:
      context: .
      dockerfile: ./mw-chat-websocket/Dockerfile
    ports:
      - "7994:7994"
    depends_on:
      - mw-chat-bff
    networks:
      - app-network

  postgres-training:
    build:
      context: .
      dockerfile: ./postgres/postgres-training.Dockerfile
    container_name: postgres-training
    ports:
      - "5440:5432"
    volumes:
      - postgres-training:/var/lib/postgresql/data
    env_file:
      - ./mw-training/.env
    networks:
      - app-network

  mw-training:
    image: viktarveratsennikau/masters-way-mw-training:latest
    build:
      context: .
      dockerfile: ./mw-training/Dockerfile
    ports:
      - "8008:8008"
    depends_on:
      - postgres-training
    networks:
      - app-network

  mw-training-bff:
    image: viktarveratsennikau/masters-way-mw-training-bff:latest
    build:
      context: .
      dockerfile: ./mw-training-bff/Dockerfile
    ports:
      - "7992:7992"
    depends_on:
      - mw-training
    networks:
      - app-network

  mw-test-websocket:
    image: viktarveratsennikau/masters-way-mw-test-websocket:latest
    build:
      context: .
      dockerfile: ./mw-test-websocket/Dockerfile
    ports:
      - "7991:7991"
    depends_on:
      - mw-training-bff
    networks:
      - app-network

  postgres-storage:
    build:
      context: .
      dockerfile: ./postgres/postgres-storage.Dockerfile
    container_name: postgres-storage
    ports:
      - "5435:5432"
    volumes:
      - postgres-storage:/var/lib/postgresql/data
    env_file:
      - ./mw-storage/.env
    networks:
      - app-network

  mw-storage:
    image: viktarveratsennikau/masters-way-mw-storage:latest
    build:
      context: .
      dockerfile: ./mw-storage/Dockerfile
    ports:
      - "8003:8003"
    depends_on:
      - postgres-storage
    networks:
      - app-network

  postgres-mail:
    build:
      context: .
      dockerfile: ./postgres/postgres-mail.Dockerfile
    container_name: postgres-mail
    ports:
      - "5438:5432"
    volumes:
      - postgres-mail:/var/lib/postgresql/data
    env_file:
      - ./mw-mail/.env
    networks:
      - app-network

  mw-mail:
    image: viktarveratsennikau/masters-way-mw-mail:latest
    build:
      context: .
      dockerfile: ./mw-mail/Dockerfile
    ports:
      - "8006:8006"
    depends_on:
      - postgres-mail
    networks:
      - app-network

  postgres-survey:
    build:
      context: .
      dockerfile: ./postgres/postgres-survey.Dockerfile
    container_name: postgres-survey
    ports:
      - "5436:5432"
    volumes:
      - postgres-survey:/var/lib/postgresql/data
    env_file:
      - ./mw-survey/.env
    networks:
      - app-network

  mw-survey:
    image: viktarveratsennikau/masters-way-mw-survey:latest
    build:
      context: .
      dockerfile: ./mw-survey/Dockerfile
    ports:
      - "8004:8004"
    depends_on:
      - postgres-survey
    networks:
      - app-network

  postgres-notification:
    build:
      context: .
      dockerfile: ./postgres/postgres-notification.Dockerfile
    container_name: postgres-notification
    ports:
      - "5434:5432"
    volumes:
      - postgres-notification:/var/lib/postgresql/data
    env_file:
      - ./mw-notification/.env
    networks:
      - app-network

  mw-notification-bff:
    image: viktarveratsennikau/masters-way-mw-notification-bff:latest
    build:
      context: .
      dockerfile: ./mw-notification-bff/Dockerfile
    ports:
      - "7993:7993"
    depends_on:
      - mw-notification
    networks:
      - app-network

  mw-notification:
    image: viktarveratsennikau/masters-way-mw-notification:latest
    build:
      context: .
      dockerfile: ./mw-notification/Dockerfile
    ports:
      - "8002:8002"
    depends_on:
      - postgres-notification
    networks:
      - app-network

  mw-notification-websocket:
    image: viktarveratsennikau/masters-way-mw-notification-websocket:latest
    build:
      context: .
      dockerfile: ./mw-notification-websocket/Dockerfile
    ports:
      - "7996:7996"
    depends_on:
      - mw-notification-bff
    networks:
      - app-network

  # grafana:
  #   image: viktarveratsennikau/masters-way-mw-grafana:latest
  #   build:
  #     context: .
  #     dockerfile: ./grafana/Dockerfile
  #   container_name: grafana
  #   ports:
  #     - "9876:3000"
  #   env_file:
  #     - ./grafana/.env
  #   depends_on:
  #     - postgres-general
  #     - postgres-chat
  #     - postgres-storage
  #     - postgres-mail
  #     - postgres-survey
  #     - postgres-notification
  #   networks:
  #     - app-network

  nginx:
    image: nginx:1.24.0-alpine
    container_name: nginx
    ports:
      - "443:443"
    volumes:
      - ./gateway/nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt/live/mastersway.duckdns.org/privkey.pem:/etc/nginx/server.key:ro
      - /etc/letsencrypt/live/mastersway.duckdns.org/fullchain.pem:/etc/nginx/server.crt:ro
    depends_on:
      - mw-server
      - mw-chat
      - mw-chat-bff
      - mw-chat-websocket
      - mw-notification
      - mw-notification-bff
      - mw-notification-websocket
      - mw-survey
      - mw-storage
      - mw-mail
    networks:
      - app-network

volumes:
  postgres-general:
  postgres-chat:
  postgres-storage:
  postgres-mail:
  postgres-survey:
  postgres-notification:
  postgres-training:

networks:
  app-network:
    driver: bridge