@import "src/styles/variables";
@import "src/styles/mixins";

.chatTrigger {
  position: fixed;
  right: 0;
  bottom: $marginBig;
  width: 50px;
  height: 180px;
  padding: $paddingBig $paddingMedium;
  border: $primaryBorder solid var(--secondaryStrokeColor);
  border-radius: $primaryBorderRadius;
  background-color: var(--generalPrimaryColor);

  & svg {
    stroke: var(--secondaryStrokeColor);
  }

  &:hover {
    background-color: var(--quaternaryBgColor);
    cursor: pointer;
  }
}

.chatIcon {
  margin-bottom: $marginMedium;
}

.chatTriggerText {
  text-wrap: nowrap;
  transform: rotate(90deg);
}

.chatHeader {
  align-items: center;
  justify-content: space-between;
  padding: $paddingBig;
  background-color: var(--generalPrimaryColor);
  color: var(--secondaryTextColor);
}

.removeButton {
  &:hover {
    cursor: pointer;
  }
}

.removeIcon {
  stroke: var(--secondaryIconBgColor);
}

// Modal
$modal-close-btn-top: 10px;
$modal-close-btn-right: 10px;
$modal-close-btn-size: 25px;
$modal-animation-time: 150ms;

.chatOverlay {
  position: fixed;
  z-index: $modalZIndex;
  animation: overlayShow $modal-animation-time cubic-bezier(0.16, 1, 0.3, 1);
  background-color: var(--overlayBgColor);
  inset: 0;
}

.chatContent {
  position: fixed;
  z-index: $modalZIndex;
  right: 0;
  bottom: 0;
  display: flex;
  overflow: auto;
  width: 70%;
  height: 100%;
  border: $primaryBorder solid var(--primaryStrokeColor);
  animation: contentShow $modal-animation-time cubic-bezier(0.16, 1, 0.3, 1);
}

.chatContainer {
  display: grid;
  width: 100%;
  grid-template-rows: auto 1fr;
}

.chatContactsMessages {
  gap: 0;
}

.contacts {
  padding: $paddingMedium $paddingLarge;
  background-color: var(--tertiaryBgColor);
  gap: $gapBig;
}

.chatList {
  gap: $gapMedium;
  overflow-y: auto;
}

.chatItem {
  max-width: $minWidthBlock;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.chatBlock {
  flex: 1;
  background-color: var(--secondaryBgColor);
}

.chatInfo {
  justify-content: space-between;
  padding: $paddingMedium;
  border-bottom: $primaryBorder solid var(--primaryStrokeColor);
}

.messageList {
  padding: $paddingMedium;
}

.messageInputBlock {
  justify-content: space-between;
  padding: $paddingBig;
  background-color: var(--tertiaryBgColor);
  gap: $gapExtraBig;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: $mediaWidthTabletBig) {
  .chatContent {
    width: 100%;
  }
}

@media (max-width: $mediaWidthTablet) {
  .chatItem {
    max-width: 50px;
  }
}
