@import "src/styles/variables.scss";
@import "src/styles/mixins.scss";

.errorPageContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: $font-size-large;
  @include title;
}
