DB_DRIVER=postgres
# for development in docker-compose (for frontend development)
DB_SOURCE=postgresql://root:secret@postgres:5432/mastersway_db?sslmode=disable
# for local development (when running all servicies for QA purposes)
# DB_SOURCE=postgresql://root:secret@localhost:5432/mastersway_db?sslmode=disable
POSTGRES_USER=root
POSTGRES_PASSWORD=secret
POSTGRES_DB=mastersway_db
SERVER_ADDRESS=8000
# "dev" or "prod"
ENV_TYPE=dev
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=