POSTGRES_USER=root
POSTGRES_PASSWORD=secret
POSTGRES_DB=mastersway_db
SERVER_ADDRESS=8000
# "dev" or "prod"
ENV_TYPE=dev
GOOGLE_CLIENT_ID=
GOOGLE_SECRET_ID=
SECRET_SESSION_KEY=
WEBAPP_BASE_URL=http://localhost:5173
GEMINI_API_KEY=
# Available models https://ai.google.dev/gemini-api/docs/models/gemini#model-variations
GEMINI_MODEL=gemini-1.5-flash


# for development in docker-compose
DB_SOURCE=postgresql://root:secret@postgres-general:5432/mastersway_db?sslmode=disable
API_BASE_URL=http://localhost:5173
# for local development
#DB_SOURCE=postgresql://root:secret@localhost:5432/mastersway_db?sslmode=disable
#API_BASE_URL=http://localhost:8000