@import "src/styles/variables";

.skill {
  display: inline-block;
  height: 16px;
  border: 1px solid var(--primaryStrokeColor);
  border-radius: $tagBorderRadius;
  background-color: var(--primaryBgColor);
  color: var(--primaryTextColor);
  font-size: $fontSizeSmall;
  padding-inline: $paddingMedium;
}
