@import "src/styles/variables";

.skill {
  display: inline-block;
  height: 16px;
  padding: 1px $paddingMedium;
  border-radius: $tagBorderRadius;
  background-color: var(--primaryBgColor);
  color: var(--primaryTextColor);
  font-size: $fontSizeSmall;
}
