@import "src/styles/variables";
@import "src/styles/mixins";

.noticeViewport {
  position: fixed;
  right: 0;
  bottom: 0;
  width: $notice-width;
  max-width: $notice-max-width;
  margin: $notice-margin;
  list-style: none;
}

.noticeRoot {
  padding: $notice-padding;
  border-radius: $notice-radius;
  background-color: $white;
  box-shadow:
    $grey-35-transparent 0 10px 38px -10px,
    $grey-20-transparent 0 10px 20px -15px;

  &[data-state="open"] {
    animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  &[data-state="closed"] {
    animation: hide 100ms ease-in;
  }

  &[data-swipe="move"] {
    transform: translateX(var(--radix-toast-swipe-move-x));
  }

  &[data-swipe="cancel"] {
    transform: translateX(0);
    transition: transform 200ms ease-out;
  }

  &[data-swipe="end"] {
    animation: swipeOut 100ms ease-out;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }

  to {
    transform: translateX(100%);
  }
}

.closeButton {
  @include closeButton($notice-close-button-top, $notice-close-button-right, $notice-close-button-size);
}
