@import "src/styles/variables";

.pricingPageWrapper {
  width: 100%;
}

.pricingBlock {
  align-items: center;
  padding: $paddingVerticalBlockBig $paddingMedium;
  border-radius: $containerBorderRadius $containerBorderRadius 0 0;
  background-color: var(--secondaryBgColor);
  gap: $gapBig;
  text-align: center;
  @include backgroundImage;

  @media only screen and (max-width: $mediaWidthMobileMedium) {
    padding: $paddingExtraMedium;
  }
}

.pricingTitle {
  max-width: $maxWidthBlock;

  & h2 {
    font-size: $fontSizeTitleBig;
  }
}

.pricingDescription {
  max-width: $maxWidthBlock;
}

.planItems {
  max-width: $maxWidthContainer;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: $paddingBig $paddingMedium;
  gap: $gapBig;
}
