@import "src/styles/variables";

$projectCollectionCardMainHeight: 76px;
$projectCollectionCardAdditionalHeight: 47px;
$titleWithBurgerBlockHeight: 32px;

.projectCardContainer {
  width: 100%;
  border: $primaryBorder solid var(--primaryStrokeColor);
  border-radius: $primaryBorderRadius;
  cursor: pointer;
  @include scaleOnHover;
}

.projectButton {
  padding: 0;
  border: none;
  margin-bottom: auto;
}

.mainInfo {
  height: $projectCollectionCardMainHeight;
  padding: $paddingMedium;
  background-color: var(--mainInfoCardColor);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  gap: $gapSmall;
  text-align: left;
}

.headingLevelH3 {
  font-size: $fontSizeBig;

  @media (max-width: $mediaWidthMobileBig) {
    font-size: $fontSizeMedium;
  }
}

.title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  color: var(--secondaryTextColor);
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

.projectTitleBlock {
  min-height: $titleWithBurgerBlockHeight;
  align-items: center;
  justify-content: space-between;
}

.description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  color: var(--secondaryTextColor);
  font-size: $fontSizeMedium;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

.additionalInfo {
  height: $projectCollectionCardAdditionalHeight;
  padding: $paddingMedium;
  background-color: var(--additionalInfoCardBgColor);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  color: var(--primaryTextColor);
  font-size: $fontSizeBig;
  font-weight: $fontWeightBold;
}
