@import "src/styles/variables";

.problemItem {
  gap: 0;

  @media (max-width: $mediaWidthMobileBig) {
    flex-direction: column;
    align-items: center;
  }
}

.problemImageContainer {
  flex: 1;
}

.problemImage {
  max-width: 100%;
}

.problemContentBlock {
  flex: 2;
  justify-content: center;
  padding: calc($paddingLarge * 2);
  background-color: var(--primaryBgColor);
  border-bottom-left-radius: $primaryBorderRadius;
  border-top-left-radius: $primaryBorderRadius;
  gap: $gapBig;

  @media (max-width: $mediaWidthTablet) {
    padding: $paddingLarge;
  }
}

.problemContentBlockReversed {
  align-items: flex-end;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: $primaryBorderRadius;
  border-top-left-radius: 0;
  border-top-right-radius: $primaryBorderRadius;
}

.problemTitleDescription,
.problemTitle {
  width: 60%;

  @media (max-width: $mediaWidthTabletBig) {
    width: 100%;
  }
}

.button {
  align-self: flex-start;
}

.buttonReversed {
  align-self: flex-end;
}

.reversed {
  flex-direction: row-reverse;

  @media (max-width: $mediaWidthMobileBig) {
    flex-direction: column;
  }
}
