@import "src/styles/variables";

.notificationItem {
  width: 100%;
  border-radius: $secondaryBorderRadius;
  cursor: pointer;
  gap: $gapExtraSmall;

  &:hover {
    background-color: var(--hoverBgColor);
  }
}

.notificationBlock {
  overflow: hidden;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: $paddingExtraSmall;
}

.notRead {
  background-color: var(--tertiaryBgColor);
}

.notificationTexts {
  width: calc(100% - $iconSizeSmall - $gapSmall);
  padding: $paddingExtraSmall 0;
}

.notificationLink {
  width: 100%;
  text-decoration: none;
}

.notificationDescription {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  font-size: $fontSizeSmall;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

.spaceForArrow {
  width: $iconSizeSmall;
  flex-shrink: 1;
}
