@import "src/styles/variables";

$iconContainerSize: 20px;

.iconWrapper {
  display: flex;
  width: $iconContainerSize;
  height: $iconContainerSize;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;

  @media (max-width: $mediaWidthMobileMedium) {
    display: none;
  }
}
