@import "src/styles/variables";

.pricePlanCard {
  width: $pricePlanCardWidth;
  padding: $paddingExtraMedium $paddingBig;
  border: $primaryBorder solid var(--generalPrimaryColor);
  border-radius: $quintupleBorderRadius;
  background-color: var(--tertiaryBgColor);
  color: var(--primaryTextColor);
  gap: $gapMedium;
  text-align: left;
}

.dark {
  background-color: var(--quaternaryBgColor);
  color: var(--secondaryTextColor);

  svg {
    stroke: var(--secondaryStrokeColor);
  }
}

.planCapabilities {
  flex: 1;
  gap: $gapSmall;
}

.buyPlanButton {
  margin: 0 auto;
}

.priceAmount {
  font-size: $fontSizeTitleMedium;
  font-weight: $fontWeightBold;
}

.measurement {
  color: var(--tertiaryTextColor);
  font-size: $fontSizeBig;
  font-weight: $fontWeightRegular;
  vertical-align: middle;
}
