basePath: /notification
definitions:
  schemas.CreateNotificationPayload:
    properties:
      description:
        type: string
      nature:
        type: string
      url:
        type: string
    required:
    - description
    - nature
    - url
    type: object
  schemas.EnabledNotificationResponse:
    properties:
      channel:
        type: string
      isEnabled:
        type: boolean
      nature:
        type: string
      userUuid:
        type: string
      uuid:
        type: string
    required:
    - channel
    - isEnabled
    - nature
    - userUuid
    - uuid
    type: object
  schemas.GetEnabledNotificationListResponse:
    properties:
      enabledNotifications:
        items:
          $ref: '#/definitions/schemas.EnabledNotificationResponse'
        type: array
    required:
    - enabledNotifications
    type: object
  schemas.GetNotificationListResponse:
    properties:
      notifications:
        items:
          $ref: '#/definitions/schemas.NotificationResponse'
        type: array
      size:
        type: integer
    required:
    - notifications
    - size
    type: object
  schemas.NotificationResponse:
    properties:
      createdAt:
        type: string
      description:
        type: string
      isRead:
        type: boolean
      nature:
        type: string
      url:
        type: string
      userUuid:
        type: string
      uuid:
        type: string
    required:
    - createdAt
    - description
    - isRead
    - nature
    - url
    - userUuid
    - uuid
    type: object
  schemas.UpdateEnabledNotificationPayload:
    properties:
      isEnabled:
        type: boolean
    required:
    - isEnabled
    type: object
  schemas.UpdateNotificationPayload:
    properties:
      isRead:
        type: boolean
    required:
    - isRead
    type: object
info:
  contact: {}
  title: Masters way notification API
  version: "1.0"
paths:
  /dev/resetDb:
    get:
      description: resets db
      responses:
        "204":
          description: No Content
      summary: resets db
      tags:
      - dev
  /enabledNotifications:
    get:
      consumes:
      - application/json
      operationId: get-enabledNotification-list
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/schemas.GetEnabledNotificationListResponse'
      summary: Get enabledNotification list by user id
      tags:
      - enabledNotification
    post:
      consumes:
      - application/json
      operationId: create-enabledNotification
      produces:
      - application/json
      responses:
        "204":
          description: No Content
      summary: Create a new enabledNotifications
      tags:
      - enabledNotification
  /enabledNotifications/{enabledNotificationId}:
    patch:
      consumes:
      - application/json
      operationId: update-enabledNotification
      parameters:
      - description: query params
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/schemas.UpdateEnabledNotificationPayload'
      - description: notification id
        in: path
        name: enabledNotificationId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/schemas.EnabledNotificationResponse'
      summary: Update enabledNotification by id
      tags:
      - enabledNotification
  /notifications:
    get:
      consumes:
      - application/json
      operationId: get-notification-list
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/schemas.GetNotificationListResponse'
      summary: Get notification list by user id
      tags:
      - notification
    post:
      consumes:
      - application/json
      operationId: create-notification
      parameters:
      - description: query params
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/schemas.CreateNotificationPayload'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/schemas.NotificationResponse'
      summary: Create a new notification
      tags:
      - notification
  /notifications/{notificationId}:
    patch:
      consumes:
      - application/json
      operationId: update-notification
      parameters:
      - description: query params
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/schemas.UpdateNotificationPayload'
      - description: notification id
        in: path
        name: notificationId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/schemas.NotificationResponse'
      summary: Update notification by id
      tags:
      - notification
swagger: "2.0"
