@import "src/styles/variables";

$wayCardMainHeight: 190px;
$trainingCardAdditionalHeight: 82px;

.cardLink {
  text-decoration: none;
}

.testCardContainer {
  overflow: hidden;
  border: $primaryBorder solid var(--primaryStrokeColor);
  border-radius: $secondaryBorderRadius;
  cursor: pointer;
  @include scaleOnHover;
}

.mainInfo {
  height: $wayCardMainHeight;
  padding: $paddingMedium;
  background-color: var(--mainInfoCardColor);
  gap: $gapSmall;
}

.title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  color: var(--secondaryTextColor);
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  white-space: initial;
}

.testDescription {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  color: var(--secondaryTextColor);
  font-size: $fontSizeBig;
  -webkit-line-clamp: 4;
  overflow-wrap: anywhere;
  text-overflow: ellipsis;
  white-space: initial;
}

.additionalInfo {
  min-height: $trainingCardAdditionalHeight;
  padding: $paddingMedium;
  background-color: var(--additionalInfoCardBgColor);
  color: var(--primaryTextColor);
  font-size: $fontSizeMedium;
  gap: $gapSmall;
}

.trainingTags {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: auto;
  -webkit-box-orient: vertical;
  gap: $gapSmall;
  -webkit-line-clamp: 1;
  margin-top: auto;
}

.nameLikes {
  align-items: center;
  justify-content: space-between;
}

.likes {
  flex-shrink: 0;
  align-items: center;
  color: var(--secondaryTextColor);
  gap: $gapMedium;
}

.icon {
  margin-right: $marginSmall;
  stroke: var(--secondaryStrokeColor);
}

.people {
  align-items: center;
  justify-content: space-between;
}

.owner {
  align-items: center;
}

.avatar {
  flex-shrink: 0;
}

.mentors {
  overflow: hidden;
  align-items: center;
  font-size: $fontSizeMedium;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dates {
  justify-content: space-between;
}

.dateText {
  flex-wrap: wrap;
}

.dateValue {
  font-weight: $fontWeightBold;
}