basePath: /chat
definitions:
  mw-chat_internal_schemas.CreateMessagePayload:
    properties:
      message:
        type: string
      roomId:
        type: string
    required:
    - message
    - roomId
    type: object
  mw-chat_internal_schemas.CreateMessageResponse:
    properties:
      message:
        $ref: '#/definitions/mw-chat_internal_schemas.MessageResponse'
      users:
        items:
          type: string
        type: array
    required:
    - message
    - users
    type: object
  mw-chat_internal_schemas.CreateRoomPayload:
    properties:
      name:
        type: string
        x-nullable: true
      roomType:
        type: string
      userId:
        type: string
        x-nullable: true
    required:
    - roomType
    type: object
  mw-chat_internal_schemas.FindOrCreateRoomResponse:
    properties:
      isAlreadyCreated:
        type: boolean
      room:
        $ref: '#/definitions/mw-chat_internal_schemas.RoomPopulatedResponse'
    required:
    - isAlreadyCreated
    - room
    type: object
  mw-chat_internal_schemas.GetChatPreviewResponse:
    properties:
      unreadMessagesAmount:
        type: integer
    required:
    - unreadMessagesAmount
    type: object
  mw-chat_internal_schemas.GetRoomsResponse:
    properties:
      rooms:
        items:
          $ref: '#/definitions/mw-chat_internal_schemas.RoomPreviewResponse'
        type: array
      size:
        type: integer
    required:
    - rooms
    - size
    type: object
  mw-chat_internal_schemas.MessageReader:
    properties:
      readDate:
        type: string
      userId:
        type: string
    required:
    - readDate
    - userId
    type: object
  mw-chat_internal_schemas.MessageResponse:
    properties:
      message:
        type: string
      messageId:
        type: string
      messageReaders:
        items:
          $ref: '#/definitions/mw-chat_internal_schemas.MessageReader'
        type: array
      ownerId:
        type: string
    required:
    - message
    - messageId
    - messageReaders
    - ownerId
    type: object
  mw-chat_internal_schemas.RoomPopulatedResponse:
    properties:
      isBlocked:
        type: boolean
      messages:
        items:
          $ref: '#/definitions/mw-chat_internal_schemas.MessageResponse'
        type: array
      name:
        type: string
        x-nullable: true
      roomId:
        type: string
      roomType:
        type: string
      unreadMessagesAmount:
        type: integer
      users:
        items:
          $ref: '#/definitions/mw-chat_internal_schemas.UserResponse'
        type: array
    required:
    - isBlocked
    - messages
    - name
    - roomId
    - roomType
    - unreadMessagesAmount
    - users
    type: object
  mw-chat_internal_schemas.RoomPreviewResponse:
    properties:
      isBlocked:
        type: boolean
      name:
        type: string
        x-nullable: true
      roomId:
        type: string
      roomType:
        type: string
      unreadMessagesAmount:
        type: integer
      users:
        items:
          $ref: '#/definitions/mw-chat_internal_schemas.UserResponse'
        type: array
    required:
    - isBlocked
    - name
    - roomId
    - roomType
    - unreadMessagesAmount
    - users
    type: object
  mw-chat_internal_schemas.UpdateMessageStatusPayload:
    properties:
      isRead:
        type: boolean
    required:
    - isRead
    type: object
  mw-chat_internal_schemas.UserResponse:
    properties:
      role:
        type: string
      userId:
        type: string
    required:
    - role
    - userId
    type: object
info:
  contact: {}
  title: Masters way chat API
  version: "1.0"
paths:
  /dev/reset-db:
    get:
      description: resets db
      responses:
        "204":
          description: No Content
      summary: resets db
      tags:
      - dev
  /messages:
    post:
      consumes:
      - application/json
      operationId: create-message
      parameters:
      - description: query params
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/mw-chat_internal_schemas.CreateMessagePayload'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/mw-chat_internal_schemas.CreateMessageResponse'
      summary: Create message
      tags:
      - message
  /messages/{messageId}/message-status:
    patch:
      consumes:
      - application/json
      description: Update message status by message Id
      operationId: update-message-status
      parameters:
      - description: query params
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/mw-chat_internal_schemas.UpdateMessageStatusPayload'
      - description: message Id
        in: path
        name: messageId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "204":
          description: No Content
      summary: Update message status
      tags:
      - message
  /rooms:
    post:
      consumes:
      - application/json
      operationId: find-or-create-room
      parameters:
      - description: query params
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/mw-chat_internal_schemas.CreateRoomPayload'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/mw-chat_internal_schemas.FindOrCreateRoomResponse'
      summary: Find or create room for user
      tags:
      - room
  /rooms/{roomId}:
    get:
      consumes:
      - application/json
      operationId: get-room-by-id
      parameters:
      - description: room Id
        in: path
        name: roomId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/mw-chat_internal_schemas.RoomPopulatedResponse'
      summary: Get room by id
      tags:
      - room
    patch:
      consumes:
      - application/json
      operationId: update-room
      parameters:
      - description: room Id
        in: path
        name: roomId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/mw-chat_internal_schemas.RoomPopulatedResponse'
      summary: Update room for user
      tags:
      - room
  /rooms/{roomId}/users/{userId}:
    delete:
      consumes:
      - application/json
      operationId: delete-user-from-room
      parameters:
      - description: room Id
        in: path
        name: roomId
        required: true
        type: string
      - description: user Id to delete
        in: path
        name: userId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
      summary: Delete user from room
      tags:
      - room
    post:
      consumes:
      - application/json
      operationId: add-user-to-room
      parameters:
      - description: room Id
        in: path
        name: roomId
        required: true
        type: string
      - description: user Id to delete
        in: path
        name: userId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/mw-chat_internal_schemas.RoomPreviewResponse'
      summary: Add user to room
      tags:
      - room
  /rooms/list/{roomType}:
    get:
      consumes:
      - application/json
      operationId: get-rooms
      parameters:
      - description: 'room type: private | group'
        enum:
        - private
        - group
        in: path
        name: roomType
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/mw-chat_internal_schemas.GetRoomsResponse'
      summary: Get rooms for user
      tags:
      - room
  /rooms/preview:
    get:
      consumes:
      - application/json
      operationId: get-chat preview
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/mw-chat_internal_schemas.GetChatPreviewResponse'
      summary: Get chat preview
      tags:
      - room
swagger: "2.0"
