@import "src/styles/variables";

.goalItem {
  width: 30%;
  min-width: $minWidthBlock;
  justify-content: flex-start;
  gap: $gapMedium;
}

.goalTitle {
  font-size: $fontSizeTitleSmall;
  text-align: left;
}

.goalDescription {
  line-height: $lineHeightPrimary;
  text-align: left;
}
