@import "src/styles/variables";

$iconContainerSize: 25px;
$labelMaxWidthBlock: 650px;

.container {
  width: 100%;
  max-width: $maxWidthContainer;
  margin-top: $headerHeight;
  gap: $gapSmall;

  &::-webkit-scrollbar {
    display: none;
  }
}

.trainingName {
  flex: 1;
  input {
    width: $minWidthBlock;
    height: $heightH2;
    margin-top: $marginMedium;
    margin-bottom: $marginMedium;
  }
}

.trainingInfo {
  @include regularContainer;
  min-width: $minWidthBlock;
  gap: $gapSmall;
}

.trainingTitleBlock {
  align-items: baseline;
  justify-content: space-between;
}

.trainingActionsIcon {
  height: 38px;
  padding: 0 $paddingSmall;
}

.trainingTagsContainer {
  flex-wrap: wrap;
  align-items: center;
}

.peopleBlock {
  @include regularContainer;
  min-width: $minWidthBlock;
  gap: $gapSmall;
}

.ownerBlock {
  flex-wrap: wrap;
}

.trainingActionMenu {
  left: -150px;
  width: 200px;
}

.privacyBlock {
  align-items: baseline;
}

.mentors {
  display: flex;
  font-size: $fontSizeBig;
}

.trainingDashboard {
  gap: $gapSmall;
  grid-template-columns: minmax($mediumWidthBlock, 2fr) minmax(
      $mediumWidthBlock,
      3fr
    );

  @media (max-width: $mediaWidthTabletBig) {
    grid-template-columns: minmax($minWidthBlock, 1fr);
  }
}

.trainingDashBoardLeft {
  gap: $gapSmall;
}

.trainingActionButtons {
  align-items: start;
}

.trainingName {
  flex: 1;
  input {
    width: $minWidthBlock;
    height: $heightH2;
    margin-top: $marginMedium;
    margin-bottom: $marginMedium;
  }
}

.horizontalContainer {
  align-items: center;
  justify-content: space-between;
  gap: $gapExtraSmall;
}

.disabled {
  cursor: default;

  &:hover:enabled {
    background-color: var(--secondaryBgBtnColor);
  }

  &:active:enabled {
    border: none;
    background-color: var(--secondaryBgBtnColor);
    color: var(--primaryTextColor);
  }
}

.trainingTopics {
  @include regularContainer;
  width: 100%;
  gap: $gapSmall;
}

.generateTrainingAI {
  justify-content: center;
}
