@import "src/styles/variables";

.goalMetricsBlock {
  gap: $gapExtraSmall;
}

.generatedMetricsList {
  gap: $gapExtraSmall;
}

.addMetricButtons {
  gap: $gapExtraSmall;
}

.addMetricButton {
  inline-size: -webkit-fill-available;
}
