@import "src/styles/variables";

.horizontalContainer {
  align-items: center;
  justify-content: space-between;
  margin-bottom: $gapSmall;
  gap: $gapExtraSmall;
}

.goalMetricsBlock {
  gap: $gapExtraSmall;
}

.generatedMetricsList {
  gap: $gapExtraSmall;
}

.addMetricButtons {
  gap: $gapSmall;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
}

.addMetricButton {
  inline-size: -webkit-fill-available;
}

.notVisibleTooltip {
  display: none;
}
