@import "src/styles/variables";

.singularMetric {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  gap: $gapExtraSmall;
}

.metricDescriptionAndCheckbox {
  width: 100%;
  align-items: flex-start;
  gap: $gapExtraSmall;
}

.checkbox {
  min-width: $checkboxWidthLarge;
  min-height: $checkboxHeightLarge;
}

.checkbox::after {
  width: $checkmarkWidthLarge;
  height: $checkmarkHeightLarge;
  box-shadow: inset $checkmarkWidthLarge $checkmarkHeightLarge
    var(--secondaryStrokeColor);
}

.metricDescriptionWrapper {
  width: 100%;
}
