@import "src/styles/variables";

.goalMetricsBlock {
  gap: $gapExtraSmall;
}

.generatedMetricsList {
  gap: $gapExtraSmall;
}

.addMetricButtons {
  gap: $gapSmall;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
}

.addMetricButton {
  inline-size: -webkit-fill-available;
}
