openapi: 3.0.1
info:
  contact: {}
  title: Masters way chat API
  version: "1.0"
servers:
- url: /chat
paths:
  /dev/reset-db:
    get:
      description: resets db
      responses:
        "204":
          content: {}
          description: No Content
      summary: resets db
      tags:
      - dev
  /messages:
    post:
      operationId: create-message
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mw-chat_internal_schemas.CreateMessagePayload'
        description: query params
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mw-chat_internal_schemas.CreateMessageResponse'
          description: OK
      summary: Create message
      tags:
      - message
      x-codegen-request-body-name: request
  /messages/{messageId}/message-status:
    patch:
      description: Update message status by message Id
      operationId: update-message-status
      parameters:
      - description: message Id
        in: path
        name: messageId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mw-chat_internal_schemas.UpdateMessageStatusPayload'
        description: query params
        required: true
      responses:
        "204":
          content: {}
          description: No Content
      summary: Update message status
      tags:
      - message
      x-codegen-request-body-name: request
  /rooms:
    post:
      operationId: create-room
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mw-chat_internal_schemas.CreateRoomPayload'
        description: query params
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mw-chat_internal_schemas.RoomPopulatedResponse'
          description: OK
      summary: Create room for user
      tags:
      - room
      x-codegen-request-body-name: request
  /rooms/list/{roomType}:
    get:
      operationId: get-rooms
      parameters:
      - description: "room type: private | group"
        in: path
        name: roomType
        required: true
        schema:
          enum:
          - private
          - group
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mw-chat_internal_schemas.GetRoomsResponse'
          description: OK
      summary: Get rooms for user
      tags:
      - room
  /rooms/preview:
    get:
      operationId: get-chat preview
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mw-chat_internal_schemas.GetChatPreviewResponse'
          description: OK
      summary: Get chat preview
      tags:
      - room
  /rooms/{roomId}:
    get:
      operationId: get-room-by-id
      parameters:
      - description: room Id
        in: path
        name: roomId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mw-chat_internal_schemas.RoomPopulatedResponse'
          description: OK
      summary: Get room by id
      tags:
      - room
    patch:
      operationId: update-room
      parameters:
      - description: room Id
        in: path
        name: roomId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mw-chat_internal_schemas.RoomPopulatedResponse'
          description: OK
      summary: Update room for user
      tags:
      - room
  /rooms/{roomId}/users/{userId}:
    delete:
      operationId: delete-user-from-room
      parameters:
      - description: room Id
        in: path
        name: roomId
        required: true
        schema:
          type: string
      - description: user Id to delete
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
      summary: Delete user from room
      tags:
      - room
    post:
      operationId: add-user-to-room
      parameters:
      - description: room Id
        in: path
        name: roomId
        required: true
        schema:
          type: string
      - description: user Id to delete
        in: path
        name: userId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mw-chat_internal_schemas.RoomPreviewResponse'
          description: OK
      summary: Add user to room
      tags:
      - room
components:
  schemas:
    mw-chat_internal_schemas.CreateMessagePayload:
      properties:
        message:
          type: string
        roomId:
          type: string
      required:
      - message
      - roomId
      type: object
    mw-chat_internal_schemas.CreateMessageResponse:
      example:
        message:
          messageReaders:
          - readDate: readDate
            userId: userId
          - readDate: readDate
            userId: userId
          messageId: messageId
          message: message
          ownerId: ownerId
        users:
        - users
        - users
      properties:
        message:
          $ref: '#/components/schemas/mw-chat_internal_schemas.MessageResponse'
        users:
          items:
            type: string
          type: array
      required:
      - message
      - users
      type: object
    mw-chat_internal_schemas.CreateRoomPayload:
      properties:
        name:
          nullable: true
          type: string
        roomType:
          type: string
        userId:
          nullable: true
          type: string
      required:
      - roomType
      type: object
    mw-chat_internal_schemas.GetChatPreviewResponse:
      example:
        unreadMessagesAmount: 0
      properties:
        unreadMessagesAmount:
          type: integer
      required:
      - unreadMessagesAmount
      type: object
    mw-chat_internal_schemas.GetRoomsResponse:
      example:
        rooms:
        - isBlocked: true
          name: name
          roomId: roomId
          roomType: roomType
          users:
          - role: role
            userId: userId
          - role: role
            userId: userId
        - isBlocked: true
          name: name
          roomId: roomId
          roomType: roomType
          users:
          - role: role
            userId: userId
          - role: role
            userId: userId
        size: 0
      properties:
        rooms:
          items:
            $ref: '#/components/schemas/mw-chat_internal_schemas.RoomPreviewResponse'
          type: array
        size:
          type: integer
      required:
      - rooms
      - size
      type: object
    mw-chat_internal_schemas.MessageReader:
      example:
        readDate: readDate
        userId: userId
      properties:
        readDate:
          type: string
        userId:
          type: string
      required:
      - readDate
      - userId
      type: object
    mw-chat_internal_schemas.MessageResponse:
      example:
        messageReaders:
        - readDate: readDate
          userId: userId
        - readDate: readDate
          userId: userId
        messageId: messageId
        message: message
        ownerId: ownerId
      properties:
        message:
          type: string
        messageId:
          type: string
        messageReaders:
          items:
            $ref: '#/components/schemas/mw-chat_internal_schemas.MessageReader'
          type: array
        ownerId:
          type: string
      required:
      - message
      - messageId
      - messageReaders
      - ownerId
      type: object
    mw-chat_internal_schemas.RoomPopulatedResponse:
      example:
        isBlocked: true
        name: name
        messages:
        - messageReaders:
          - readDate: readDate
            userId: userId
          - readDate: readDate
            userId: userId
          messageId: messageId
          message: message
          ownerId: ownerId
        - messageReaders:
          - readDate: readDate
            userId: userId
          - readDate: readDate
            userId: userId
          messageId: messageId
          message: message
          ownerId: ownerId
        roomId: roomId
        roomType: roomType
        users:
        - role: role
          userId: userId
        - role: role
          userId: userId
      properties:
        isBlocked:
          type: boolean
        messages:
          items:
            $ref: '#/components/schemas/mw-chat_internal_schemas.MessageResponse'
          type: array
        name:
          nullable: true
          type: string
        roomId:
          type: string
        roomType:
          type: string
        users:
          items:
            $ref: '#/components/schemas/mw-chat_internal_schemas.UserResponse'
          type: array
      required:
      - isBlocked
      - messages
      - name
      - roomId
      - roomType
      - users
      type: object
    mw-chat_internal_schemas.RoomPreviewResponse:
      example:
        isBlocked: true
        name: name
        roomId: roomId
        roomType: roomType
        users:
        - role: role
          userId: userId
        - role: role
          userId: userId
      properties:
        isBlocked:
          type: boolean
        name:
          nullable: true
          type: string
        roomId:
          type: string
        roomType:
          type: string
        users:
          items:
            $ref: '#/components/schemas/mw-chat_internal_schemas.UserResponse'
          type: array
      required:
      - isBlocked
      - name
      - roomId
      - roomType
      - users
      type: object
    mw-chat_internal_schemas.UpdateMessageStatusPayload:
      properties:
        isRead:
          type: boolean
      required:
      - isRead
      type: object
    mw-chat_internal_schemas.UserResponse:
      example:
        role: role
        userId: userId
      properties:
        role:
          type: string
        userId:
          type: string
      required:
      - role
      - userId
      type: object
x-original-swagger-version: "2.0"
