@import "src/styles/variables";

$ModalJobTagMaxWidth: 150px;

.jobTagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: $gapSmall;
}

.jobTags {
  display: flex;
  width: $ModalJobTagMaxWidth;
  align-items: center;
  cursor: pointer;
  gap: $gapSmall;
}

.buttons {
  margin-top: $marginMedium;
}

.checkbox {
  align-self: center;
  margin-right: $marginSmall;
}
