@import "src/styles/variables";

$ModalJobTagMaxWidth: 300px;

.modalContentJobContainer{
  gap: $gapBig;
}

.jobTagsContainer {
  gap: $gapMedium;
}

.jobTags {
  display: flex;
  flex-direction: column;
  width: $ModalJobTagMaxWidth;
  cursor: pointer;
}

.buttons {
  justify-content: flex-end;
  gap: $gapMedium;
}

.checkbox {
  align-self: center;
  margin-right: $marginSmall;
}

.labelWithCheckboxBlock {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
