@import "src/styles/variables";

$iconContainerSize: 25px;

.goalSection {
  gap: $gapSmall;
}

.goalDescription {
  textarea {
    width: 100%;
  }
}

.horizontalContainer {
  align-items: flex-start;
  gap: $gapExtraSmall;
}

.iconContainer {
  width: $iconContainerSize;
  height: $iconContainerSize;
  border: none;
  background: none;
  cursor: pointer;
}
