@import "src/styles/variables";

$iconContainerSize: 25px;

.goalSection {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: $gapMedium;

  @media (max-width: $mediaWidthTabletBig) {
    width: 100%;
    flex-wrap: wrap;
  }

  @media (max-width: $mediaWidthMobileBig) {
    justify-content: center;
  }
}

.goalDescription {
  min-width: $minWidthBlock;
  max-width: $maxWidthBlock;

  textarea {
    width: 100%;
  }
}

.goalSubSection {
  max-width: $maxWidthBlock;

  @media (max-width: $mediaWidthTabletBig) {
    min-width: $minWidthBlock;
    max-width: $maxWidthBlock;
  }
}

.horizontalContainer {
  align-items: flex-start;
  gap: $gapSmall;
}

.iconContainer {
  width: $iconContainerSize;
  height: $iconContainerSize;
  border: none;
  background: none;
  cursor: pointer;
}
