@import "src/styles/variables";

.allUsersContainer {
  width: 100%;
  max-width: $maxWidthContainer;
  margin: 0 auto;
  margin-top: $headerHeight;
  gap: $gapSmall;

  &::-webkit-scrollbar {
    display: none;
  }
}

.filterView {
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  @include regularContainer;
}

.titleContainer {
  justify-content: space-between;
}

.headingLevelH2 {
  font-size: $fontSizeTitleSmall;

  @media (max-width: $mediaWidthMobileBig) {
    font-size: $fontSizeTitleExtraSmall;
  }
}

.filterBlock {
  flex-grow: 1;
  justify-content: flex-start;
}

.userCards {
  gap: $gapSmall;
  grid-template-columns: repeat(auto-fill, minmax($mediumWidthBlock, 1fr));

  @media (max-width: $mediaWidthTablet) {
    grid-template-columns: repeat(auto-fill, minmax($minWidthBlock, 1fr));
  }
}

.usersContent {
  display: grid;
  @include regularContainer;
}

.loadMoreButton {
  display: block;
  margin-top: $marginMedium;
  margin-left: auto;
}
