@import "src/styles/variables";

$userCardMinWidth: 340px;

.button {
  margin-top: $marginMedium;
}

.titleContainer {
  justify-content: space-between;
}

.searchFilter {
  max-width: $maxWidthBlock;
  padding: $paddingSmall;
  border: 2px solid var(--secondaryBorderColor);
}

.userCards {
  display: grid;
  gap: $gapMedium;
  grid-template-columns: repeat(auto-fill, minmax($userCardMinWidth, 1fr));
}

.filterView {
  width: 100%;
  justify-content: space-between;
  gap: $gapMedium;
}

.iconView {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.activeView {
  scale: 1.2;
}
