@import "src/styles/variables";

.button {
  margin-bottom: $marginMedium;
}

.titleContainer {
  justify-content: space-between;
}

.searchFilter {
  max-width: $maxWidthBlock;
  padding: $paddingSmall;
  border: 2px solid var(--secondaryBorderColor);
}
