@import "src/styles/variables";

.wrap {
  gap: $gapSmall;
}

.list {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  padding: $paddingSmall;
  border-radius: $primaryBorderRadius;
  background-color: var(--primaryBgColor);

  @media (max-width: $mediaWidthMobileMedium) {
    width: 100%;
    min-width: 100%;
  }
}

.numberedList {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  gap: $gapSmall;
  list-style-type: none;
}

.numberedListItem {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: $gapSmall;
}

.recordInfo {
  align-items: center;
}

.labelsBlock {
  gap: $gapSmall;
}

.contentBlock {
  gap: $gapExtraSmall;
}

.ownerName {
  flex: 1;
}

.tagsBlockTrigger {
  cursor: pointer;
}

.editableTime {
  min-width: 46px;
  max-width: 46px;
  cursor: pointer;
  text-align: right;
}

.addTagButton {
  padding: 0;
  border: none;
  &:hover {
    background-color: transparent;
    color: var(--primaryTextColor);
    cursor: pointer;
  }
}

.linkToOwnerWay {
  display: flex;
  align-items: center;
}

.socialMediaIcon {
  width: $iconSizeSmall;
  height: $iconSizeSmall;
}

.trashReservation {
  width: 16px;
}
