@import "src/styles/variables";

$iconContainerSize: 25px;
$labelMaxWidthBlock: 650px;

.container {
  width: 100%;
  max-width: $maxWidthContainer;
  margin-top: $headerHeight;
  gap: $gapSmall;

  &::-webkit-scrollbar {
    display: none;
  }
}

.testDashboard {
  gap: $gapSmall;
  grid-template-columns: minmax($mediumWidthBlock, 2fr) minmax(
      $mediumWidthBlock,
      3fr
    );

  @media (max-width: $mediaWidthTabletBig) {
    grid-template-columns: minmax($minWidthBlock, 1fr);
  }
}

.testInfo {
  @include regularContainer;
  min-width: $minWidthBlock;
  gap: $gapSmall;
}

.testDashBoardLeft {
  position: sticky;
  top: $headerHeight;
  max-height: calc(100vh - $headerHeight - $gapSmall);
  gap: $gapSmall;
  overflow-y: auto;

  @media (max-width: $mediaWidthTabletBig) {
    position: static;
    width: 100%;
    max-height: none;
  }
}

.testTitleBlock {
  align-items: baseline;
  justify-content: space-between;
}

.testName {
  flex: 1;

  input {
    width: $minWidthBlock;
    height: $heightH2;
    margin-top: $marginMedium;
    margin-bottom: $marginMedium;
  }
}

.testActionButtons {
  align-items: start;
}

.testActionsIcon {
  height: 38px;
  padding: 0 $paddingSmall;
}

.questions {
  gap: $gapSmall;
}

.question {
  @include regularContainer;
  width: 100%;
  gap: $gapMedium;
  scroll-margin-top: calc($headerHeight + $paddingBig);
}

.timeToAnswerBlock {
  align-items: baseline;
}

.timeToAnswerTitle {
  flex-shrink: 0;
  color: grey;
  font-size: $fontSizeMedium;
  font-style: italic;
}

.questionContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  gap: $gapSmall;
  scroll-margin-top: calc($headerHeight + $paddingBig);
}

.editableTextarea {
  width: 100%;
}

.materialShortBlock {
  align-items: center;
  justify-content: space-between;
  padding: 0 $paddingExtraSmall;
  border-radius: $primaryBorderRadius;
  cursor: pointer;

  &:hover {
    background-color: var(--tertiaryBgColor);
  }
}

.questionTitleAndActionsBlock {
  align-items: center;
  justify-content: space-between;
}

.title {
  width: 100%;
}

.generateMaterialButtons {
  align-items: center;
  justify-content: center;
}
