@import "src/styles/variables";

.textarea {
  overflow: hidden;
  background: transparent;
  color: var(--primaryTextColor);
  font: inherit;
  opacity: 0.7;
  outline: none;
  resize: none;
  white-space: pre-wrap;
}

.noBorder {
  padding: 0;
  border: none;
}

.border {
  padding: $paddingSmall;
  border: $primaryBorder solid var(--primaryStrokeColor);
  border-radius: $secondaryBorderRadius;

  &:focus {
    &::placeholder {
      opacity: 0;
      transition: opacity $primaryTransitionDuration ease-in-out;
    }
  }
}
