@import "src/styles/variables";

.cellWrapper {
  height: 100%;
  padding: $paddingSmall;
}

.iconCell {
  align-items: center;
  justify-content: center;
}

.answerIsOk {
  border: $primaryBorder solid var(--attentionColor);
  border-radius: $tertiaryBorderRadius;
  stroke: var(--attentionColor);
}

.answerIsWrong {
  border: $primaryBorder solid var(--dangerColor);
  border-radius: $tertiaryBorderRadius;
  stroke: var(--dangerColor);
}
