@import "src/styles/variables";

.shortCell {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow-wrap: anywhere;
  text-overflow: ellipsis;
  word-wrap: break-word;

  img {
    max-width: $minWidthBlock;
    max-height: $minHeightBlock;
  }
}

.number {
  text-align: right;
}

.dateCell {
  display: block;
  min-width: $minWidthDate;
  hyphens: none;
  text-align: center;
  white-space: nowrap;
}

.status {
  text-align: center;
}

.userBlock {
  gap: $gapSmall;
}

.cellWrapper {
  height: 100%;
  padding: $paddingSmall;
}

.iconCell {
  align-items: center;
  justify-content: center;
}

.answerIsOk {
  border: $primaryBorder solid var(--attentionColor);
  border-radius: $tertiaryBorderRadius;
  stroke: var(--attentionColor);
}

.answerIsWrong {
  border: $primaryBorder solid var(--dangerColor);
  border-radius: $tertiaryBorderRadius;
  stroke: var(--dangerColor);
}