@import "src/styles/variables";

$logoHeight: 55px;
$iconSize: 32px;

.footer {
  background-color: var(--quaternaryBgColor);
}

.footerWrapper {
  max-width: calc(2 * $paddingMedium + $maxWidthLandingContainer);
  flex-direction: column;
  padding: 0 $paddingMedium;
  margin: 0 auto;
  gap: 0;
}

.socialLinks {
  align-items: flex-start;
  justify-content: space-between;
  padding: $paddingBig 0;

  @media (max-width: $mediaWidthMobileMedium) {
    justify-content: center;
  }
}

.ruler {
  border-top: $primaryBorder solid var(--secondaryStrokeColor);
}

.privacyLinks {
  padding: $paddingSmall 0;
  gap: $gapLarge;
}

.privacyLink {
  color: var(--secondaryTextColor);
  font-size: $fontSizeBig;
}

.logo {
  display: block;
  height: $logoHeight;
  cursor: pointer;

  @media (max-width: $mediaWidthMobileMedium) {
    display: none;
  }
}

.socialMedia,
.appStores {
  color: var(--secondaryTextColor);
  gap: $gapExtraSmall;
}

.socialMediaText {
  font-weight: $fontWeightSemibold;
}

.socialBlock {
  gap: $gapExtraBig;
}

.iconWrapper {
  display: flex;
  width: $iconSize;
  height: $iconSize;
  align-items: center;
  justify-content: center;
  border-radius: $tertiaryBorderRadius;
  background-color: var(--secondaryIconBgColor);
  cursor: pointer;
}

.socialMediaIcon {
  stroke: var(--tertiaryIconColor);
}

.modalContainer {
  gap: $gapSmall;
}

.modalTitle {
  margin-bottom: $marginMedium;
  text-align: center;
}
