@import "src/styles/variables";

$jobTagsBlockWidth: 150px;

.jobTags {
  display: flex;
  width: $jobTagsBlockWidth;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: $gapMedium;
}

.icon {
  display: block;
  min-width: $iconSizeSmall;
  min-height: $iconSizeSmall;
  margin-left: $marginSmall;
  cursor: pointer;
}
