openapi: 3.0.1
info:
  contact: {}
  title: Masters way mail API
  version: "1.0"
servers:
- url: /mw-mail
paths:
  /dev/reset-db:
    get:
      description: resets db
      responses:
        "204":
          content: {}
          description: No Content
      summary: resets db
      tags:
      - dev
  /send:
    post:
      description: Sending messages to recipients by smtp and saving the log of the
        sent mail
      operationId: send-mail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mwmail_internal_schemas.MailRequest'
        description: query params
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mwmail_internal_schemas.SendMailResponse'
          description: OK
      summary: Sending messages to recipients and save logs
      tags:
      - mail
      x-codegen-request-body-name: request
components:
  schemas:
    mwmail_internal_schemas.MailRequest:
      properties:
        bcc:
          items:
            type: string
          type: array
        cc:
          items:
            type: string
          type: array
        message:
          type: string
        recipients:
          items:
            type: string
          type: array
        reply:
          items:
            type: string
          type: array
        subject:
          type: string
      required:
      - message
      - recipients
      - subject
      type: object
    mwmail_internal_schemas.SendMailResponse:
      example:
        cc:
        - cc
        - cc
        senderName: senderName
        bcc:
        - bcc
        - bcc
        reply_to:
        - reply_to
        - reply_to
        recipients:
        - recipients
        - recipients
        subject: subject
        id: id
        message: message
        senderMail: senderMail
      properties:
        bcc:
          items:
            type: string
          type: array
        cc:
          items:
            type: string
          type: array
        id:
          type: string
        message:
          type: string
        recipients:
          items:
            type: string
          type: array
        reply_to:
          items:
            type: string
          type: array
        senderMail:
          type: string
        senderName:
          type: string
        subject:
          type: string
      required:
      - id
      - message
      - recipients
      - senderMail
      - subject
      type: object
x-original-swagger-version: "2.0"
