@import "src/styles/variables";

.hiddenBlockContainer {
  width: $mediumWidthBlock;
  padding: $paddingMedium;
  background-color: var(--secondaryBgColor);
  gap: $gapExtraSmall;

  @media (max-width: $mediaWidthMobileBig) {
    width: 100%;
    height: 30vh;
    overflow-y: scroll;
  }
}

.titleAndCloseButton {
  justify-content: space-between;
}

.hidden {
  display: none;
}
