@import "src/styles/variables";

$headerHeight: 74px;

.hiddenBlockContainer {
  @include regularContainer;
  width: $minWidthBlock;
  max-height: calc(100vh - $headerHeight);
  flex-shrink: 0;
  gap: $gapExtraSmall;
  overflow-y: auto;

  @media (max-width: $mediaWidthMobileBig) {
    width: 100%;
    height: 30vh;
    overflow-y: auto;
  }
}

.hidden {
  display: none;
}
