@import "src/styles/variables";

.hiddenBlockContainer {
  @include regularContainer;
  width: $mediumWidthBlock;

  @media (max-width: $mediaWidthMobileBig) {
    width: 100%;
    height: 30vh;
    overflow-y: scroll;
  }
}

.hidden {
  display: none;
}
