@import "src/styles/variables";

.hiddenBlockContainer {
  @include regularContainer;
  width: $mediumWidthBlock;
  width: $minWidthBlock;
  flex-shrink: 0;

  @media (max-width: $mediaWidthMobileBig) {
    width: 100%;
    height: 30vh;
    overflow-y: auto;
  }
}

.hidden {
  display: none;
}
