@import "src/styles/variables";

$leftPosition: 5px;

.inputWrapper {
  position: relative;
  width: 100%;
}

.inputIcon {
  position: absolute;
  top: 50%;
  left: $leftPosition;
  stroke: var(--inactiveTextColor);
  transform: translateY(-50%);
}

.input {
  width: 100%;
  border: none;
  background: transparent;
  color: var(--primaryTextColor);
  font: inherit;
  // TODO: get rid of opacity in every input
  opacity: 0.8;
  outline: none;

  &::placeholder {
    color: var(--primaryTextColor);
    opacity: 1;
  }
}

.line {
  padding: $paddingSmall;
  border-bottom: 1px solid var(--primaryBorderColor);
}

.border {
  padding: $paddingSmall;
  border: 1px solid var(--inactiveTextColor);
  border-radius: $secondaryBorderRadius;

  &:focus {
    border: 1px solid var(--primaryBorderColor);

    &::placeholder {
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }
  }
}

.inputFilterIcon {
  padding-left: $paddingLarge;
}
