@import "src/styles/variables";

.inputWrapper {
  align-items: center;
}

.inputIcon {
  stroke: var(--secondaryIconColor);
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  color: var(--primaryTextColor);
  font: inherit;
  font-size: $fontSizeMedium;
  outline: none;

  &::placeholder {
    color: var(--tertiaryTextColor);
  }
}

.line {
  width: calc(100% - (2 * $paddingSmall));
  padding: $paddingSmall;
  border-bottom: $primaryBorder solid var(--generalPrimaryColor);
}

.border {
  padding: $paddingExtraSmall $paddingSmall;
  border: $primaryBorder solid var(--primaryStrokeColor);
  border-radius: $secondaryBorderRadius;

  &:focus {
    &::placeholder {
      opacity: 0;
      transition: opacity $primaryTransitionDuration ease-in-out;
    }
  }
}
