@import "src/styles/variables";

$leftPosition: 12px;

.inputWrapper {
  position: relative;
  width: 100%;
}

.inputIcon {
  position: absolute;
  top: 50%;
  left: $leftPosition;
  stroke: var(--secondaryIconColor);
  transform: translateY(-50%);
}

.input {
  width: 100%;
  border: none;
  background: transparent;
  color: var(--primaryTextColor);
  font: inherit;
  outline: none;

  &::placeholder {
    color: var(--tertiaryTextColor);
  }
}

.line {
  padding: $paddingSmall;
  border-bottom: $primaryBorder  solid var(--generalPrimaryColor);
}

.border {
  padding: $paddingSmall;
  border: $primaryBorder  solid var(--primaryStrokeColor);
  border-radius: $secondaryBorderRadius;

  &:focus {

    &::placeholder {
      opacity: 0;
      transition: opacity $primaryTransitionDuration ease-in-out;
    }
  }
}

.inputFilterIcon {
  padding-left: $paddingExtraBig;
}
