@import "src/styles/variables";

.pageLayout {
  max-width: $maxWidthContainer;
  padding: 0 $paddingMedium;
  margin: 0 auto;
  gap: $gapExtraBig;

  @media (max-width: $mediaWidthMobileBig) {
    flex-direction: column;
  }
}
