@import "src/styles/variables";

.pageLayout {
  width: 100%;
  max-width: $maxWidthContainer;
  flex-grow: 1;
  padding: 0 $paddingMedium $paddingMedium;
  margin: 0 auto;
  gap: $gapSmall;

  @media (max-width: $mediaWidthMobileBig) {
    flex-direction: column;
  }
}

.modalContainer {
  align-items: center;
  gap: $gapBig;
  text-align: center;
}
