@import "src/styles/variables";

$tagPaddingBlockLarge: 10px;
$tagPaddingBlockSmall: 3px;

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  border: $primaryBorder solid var(--primaryStrokeColor);
  border-radius: $tagBorderRadius;
  background-color: var(--primaryBgColor);
  color: var(--primaryTextColor);
  gap: $gapSmall;
  padding-inline: $paddingMedium;

  .text {
    overflow: hidden;
    max-width: calc($minWidthBlock - 2 * $paddingMedium - $gapSmall);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.primaryTag {
  font-size: $fontSizeBig;
  padding-block: $tagPaddingBlockLarge;

  .removeButton {
    padding: 0;

    &:hover .removeIcon {
      stroke: var(--hoverIconColor);
    }
  }
}

.cardTag {
  font-size: $fontSizeSmall;
  padding-block: $tagPaddingBlockSmall;
}
