@import "src/styles/variables";

div li,
.padding {
  margin: 0 0 16px;
  line-height: 28px;
}

.padding {
  display: inline-block;
}

.additionalPadding {
  padding-left: 22px;
}

.link {
  font-size: 16px;
}

.container {
  @include regularContainer;
  border-radius: 0;
}
.privacyTitle {
  padding-top: $paddingMedium;
}

.list {
  padding-left: $paddingMedium;
  list-style-position: inside;
}
