@import "src/styles/variables";

.goalItem {
  display: flex;
  max-width: $mediumWidthBlock;
  justify-content: left;
  gap: $gapSmall;
}

.goalTitle {
  color: var(--secondaryTextColor);
  font-size: $fontSizeTitleSmall;
  text-align: left;
}

.goalDescription {
  color: var(--secondaryTextColor);
  text-align: left;
}

.icon {
  stroke: var(--secondaryStrokeColor);
}
