POSTGRES_GENERAL_USER=root
POSTGRES_GENERAL_PASSWORD=secret
POSTGRES_GENERAL_DB=mastersway_db

POSTGRES_CHAT_USER=root
POSTGRES_CHAT_PASSWORD=secret
POSTGRES_CHAT_DB=mastersway_chat_db

POSTGRES_SURVEY_USER=root
POSTGRES_SURVEY_PASSWORD=secret
POSTGRES_SURVEY_DB=mastersway_survey_db

POSTGRES_STORAGE_USER=root
POSTGRES_STORAGE_PASSWORD=secret
POSTGRES_STORAGE_DB=mastersway_storage_db