@import "src/styles/variables";

.container {
  height: 100%;
  justify-content: center;
  margin-top: $marginMedium;
}

.description {
  max-width: $maxWidthBlock;
  font-size: $fontSizeTitleLarge;
  font-weight: $fontWeightBold;
}
