@import "src/styles/variables";

$userCardMainInfoPadding: 20px 24px;
$userCardAdditionalInfoPadding: 12px 24px 20px;
$userCardFontSize: 14px;
$userCardMainHeight: 147px;
$userCardAdditionalHeight: 105px;
$cardLinkFontSize: 16px;

.userCardContainer {
  border-radius: $secondaryBorderRadius;
  cursor: pointer;
  @include scaleOnHover;
}

.mainInfo {
  height: $userCardMainHeight;
  padding: $userCardMainInfoPadding;
  border-radius: $secondaryBorderRadius $secondaryBorderRadius 0 0;
  background-color: var(--secondaryBackgroundColor);
  gap: $gapMedium;
}

.title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  color: var(--secondaryTextColor);
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  white-space: initial;
}

.likes {
  align-items: center;
  color: var(--secondaryTextColor);
  gap: $gapSmall;
}

.icon {
  margin-right: $marginSmall;
  stroke: var(--secondaryTextColor);
}

.nameLikes {
  align-items: center;
  justify-content: space-between;
  gap: $gapMedium;
}

.description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  color: var(--secondaryTextColor);
  font-weight: bold;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: initial;
}

.mail {
  display: -webkit-box;
  overflow: hidden;
  margin-top: auto;
  -webkit-box-orient: vertical;
  color: var(--secondaryTextColor);
  font-size: $userCardFontSize;
  font-weight: bold;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  white-space: initial;
}

.additionalInfo {
  padding: $userCardAdditionalInfoPadding;
  border-radius: 0 0 $secondaryBorderRadius $secondaryBorderRadius;
  background-color: var(--primaryBackgroundColor);
  color: var(--primaryTextColor);
  font-size: $userCardFontSize;
  gap: $gapMedium;
}

.cardLink {
  font-size: $cardLinkFontSize;
  text-decoration: none;
}
