@import "src/styles/variables";

$userCardMainInfoPadding: $paddingBig $paddingBig;
$userCardAdditionalInfoPadding: $paddingMedium $paddingBig $paddingBig;
$userCardMainHeight: 147px;
$userCardAdditionalHeight: 90px;

.userCardContainer {
  border-radius: $secondaryBorderRadius;
  cursor: pointer;
  @include scaleOnHover;
}

.mainInfo {
  height: $userCardMainHeight;
  padding: $userCardMainInfoPadding;
  border-radius: $secondaryBorderRadius $secondaryBorderRadius 0 0;
  background-color: var(--generalPrimaryColor);
  gap: $gapMedium;
}

.title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  color: var(--secondaryTextColor);
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  white-space: initial;
}

.likes {
  align-items: center;
  color: var(--secondaryTextColor);
  gap: $gapSmall;
}

.icon {
  margin-right: $marginSmall;
  stroke: var(--secondaryStrokeColor);
}

.nameLikes {
  align-items: start;
  justify-content: space-between;
}

.nameGroup {
  gap: $gapSmall;
  justify-items: start;
}

.description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  color: var(--secondaryTextColor);
  font-size: $fontSizeMedium;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: initial;
}

.mail {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  color: var(--secondaryTextColor);
  font-size: $fontSizeMedium;
  font-weight: bold;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  white-space: initial;
}

.userTags {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  align-items: center;
  gap: $gapMedium;
  -webkit-line-clamp: 1;
}

.additionalInfo {
  height: $userCardAdditionalHeight;
  padding: $userCardAdditionalInfoPadding;
  border-radius: 0 0 $secondaryBorderRadius $secondaryBorderRadius;
  background-color: var(--primaryBgColor);
  color: var(--primaryTextColor);
  font-size: $fontSizeMedium;
  gap: $gapMedium;
}

.cardLink {
  font-size: $fontSizeBig;
  text-decoration: none;
}
