@import "src/styles/variables";

$userCardMainHeight: 140px;
$userCardAdditionalHeight: 82px;

.cardLink {
  text-decoration: none;
}

.userCardContainer {
  overflow: hidden;
  border: $primaryBorder solid var(--primaryStrokeColor);
  border-radius: $primaryBorderRadius;
  cursor: pointer;
  @include scaleOnHover;
}

.mainInfo {
  height: $userCardMainHeight;
  padding: $paddingMedium;
  background-color: var(--generalPrimaryColor);
  gap: $gapSmall;
}

.nameLikes {
  align-items: center;
  gap: $gapMedium;
}

.avatar {
  flex-shrink: 0;
}

.title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  color: var(--secondaryTextColor);
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  white-space: initial;
}

.likes {
  align-items: center;
  color: var(--secondaryTextColor);
  gap: $gapExtraSmall;
}

.icon {
  stroke: var(--secondaryStrokeColor);
}

.description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  color: var(--secondaryTextColor);
  font-size: $fontSizeBig;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: initial;
}

.userTags {
  display: flex;
  overflow: hidden;
}

.additionalInfo {
  min-height: $userCardAdditionalHeight;
  padding: $paddingMedium;
  background-color: var(--additionalInfoCardBgColor);
  color: var(--primaryTextColor);
  font-size: $fontSizeMedium;
  gap: $gapMedium;
}

.createdAt {
  font-weight: $fontWeightBold;
}

.ways {
  flex-wrap: wrap;
}
