@import "src/styles/variables";

.pageLayout {
  gap: $gapMedium;
}

.container {
  flex-wrap: wrap;
  gap: $gapBig;
}

.descriptionSection {
  min-width: $mediaWidthMobileSmall;
  max-width: $mediaWidthMobileBig;
  gap: $gapMedium;
}

.tabsSection {
  flex-grow: 1;
  flex-wrap: wrap;
  gap: $gapBig;

  @include regularContainer;
}

.row {
  display: flex;
  align-items: baseline;
}

.userDescription {
  @include regularContainer;

  textarea {
    width: $minWidthBlock;
    padding: $paddingSmall;
  }
}

.nameEmailSection {
  @include regularContainer;
}

.ownerName {
  input {
    width: $minWidthBlock;
    height: $heightH2;
  }
}

.ownerEmail {
  input {
    width: $minWidthBlock;
    height: $heightH3;
  }
}

.createNewWayButton {
  // align-self: start;
}

.collectionButton {
  width: 100px;
  height: 70px;
  margin-bottom: auto;
}
