@import "src/styles/variables";

.pageLayout {
  padding: 0 $paddingMedium;
  gap: $gapMedium;
}

.container {
  gap: $gapMedium;
  grid-template-columns: minmax($minWidthBlock, 1fr) minmax($minWidthBlock, 3fr);

  @media (max-width: $mediaWidthMobileBig) {
    grid-template-columns: 1fr;
  }
}

.descriptionSection {
  min-width: $minWidthBlock;
  gap: $gapMedium;
}

.userTagsContainer {
  flex-wrap: wrap;
  align-items: center;
}

.tabsSectionContainer {
  @include regularContainer;
  gap: $gapMedium;
}

.tabsSection {
  display: grid;
  gap: $gapMedium;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.row {
  display: flex;
  align-items: baseline;
}

.userDescriptionSection {
  flex-grow: 1;
  @include regularContainer;
}

.userDescription {
  textarea {
    width: $minWidthBlock;
    padding: $paddingSmall;
  }
}

.nameEmailSection {
  @include regularContainer;
}

.nameSection {
  justify-content: space-between;
}

.ownerName {
  input {
    height: $heightH2;
  }
}

.ownerEmail {
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  white-space: initial;
  input {
    height: $heightH3;
  }
}

.collectionButton {
  width: 100px;
  height: 70px;
  margin-bottom: auto;
}

.temporalBlock {
  @include regularContainer;
}
