@import "src/styles/variables";

.userPageWrapper {
  width: 100%;
  margin-top: $headerHeight;
  gap: $gapSmall;

  &::-webkit-scrollbar {
    display: none;
  }
}

.userInfoBlock {
  @include regularContainer;
  min-width: $minWidthBlock;
  gap: $gapSmall;

  position: relative;
}

.image {
  position: absolute;
  z-index: 1;
  border-radius: 5%;
  opacity: 0.5;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  background-size: contain;
  background-position: right center;
  object-position: center;

  mask-image:
    linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%),
    linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%);
  -webkit-mask-image:
    linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%),
    linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%);
  // Это важно для объединения градиентов
  mask-composite: destination-in;
  -webkit-mask-composite: destination-in;

  @media only screen and (max-width: $mediaWidthMobileBig) {
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
}

.userMainInfoBlock {
  gap: $gapBig;
  z-index: 30;

  grid-template-columns: minmax($minWidthBlock, 1fr) minmax(
      $minWidthBlock,
      1.5fr
    );

  @media (max-width: $mediaWidthTabletBig) {
    grid-template-columns: minmax($minWidthBlock, 1fr);
  }
}

.connectButton {
  width: fit-content;
}

.userAboutBlock {
  flex-wrap: wrap;
  gap: $gapBig;
}

.nameEmailSection {
  flex: 1;
  gap: $gapMedium;
}

.userTitleBlock {
  align-items: baseline;
  justify-content: space-between;
}

.ownerName {
  flex: 1;
  input {
    height: $heightH2;
  }
}

.userDescriptionSection {
  gap: $gapSmall;
}

.userDescription {
  line-height: $lineHeightPrimary;
  overflow-wrap: anywhere;

  textarea {
    line-height: $lineHeightPrimary;
  }
}

.ownerEmail {
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  white-space: initial;
}

.userSkillsAndSocialBlock {
  gap: $gapMedium;
}

.skillsTitleBlock,
.supportTitleBlock {
  align-items: baseline;
  gap: $gapMedium;
}

.skillsContainer {
  flex-wrap: wrap;
  align-items: center;
}

.tabsSectionContainer {
  @include regularContainer;
  flex-wrap: wrap;
  gap: $gapBig;
}

.tabsSection {
  display: grid;
  gap: $gapSmall;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.collectionGroup {
  width: calc(50% - $gapBig/2);
  gap: $gapBig;
  @media (max-width: $mediaWidthMobileBig) {
    width: 100%;
  }
}

.temporalBlock {
  flex-wrap: wrap;
  @include regularContainer;
}

.collectionButton {
  height: 123px;
  padding: 0;
}

.disable {
  cursor: default;

  &:hover:enabled {
    background-color: var(--secondaryBgBtnColor);
  }

  &:active:enabled {
    border: none;
    background-color: var(--secondaryBgBtnColor);
    color: var(--primaryTextColor);
  }
}

.supportBlock {
  flex-wrap: wrap;
}

.findMentorIcon {
  stroke: var(--secondaryStrokeColor);
}

.userActionMenu {
  left: -150px;
  width: 200px;
}

.userActionButtons {
  align-items: start;
}

.userActionsIcon {
  height: 38px;
  padding: 0 $paddingSmall;
}

.userAboutTitleBlock {
  align-items: baseline;
}
