@import "src/styles/variables";

$labelMinWidth: 130px;
$descriptionMaxWidth:300px;
$descriptionMaxWidthMobile:150px;

.modalContainer{
  gap: $gapBig;
}

.labelsContainer {
  gap: $gapMedium;
}

.labels {
  width: 100%;
  cursor: pointer;
}

.labelsButtons {
  justify-content: flex-end;
  gap: $gapMedium;
}

.labelContent {
  align-items: center;
  gap: $gapMedium;
}

.labelContainer {
  min-width: $labelMinWidth;

  @media (max-width: $mediaWidthMobileMedium){
    flex: 1 1 100%;
  }
}

.labelDescription {
  max-width: $descriptionMaxWidth;
  flex: 1 1 100%;
  flex-wrap: wrap;

  @media (max-width: $mediaWidthMobileBig){
    max-width: $descriptionMaxWidthMobile;
  }

  @media (max-width: $mediaWidthMobileMedium){
    display: none;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
