@import "src/styles/variables";

$chatItemWrapperHeight: 40px;

.chatItemWrapper {
  align-items: center;
  padding-left: $paddingMedium;
  cursor: pointer;
}

.chatItem {
  overflow: hidden;
  white-space: pre-wrap;
}

.chatItemName {
  max-width: $minWidthBlock;
  padding: $paddingSmall;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.activeChatItem {
  background-color: var(--generalBgColor);
}

.userStatusBlock {
  align-items: center;
}

.userStatusIndicator {
  width: 10px;
  height: 10px;
  border-radius: $tertiaryBorderRadius;
  background-color: var(--dangerColor);
}

.online {
  background-color: var(--activeColor);
}
