@import "src/styles/variables";

$chatItemWrapperHeight:40px;

.chatItemWrapper {
  height: $chatItemWrapperHeight;
  align-items: center;
  padding-left: $paddingMedium;
  cursor: pointer;
}

.chatItem {
  max-width: $minWidthBlock;
  overflow-x: hidden;
  text-overflow: ellipsis;
}


.activeChatItem {
  background-color: var(--generalBgColor);
}

.userStatusBlock {
  align-items: center;
}

.userStatusIndicator {
  width: 10px;
  height: 10px;
  border-radius: $tertiaryBorderRadius;
  background-color: var(--dangerColor);
}

.online {
  background-color: var(--activeColor);
}