@import "src/styles/variables";

.chatItem {
  max-width: $minWidthBlock;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.userStatusBlock {
  align-items: center;
}

.userStatusIndicator {
  width: 10px;
  height: 10px;
  border-radius: $tertiaryBorderRadius;
  background-color: var(--dangerColor);
}

.online {
  background-color: var(--activeColor);
}
