@import "src/styles/variables";

$unreadMessagesLineHeight: 8px;

.chatItemWrapper {
  align-items: center;
  justify-content: space-between;
  padding-left: $paddingMedium;
  cursor: pointer;
}

.chatItem {
  overflow: hidden;
  align-items: center;
  white-space: pre-wrap;
}

.chatItemName {
  max-width: $minWidthBlock;
  padding: $paddingSmall;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.unreadMessagesWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $paddingSmall;
  border-radius: $tagBorderRadius;
  margin-right: $marginSmall;
  background-color: var(--secondaryBgColor);
  color: var(--primaryTextColor);
  font-size: $fontSizeSmall;
  font-weight: $fontWeightSemibold;
  line-height: $unreadMessagesLineHeight;
}

.userStatusBlock {
  align-items: center;
}

.userStatusIndicator {
  width: 10px;
  height: 10px;
  border-radius: $tertiaryBorderRadius;
  background-color: var(--dangerColor);
}

.online {
  background-color: var(--activeColor);
}
