@import "src/styles/variables";

.dropdownMenuItem {
  padding: $paddingSmall;

  &:hover {
    background-color: var(--quaternaryBgColor);
    cursor: pointer;
  }

  &:active {
    background-color: var(--generalPrimaryColor);
  }
}
