@import "src/styles/variables";

.dropdownMenuItem {
  padding: $paddingSmall $paddingMedium;
  cursor: pointer;
  font-size: $fontSizeMedium;
  outline: none;
  user-select: none;
  word-break: break-word;

  &:not(:last-child) {
    border-bottom: $primaryBorder solid var(--dropdownStrokeColor);
  }
  &:first-child {
    border-top-left-radius: $primaryBorderRadius;
    border-top-right-radius: $primaryBorderRadius;
  }
  &:last-child {
    border-bottom-left-radius: $primaryBorderRadius;
    border-bottom-right-radius: $primaryBorderRadius;
  }

  &:hover,
  &:active {
    color: var(--tertiaryTextColor);
  }
}

.dropdownMenuItemSubTrigger {
  padding-right: $paddingExtraSmall;
  &:not(:last-child) {
    border-bottom: none;
  }
}
