@import "src/styles/variables";

.tag {
  position: relative;
  $paddingExtraSmall: 4px;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.tagContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionButton {
  position: absolute;
  z-index: $modalZIndex;
  left: 50%;
  border-radius: $quaternaryBorderRadius;
  cursor: pointer;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.2s ease-in-out;

  .tag:hover & {
    opacity: 1;
  }

  &:hover {
    opacity: 1;
  }
}

.removeButton {
  @extend .actionButton;
  top: -40px;

  .tag:hover & {
    top: -25px;
  }
}

.updateButton {
  @extend .actionButton;
  bottom: -40px;

  .tag:hover & {
    bottom: -25px;
  }
}

.actionButtonIcon {
  width: $iconSizeSmall;
  height: $iconSizeSmall;
}
