@import "src/styles/variables";

.titleYouShouldBlock {
  text-align: left;

  & h2 {
    font-size: $fontSizeTitleBig;
  }
}

.titleDescription {
  text-align: center;
  white-space: pre-wrap;
}

.pricingBlock,
.questionsBlock,
.triesBlock,
.imageBlock {
  display: flex;
  max-width: $maxWidthLandingContainer;
  flex-direction: column;
  align-items: center;
  padding: $paddingVerticalBlockBig $paddingMedium;
  margin: 0 auto;
  background-color: var(--secondaryBgColor);
  gap: $gapBig;
  border-radius: $containerBorderRadius;

  @media only screen and (max-width: $mediaWidthMobileMedium) {
    padding: $paddingExtraMedium;
  }
}

.pricingBlock {
  @include backgroundImage;
}

.advantagesBlock,
.problemsBlock,
.reviewBlock,
.pricingBlock,
.questionsBlock,
.videoBlock {
  // Workaround for smooth anchor link earlier then block  for don't hide under header https://misha.agency/css/ssyilki-yakori.html
  border-top: 55px solid transparent;
  margin-top: -55px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: $containerBorderRadius;
}



.questionsBlock,
.reviewBlock {
  background-color: var(--primaryBgColor);
}

.reviewList {
  width: 100%;
  justify-content: center;
}

.problems {
  width: 100%;
  gap: $gapLarge;
  white-space: pre-wrap;
}

.accordion {
  width: 100%;
  padding: 0 $paddingMedium;
}

.triesContainer {
  padding: $paddingLarge;
  border-radius: $primaryBorderRadius;
  background-color: var(--primaryBgColor);
  gap: $gapLarge;

  @media (max-width: $mediaWidthTabletBig) {
    flex-wrap: wrap;
  }
}

.triesContentBlock {
  gap: $gapBig;
}

.triesActionButton {
  max-width: max-content;
}

.icon {
  stroke: var(--secondaryStrokeColor);
}