@import "src/styles/variables";

.mentorRequestsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $gapMedium;
}

.mentorRequestsSection {
  display: flex;
  align-items: center;
  gap: $gapMedium;
}
