@import "src/styles/variables";

.container {
  width: 100%;
  margin: 0 auto;
}

.goalSection {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: $defaultMargin;
  gap: $defaultGap;
}

.width {
  min-width: 30%;
}

.goalDescription {
  min-width: 360px;
  max-width: 600px;

  textarea {
    width: 100%;
  }
}

.singularMetric {
  display: flex;
  max-width: 600px;
  align-items: center;
  margin-bottom: 4px;
  gap: 4px;
}

.mentors {
  display: flex;
}

.icon {
  display: block;
  min-width: 15px;
  min-height: 15px;
  margin-left: 5px;
  cursor: pointer;
}

.alignItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alignTrashIcon {
  align-items: center;
  gap: $defaultGap;
}

.tooltip {
  width: 180px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: $defaultGap;
}

.flatButton {
  width: 100px;
  height: 20px;
  padding: 0px;
}

.gap {
  gap: $defaultGap;
}

.accordion {
  min-width: 360px;
  max-width: 600px;
  margin-top: $defaultMargin;
}

.trash {
  display: inline-block;
}
