@import "src/styles/variables";

$iconContainerSize: 25px;

.container {
  width: 100%;
  max-width: $maxWidthContainer;
  padding: 0 $paddingMedium;
  margin: 0 auto;
  gap: $gapSmall;
}

.wayInfo {
  @include regularContainer;
  min-width: $minWidthBlock;
  gap: $gapSmall;
}

.wayTitleBlock {
  align-items: baseline;
  justify-content: space-between;
}

.wayActionsIcon {
  height: 38px;
  padding: $paddingSmall;
}

.wayTagsContainer {
  flex-wrap: wrap;
  align-items: center;
}

.metricsBlock {
  @include regularContainer;
  min-width: $minWidthBlock;
  gap: $gapSmall;
}

.peopleBlock {
  @include regularContainer;
  min-width: $minWidthBlock;
  gap: $gapSmall;
}

.applyAsMentorButton {
  margin-top: auto;
}

.wayActionMenu {
  left: -150px;
  width: 200px;
}

.privacyBlock,
.compositeBlock {
  align-items: baseline;
}

.participantWay {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.mentors {
  display: flex;
}

.statistics {
  @include regularContainer;
  width: 100%;
}

.statisticsModal {
  width: 95%;
}

.iconContainer {
  width: $iconContainerSize;
  height: $iconContainerSize;
  border: none;
  background: none;
  cursor: pointer;
}

.icon {
  display: block;
  min-width: $iconSizeSmall;
  min-height: $iconSizeSmall;
  margin-left: $marginSmall;
  cursor: pointer;
}

.wayDashboard {
  gap: $gapSmall;
  // grid-template-columns: repeat(auto-fit, minmax($minWidthBlock, 1fr));
  grid-template-columns: minmax($mediumWidthBlock, 2fr) minmax(
      $mediumWidthBlock,
      3fr
    );

  @media (max-width: $mediaWidthTablet) {
    grid-template-columns: minmax($minWidthBlock, 1fr);
  }
}

.wayDashBoardLeft {
  gap: $gapSmall;
}

.wayActionButtons {
  align-items: start;
}

.gap {
  gap: $gapSmall;
}

.reportsAmount {
  align-items: center;
}

.dayReportActions {
  @include regularContainer;
  justify-content: space-between;
}

.accordion {
  margin-top: $marginMedium;
}

.trash {
  display: inline-block;
}

.wayName {
  input {
    width: $minWidthBlock;
    height: $heightH2;
    margin-top: $marginMedium;
    margin-bottom: $marginMedium;
  }
}

.horizontalContainer {
  align-items: flex-start;
  gap: $gapExtraSmall;
}

.jobDoneTagsWrapper {
  min-width: $minWidthBlock;
  max-width: $maxWidthBlock;
}

.wrap {
  @media (max-width: $mediaWidthMobileBig) {
    justify-content: center;
  }
}

.disabled {
  cursor: default;

  &:hover {
    background-color: var(--secondaryBgBtnColor);
  }

  &:active {
    border: none;
    background-color: var(--secondaryBgBtnColor);
    color: var(--primaryTextColor);
  }
}

.statisticEyeButton {
  display: none;

  @media (max-width: $mediaWidthTablet) {
    display: flex;
  }
}

.childWaysBlock {
  gap: $gapExtraSmall;
}
