@import "src/styles/variables";

$iconContainerSize: 25px;
$labelMaxWidthBlock: 650px;

.container {
  width: 100%;
  max-width: $maxWidthContainer;
  margin-top: $headerHeight;
  gap: $gapSmall;

  &::-webkit-scrollbar {
    display: none;
  }
}

.wayInfo {
  @include regularContainer;
  min-width: $minWidthBlock;
  gap: $gapSmall;
}

.wayTitleBlock {
  align-items: baseline;
  justify-content: space-between;
}

.wayActionsIcon {
  height: 38px;
  padding: 0 $paddingSmall;
}

.wayTagsContainer {
  flex-wrap: wrap;
  align-items: center;
}

.viewSwitcher {
  align-items: center;
  margin-left: auto;
}

.metricsBlock {
  @include regularContainer;
  min-width: $minWidthBlock;
  gap: $gapSmall;
}

.peopleBlock {
  @include regularContainer;
  min-width: $minWidthBlock;
  gap: $gapSmall;
}

.ownerBlock {
  flex-wrap: wrap;
}

.applyAsMentorButton {
  margin-top: auto;
}

.privacyBlock,
.compositeBlock {
  align-items: baseline;
}

.mentors {
  display: flex;
  font-size: $fontSizeBig;
}

.statistics {
  @include regularContainer;
  width: 100%;
}

.statisticsModal {
  width: 95%;
}

.iconContainer {
  width: $iconContainerSize;
  height: $iconContainerSize;
  border: none;
  background: none;
  cursor: pointer;
}

.icon {
  display: block;
  min-width: $iconSizeSmall;
  min-height: $iconSizeSmall;
  margin-left: $marginSmall;
  cursor: pointer;
}

.wayDashboard {
  gap: $gapSmall;
  grid-template-columns: minmax($mediumWidthBlock, 2fr) minmax(
      $mediumWidthBlock,
      3fr
    );

  @media (max-width: $mediaWidthTabletBig) {
    grid-template-columns: minmax($minWidthBlock, 1fr);
  }
}

.wayDashBoardLeft {
  gap: $gapSmall;
}

.wayActionButtons {
  align-items: start;
}

.gap {
  gap: $gapSmall;
}

.reportsAmount {
  align-items: center;
}

.dayReportActions {
  @include regularContainer;
  flex-wrap: wrap;
  justify-content: space-between;
}

.accordion {
  margin-top: $marginMedium;
}

.trash {
  display: inline-block;
}

.wayName {
  flex: 1;
  input {
    width: $minWidthBlock;
    height: $heightH2;
    margin-top: $marginMedium;
    margin-bottom: $marginMedium;
  }
}

.horizontalContainer {
  align-items: center;
  justify-content: space-between;
  gap: $gapExtraSmall;
}

.labelsWrapper {
  min-width: $labelMaxWidthBlock;

  @media only screen and (max-width: $mediaWidthTablet) {
    min-width: $mediumWidthBlock;
  }
  @media only screen and (max-width: $mediaWidthMobileMedium) {
    min-width: $minWidthBlock;
  }
}

.wrap {
  @media (max-width: $mediaWidthMobileBig) {
    justify-content: center;
  }
}

.disabled {
  cursor: default;

  &:hover:enabled {
    background-color: var(--secondaryBgBtnColor);
  }

  &:active:enabled {
    border: none;
    background-color: var(--secondaryBgBtnColor);
    color: var(--primaryTextColor);
  }
}

.statisticEyeButton {
  display: none;

  @media (max-width: $mediaWidthTablet) {
    display: flex;
  }
}

.childWaysBlock {
  gap: $gapExtraSmall;
}
