@import "src/styles/variables";

$iconContainerSize: 25px;

.container {
  width: 100%;
  margin: 0 auto;
  gap: $gapMedium;
}

.wayInfo {
  @include regularContainer;
  min-width: $minWidthBlock;
  gap: $gapMedium;
}

.dayReportsContent {
  @include regularContainer;
}

.wayTitleBlock {
  align-items: start;
  justify-content: space-between;
}

.wayTagsContainer {
  flex-wrap: wrap;
  align-items: center;
  gap: $gapMedium;
}

.flatButton {
  @include flatButton;
}

.metricsBlock {
  @include regularContainer;
  min-width: $minWidthBlock;
  gap: $gapMedium;
}

.peopleBlock {
  @include regularContainer;
  min-width: $minWidthBlock;
  gap: $gapMedium;
}

.wayActionMenu {
  left: -95px;
  width: 200px;
}

.singularMetric {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.mentors {
  display: flex;
}

.statisticsBlock {
  display: flex;
}

.statistics {
  width: 100%;
}

.iconContainer {
  width: $iconContainerSize;
  height: $iconContainerSize;
  border: none;
  background: none;
  cursor: pointer;
}

.icon {
  display: block;
  min-width: $iconSizeSmall;
  min-height: $iconSizeSmall;
  margin-left: $marginSmall;
  cursor: pointer;
}

.wayDashboard {
  display: grid;
  gap: $gapMedium;
  grid-template-columns: repeat(auto-fit, minmax($minWidthBlock, 1fr));
}

.wayDashBoardLeft {
  gap: $gapMedium;
}

.buttons {
  display: flex;
  align-items: center;
  gap: $gapMedium;
}

.gap {
  gap: $gapMedium;
}

.accordion {
  margin-top: $marginMedium;
}

.trash {
  display: inline-block;
}

.wayName {
  input {
    width: $minWidthBlock;
    height: $heightH2;
    margin-top: $marginMedium;
    margin-bottom: $marginMedium;
  }
}

.horizontalContainer {
  align-items: flex-start;
  gap: $gapSmall;
}

.checkbox {
  min-width: $checkboxWidthLarge;
  min-height: $checkboxHeightLarge;
}

.checkbox::after {
  width: $checkmarkWidthLarge;
  height: $checkmarkHeightLarge;
  box-shadow: inset $checkmarkWidthLarge $checkmarkHeightLarge
    var(--primaryTextColor);
}

.jobDoneTagsWrapper {
  min-width: $minWidthBlock;
  max-width: $maxWidthBlock;
}

@media (max-width: $mediaWidthMobileBig) {
  .wrap {
    justify-content: center;
  }
}
