@import "src/styles/variables";

$iconContainerSize: 25px;

.container {
  width: 100%;
  margin: 0 auto;
}

.goalSection {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: $marginMedium;
  gap: $gapMedium;
}

.goalDescription {
  min-width: $minWidthBlock;
  max-width: $maxWidthBlock;

  textarea {
    width: 100%;
    padding: $paddingSmall;
  }
}

.singularMetric {
  display: flex;
  max-width: $maxWidthBlock;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $gapSmall;
}

.mentors {
  display: flex;
}

.iconContainer {
  width: $iconContainerSize;
  height: $iconContainerSize;
  cursor: pointer;
}

.icon {
  display: block;
  min-width: $iconSizeSmall;
  min-height: $iconSizeSmall;
  margin-left: $marginSmall;
  cursor: pointer;
}

.alignItems {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: center;
  gap: $gapMedium;
}

.gap {
  gap: $gapMedium;
}

.accordion {
  margin-top: $marginMedium;
}

.trash {
  display: inline-block;
}

.titleH2 {
  input {
    width: $minWidthBlock;
    height: $heightH2;
    margin-top: $marginMedium;
    margin-bottom: $marginMedium;
  }
}

.goalSubSection {
  width: 30%;
  min-width: $minWidthBlock;
  max-width: $maxWidthBlock;
}

.horizontalContainer {
  align-items: flex-start;
  gap: $gapSmall;
}

.checkbox {
  min-width: $checkboxWidthLarge;
  min-height: $checkboxHeightLarge;
}

.checkbox::after {
  width: $checkmarkWidthLarge;
  height: $checkmarkHeightLarge;
  box-shadow: inset $checkmarkWidthLarge $checkmarkHeightLarge
    var(--primaryTextColor);
}

@media (max-width: $mediaWidthMobileBig) {
  .goalSection {
    justify-content: center;
  }
}
