@import "src/styles/variables";

.titleContainer {
  justify-content: space-between;
}

.dayReportsContent {
  @include regularContainer;
  display: grid;
  gap: $gapMedium;
}

.loadMoreButton {
  display: block;
  margin-left: auto;
}
