@import "src/styles/variables";

$avatarSmallSize: 24px;
$avatarMediumSize: 32px;
$avatarBigSize: 80px;
$avatarLargeSize: 120px;

.AvatarRoot {
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: $tertiaryBorderRadius;
  user-select: none;
  vertical-align: middle;
  border: 1px solid var(--primaryStrokeColor)
}

.AvatarImage {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
}

.AvatarFallback {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--secondaryBgColor);
  color: var(--primaryTextColor);
}

.small {
  width: $avatarSmallSize;
  height: $avatarSmallSize;
  font-size: $fontSizeSmall;
}

.medium {
  width: $avatarMediumSize;
  height: $avatarMediumSize;
  font-size: $fontSizeMedium;
}

.big {
  width: $avatarBigSize;
  height: $avatarBigSize;
  font-size: $fontSizeLarge;
}

.large {
  width: $avatarLargeSize;
  height: $avatarLargeSize;
  font-size: $fontSizeTitleMedium;
}
