* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

.title {
  padding: 20px;
  text-align: center;
}

table {
  margin: 2rem auto;
  border: 1px solid #000;
  border-radius: 1rem;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px black;
  overflow: hidden;
  width: 80%;
}

thead {
  font-size: 1.2rem;
  background-color: aliceblue;
}

th, td {
  border: 1px solid #000;
  width: 15%;
  padding: 1.5rem;
  line-height: 1.7;
}

td {
  font-size: 1rem;
}
