@import "src/styles/variables";

$table-border: $primaryBorder solid var(--primaryStrokeColor);
$cell-max-width: 600px;

.table {
  width: 100%;
  height: 100%;
  border-radius: $primaryBorderRadius;
  background-color: var(--primaryBgColor);
  border-collapse: separate;
  border-spacing: 0;

  th {
    padding: 5px;
    border: $table-border;
    border-left: 0;
    background: var(--primaryBgColor);
    background-clip: padding-box;
    font-weight: bold;
  }

  td {
    max-width: $cell-max-width;
    border-right: $table-border;
    border-bottom: $table-border;
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;

    pre {
      overflow: auto;
    }
  }

  th:first-child,
  td:first-child {
    border-left: $table-border;
  }

  tr:first-child th:first-child {
    border-top-left-radius: $primaryBorderRadius;
  }

  tr:first-child th:last-child {
    border-top-right-radius: $primaryBorderRadius;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: $primaryBorderRadius;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: $primaryBorderRadius;
  }
}
