@import "src/styles/variables";

.table {
  width: 100%;
  border: $border-lightgray;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.table th {
  padding: 5px;
  border: $border-lightgray;
  background: $lightgray2;
  font-weight: bold;
}

.table td {
  padding: 8px 10px;
  border: $border-lightgray;
  text-align: left;
}
