.container {
  width: 100%;
  margin: 0 auto;
}

.title {
  padding: 20px;
  text-align: center;
}

.table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}

.table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
  width: calc(100% / 8);
}

.table td {
  border: 1px solid #dddddd;
  padding: 8px 10px;
  text-align: left;
  vertical-align: baseline;
}

// .table tbody tr:nth-child(even) {
//   background: #f3f3f3;
// }
