@import "src/styles/variables";

.advantageItem {
  width: 31%;
  min-width: $minWidthBlock;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  gap: $gapMedium;
}

.advantageTitle {
  flex: 1;
  font-size: $fontSizeTitleSmall;
  text-align: center;
}

.advantageDescription {
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.iconWrapper {
  display: flex;
  width: 64px;
  height: 64px;
  align-items: center;
  justify-content: center;
  border-radius: $tertiaryBorderRadius;
  background-color: var(--primaryBgColor);
}

.icon {
  stroke: var(--generalPrimaryColor);
}

.advantageText {
  gap: 10px;
}
