@import "src/styles/variables";

.chatTrigger {
  position: fixed;
  z-index: $chatZIndex;
  right: 0;
  bottom: calc(3 * $marginBig);
  width: 50px;
  height: 160px;
  padding: $paddingBig $paddingMedium;
  border: $primaryBorder solid var(--secondaryStrokeColor);
  border-radius: $primaryBorderRadius;
  background-color: var(--generalPrimaryColor);
  color: var(--secondaryTextColor);

  & svg {
    stroke: var(--secondaryStrokeColor);
  }

  &:hover {
    background-color: var(--quaternaryBgColor);
    cursor: pointer;
  }
}

.chatIcon {
  margin-bottom: $marginMedium;
}

.chatTriggerText {
  text-wrap: nowrap;
  transform: rotate(90deg);
}

.chatHeader {
  align-items: center;
  justify-content: space-between;
  padding: $paddingMedium;
  background-color: var(--generalPrimaryColor);
  color: var(--secondaryTextColor);
}

.removeButton {
  &:hover {
    cursor: pointer;
  }
}

.removeIcon {
  stroke: var(--secondaryIconBgColor);
}

// Modal
$modal-close-btn-top: 10px;
$modal-close-btn-right: 10px;
$modal-close-btn-size: 25px;
$modal-animation-time: 150ms;

.chatOverlay {
  position: fixed;
  z-index: $modalZIndex;
  animation: overlayShow $modal-animation-time cubic-bezier(0.16, 1, 0.3, 1);
  background-color: var(--overlayBgColor);
  inset: 0;
}

.chatContent {
  position: fixed;
  z-index: $modalZIndex;
  right: 0;
  bottom: 0;
  display: flex;
  width: 70%;
  height: 100vh;
  border: $primaryBorder solid var(--primaryStrokeColor);
  animation: contentShow $modal-animation-time cubic-bezier(0.16, 1, 0.3, 1);
}

.chatContainer {
  width: 100%;
}

.chatContactsMessages {
  flex: 1;
  gap: 0;
  overflow-y: auto;
}

.chatList {
  flex: 1;
  padding: $paddingMedium;
  background-color: var(--tertiaryBgColor);
  gap: $gapMedium;
  overflow-y: auto;
}

.chatListHide {
  @media (max-width: $mediaWidthMobileBig) {
    display: none;
  }
}

.chatBlock {
  flex: 2;
  background-color: var(--secondaryBgColor);

  @media (max-width: $mediaWidthMobileBig) {
    display: none;
  }
}

.chatBlockOpen {
  display: flex;
}

.chatInfo {
  justify-content: space-between;
  padding: $paddingMedium;
  border-bottom: $primaryBorder solid var(--primaryStrokeColor);
}

.messageList {
  flex: 1;
  padding: $paddingMedium;
  gap: $gapMedium;
  overflow-y: auto;
}

.messageInputBlock {
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: $paddingMedium;
  background-color: var(--tertiaryBgColor);
  gap: $gapExtraBig;
}

.unreadMessagesAmount {
  position: absolute;
  bottom: -15px;
  left: calc(50% - 15px);
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  padding: $paddingExtraSmall;
  border-radius: $tagBorderRadius;
  background-color: var(--primaryBgColor);
  color: var(--primaryTextColor);
}
.messages {
  display: flex;
  flex-direction: column;
}

.uploadFileInput {
  display: none;
}

.uploadFileIcon {
  &:hover {
    cursor: pointer;
    stroke: var(--hoverIconColor);
  }
}

.indicator {
  width: 10px;
  height: 10px;
  padding: $paddingExtraSmall;
  border-radius: $tagBorderRadius;
  margin: 0 auto $marginMedium;
}

.onlineIndicator {
  background-color: green;
}

.offlineIndicator {
  background-color: red;
  .wayActionsIcon {
    z-index: $chatActionButton;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: $mediaWidthTabletBig) {
  .chatContent {
    width: 100%;
  }
}

@media (max-width: $mediaWidthTablet) {
  .chatItem {
    max-width: 50px;
  }
}
