@import "src/styles/variables";

$wayCardMainInfoPadding: $paddingBig $paddingBig;
$wayCardAdditionalInfoPadding: $paddingMedium $paddingBig $paddingBig;
$wayCardMainHeight: 147px;
$wayCardAdditionalHeight: 105px;
$cardLinkFontSize: 16px;

.wayCardContainer {
  border-radius: $secondaryBorderRadius;
  -webkit-box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  @include scaleOnHover;
}

.mainInfo {
  height: $wayCardMainHeight;
  padding: $wayCardMainInfoPadding;
  border-radius: $secondaryBorderRadius $secondaryBorderRadius 0 0;
  background-color: var(--tertiaryBackgroundColor);
  gap: $gapMedium;
}

.title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  color: var(--secondaryTextColor);
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  white-space: initial;
}

.wayGoal {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  color: var(--secondaryTextColor);
  font-size: $fontSizeMedium;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: initial;
}

.ownerInfo {
  align-items: center;
  margin-top: auto;
  color: var(--secondaryTextColor);
  font-size: $fontSizeSmall;
}

.ownerLink {
  color: var(--secondaryTextColor);
  font-size: $fontSizeSmall;
}

.additionalInfo {
  height: $wayCardAdditionalHeight;
  padding: $wayCardAdditionalInfoPadding;
  border-radius: 0 0 $secondaryBorderRadius $secondaryBorderRadius;
  background-color: var(--primaryBackgroundColor);
  color: var(--tertiaryTextColor);
  font-size: $fontSizeMedium;
  gap: $gapMedium;
}

.wayTags {
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  align-items: center;
  // display: -webkit-box;
  -webkit-box-orient: vertical;
  gap: $gapMedium;
  -webkit-line-clamp: 1;
}

.nameLikes {
  align-items: center;
  justify-content: space-between;
}

.likes {
  align-items: center;
  color: var(--secondaryTextColor);
  gap: $gapSmall;
}

.icon {
  margin-right: $marginSmall;
  stroke: var(--secondaryTextColor);
}

.mentors {
  overflow: hidden;
  font-size: $fontSizeMedium;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mentorLink {
  color: var(--tertiaryTextColor);
  font-size: $fontSizeMedium;
}

.dates {
  justify-content: space-between;
}

.cardLink {
  font-size: $cardLinkFontSize;
  text-decoration: none;
}
