@import "src/styles/variables";

.statisticLabelsBlock {
  max-height: $minHeightBlock;
  gap: $gapExtraSmall;
  overflow-y: auto;
}

.titleLine {
  gap: $gapSmall;
  grid-template-columns: repeat(3, 1fr);
}

.statisticLabelsTitle {
  padding-bottom: $paddingSmall;
  text-align: right;

  &:first-child {
    text-align: left;
  }
}
