@import "src/styles/variables";

.homePageWrapper {
  width: 100%;
  margin-top: $headerHeight;

  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  justify-content: center;
  border-radius: $containerBorderRadius $containerBorderRadius 0 0;
  background-color: var(--secondaryBgColor);
}

.welcomeBlock {
  max-width: $maxWidthLandingContainer;
  align-items: end;
  padding: $paddingVerticalBlockBig $paddingMedium;
  margin: 0 auto;
  gap: $gapLarge;
  grid-template-columns: repeat(auto-fit, minmax($mediumWidthBlock, 1fr));

  @media (max-width: $mediaWidthTabletBig) {
    grid-template-columns: 1fr;
  }
}

.welcomeInfoBlock {
  gap: $gapMedium;

  @media (max-width: $mediaWidthTabletBig) {
    align-items: center;
  }
}

.welcomeBlockButton {
  @media (max-width: $mediaWidthMobileBig) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.buildSystemImageBlock {
  height: auto;
  margin: 0 auto;

  @media (max-width: $mediaWidthTablet) {
    width: 100%;
  }
}

.title {
  @media (max-width: $mediaWidthTabletBig) {
    text-align: center;
  }
  & h1 {
    font-size: $fontSizeTitleLarge;

    @media (max-width: $mediaWidthMobileBig) {
      font-size: $fontSizeTitleBig;
    }
  }
}

.titleDescription {
  font-weight: $fontWeightSemibold;

  @media (max-width: $mediaWidthTabletBig) {
    text-align: center;
  }
}

.getStartedButton,
.viewAllWaysButton {
  width: fit-content;
  margin-top: $marginBig;
}

.advantagesBlock,
.buildSystemBlock,
.aboutProjectBlock {
  width: 100%;
  align-items: center;
  padding: $paddingVerticalBlockBig $paddingMedium;
  margin: 0 auto;
  gap: $gapBig;

  @media (max-width: $mediaWidthMobileBig) {
    justify-content: center;
  }
}

.advantagesBlock {
  background-color: var(--tertiaryBgColor);
}

.aboutProjectBlock {
  flex-wrap: wrap;
  background-color: var(--secondaryBgColor);
}

.advantages,
.systemItems,
.aboutProjectItems {
  max-width: $maxWidthLandingContainer;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $paddingBig $paddingMedium;
  gap: $gapLarge;

  @media (max-width: $mediaWidthMobileBig) {
    justify-content: center;
  }
}

.aboutProjectItems {
  @media (max-width: $mediaWidthTabletBig) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.advantagesTitle,
.systemBlockTitle,
.aboutAppBlockTitle {
  text-align: center;

  & h2 {
    font-size: $fontSizeTitleBig;

    @media (max-width: $mediaWidthMobileBig) {
      text-align: center;
    }
  }
}

.advantagesDescription,
.systemBlockDescription {
  max-width: $maxWidthBlock;
  font-size: $fontSizeBig;
  line-height: $lineHeightPrimary;
  text-align: center;
}

.aboutAppBlockDescription {
  font-size: $fontSizeLarge;
  gap: $gapLarge;
  line-height: $lineHeightPrimary;
}

.aboutProjectImage {
  min-width: $minWidthBlock;
  max-width: $mediumWidthBlock;
  object-fit: contain;
}

.aboutProjectDescription {
  flex: 1;
  color: var(--primaryTextColor);
  gap: $gapLarge;
}

.aboutAppGetStartedButton,
.aboutProjectGetStartedButton {
  width: fit-content;
}

.aboutAppBlock {
  align-items: center;
  gap: $gapLarge;
}

.aboutAppBlockButtons {
  flex-wrap: wrap;
  align-items: center;
  gap: $gapExtraBig;

  @media (max-width: $mediaWidthMobileBig) {
    justify-content: center;
  }
}

.manifestoLink {
  font-size: $fontSizeTitleSmall;
}

.videosBlock {
  gap: $gapSmall;
}
