@import "src/styles/_variables";

$sidebar-animation-time: 350ms;
$sidebar-width: 300px;
$sidebar-button-size: 20px;
$closeButtonRight: 35px;

.dialogOverlay {
  position: fixed;
  z-index: $sidebarZIndex;
  animation: overlayShow $sidebar-animation-time linear;
  background-color: var(--primaryBgColor);
  inset: 0;
  opacity: 0.5;
}

.dialogContent {
  position: fixed;
  z-index: $sidebarZIndex;
  top: 0;
  right: -$sidebar-width;
  width: $sidebar-width;
  height: 100%;
  padding: $paddingBig;
  animation: contentShow $sidebar-animation-time linear;
  background-color: var(--primaryBgColor);

  &:focus {
    outline: none;
  }

  &[data-state="open"] {
    right: 0;
  }
}

.closeButton {
  position: absolute;
  right: $closeButtonRight;
  display: inline-flex;
  width: $sidebar-button-size;
  height: $sidebar-button-size;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  cursor: pointer;

  & svg {
    color: white;
    stroke: none;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
