@import "src/styles/_variables.scss";

.dialogOverlay {
  background-color: $transparent-black;
  position: fixed;
  inset: 0;
  animation: overlayShow $sidebar-animation-time cubic-bezier(0.16, 1, 0.3, 1);
}

.dialogContent {
  background-color: $white;
  position: fixed;
  top: 0;
  left: -$sidebar-width;
  width: $sidebar-width;
  height: $height-full;
  padding: $sidebar-padding;
  animation: contentShow $sidebar-animation-time cubic-bezier(0.16, 1, 0.3, 1);
  &:focus {
    outline: none;
  }
  &[data-state="open"] {
    left: 0;
  }
}

.closeButton {
  height: $sidebar-button-size;
  width: $sidebar-button-size;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: $sidebar-button-offset;
  right: $sidebar-button-offset;
  cursor: pointer;
  &:hover {
    text-shadow: 2px 2px 2px $button-shadow;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
