@import "src/styles/variables";

$wayCardMainHeight: 190px;
$wayCardAdditionalHeight: 118px;

.cardLink {
  text-decoration: none;
}

.topicCard {
  align-items: center;
  justify-content: space-between;
  padding: $paddingSmall;
  border-radius: $primaryBorderRadius;

  &:hover {
    background-color: var(--tertiaryBgColor);
  }
}

.dateValue {
  font-size: $fontSizeSmall;
}

.amountInfo {
  align-items: center;
  justify-content: center;
  gap: $gapExtraSmall;
}

.topicActionButtons {
  align-items: center;
}
