@import "src/styles/variables";

$wayCardMainHeight: 190px;
$wayCardAdditionalHeight: 118px;

.cardLink {
  text-decoration: none;
}

.topicCard {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.topicTitleAndLink {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.topicTitle {
  width: 100%;
}

.dateValue {
  font-size: $fontSizeSmall;
}

.amountInfo {
  align-items: center;
  justify-content: center;
  gap: $gapExtraSmall;
}

.topicActionButtons {
  align-items: center;
  justify-content: space-between;
}
