@import "src/styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  background: $lightblue;
}

.title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: $lightyellow;
  text-shadow: 2px 2px 2px rgb(77, 77, 77);
  margin-top: -1em;
}

.logo {
  display: flex;
  justify-content: center;
  color: $lightyellow;
  text-shadow: 2px 2px 2px rgb(77, 77, 77);
}

.blockButton {
  display: flex;
  align-items: center;
}
