.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.headerButtonsContainer {
  display: flex;
}

.navSidebarContent {
  display: flex;
  flex-direction: column;
}
