@import "src/styles/variables";

$burgerMenuSize: 24px;
$logoSidebarHeight: 40px;
$googleIconSize: 20px;
$loginImageMaxWidth: 457px;
$loginModalMaxWidth: 914px;
$iconSize: 32px;

.header {
  display: flex;
  width: 100%;
  max-width: $maxWidthContainer;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: $paddingMedium;
  margin: 0 auto;
}

.logoSidebar {
  height: $logoSidebarHeight;
}

.headerButtonsContainer {
  align-items: center;
  justify-content: space-between;
  gap: $gapBig;

  @media (max-width: $mediaWidthTablet) {
    gap: $gapMedium;
  }
}

.logoWithBell {
  align-items: center;
  gap: $gapBig;
}

.logoLink {
  width: 85px;
}

.logo {
  cursor: pointer;
}

.notificationTrigger {
  &:hover {
    svg {
      stroke: var(--generalPrimaryColor);
    }
  }
}

.active {
  background-color: var(--secondaryBgColor);
}

.bellWithUnreadNotificationsAmount {
  gap: 0;
}

.unreadNotificationAmount {
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border-radius: $tertiaryBorderRadius;
  margin-top: -5px;
  margin-left: -15px;
  background-color: var(--generalPrimaryColor);
  color: var(--primaryTextColor);
  font-size: $fontSizeSmall;
}

.headerThemeLanguageBlock {
  align-items: center;
  gap: $gapBig;
  @media (max-width: $mediaWidthTablet) {
    gap: $gapMedium;
  }
  @media (max-width: $mediaWidthMobileBig) {
    gap: $gapSmall;
  }
}

.headerSidebarBlock {
  align-items: center;
  gap: $gapBig;

  @media (max-width: $mediaWidthTablet) {
    gap: $gapMedium;
  }
  @media (max-width: $mediaWidthMobileBig) {
    gap: $gapSmall;
  }
}

.userAvatar {
  text-decoration: none;
}

.burgerMenu {
  width: $burgerMenuSize;
  height: $burgerMenuSize;
  margin-top: 2px;
  cursor: pointer;
  fill: var(--primaryIconColor);
}

.sidebarItem {
  align-items: center;
  justify-content: space-between;
  color: var(--secondaryTextColor);
}

.sidebarIcon {
  stroke: var(--secondaryStrokeColor);
}

.iconWithText {
  align-items: center;
  gap: $gapSmall;
}

.bottomContainer {
  gap: $gapBig;
}

.linkIcon {
  stroke: var(--secondaryStrokeColor);
}

.themeSwitcher,
.selectLanguage {
  @media (max-width: $mediaWidthMobileMedium) {
    display: none;
  }
}

.loginModal {
  overflow: hidden;
  width: 90%;
  max-width: $loginModalMaxWidth;
  padding: 0;
  border: none;
  gap: 0;
}

.loginContainer {
  gap: 0;
}

.loginImage {
  width: 100%;
  max-width: $loginImageMaxWidth;

  @media (max-width: $mediaWidthTablet) {
    display: none;
  }
}

.loginContent {
  width: 100%;
  flex-grow: 1;
  padding: $paddingExtraBig $paddingBig;
  gap: $gapLarge;
}

.loginTitle {
  text-align: center;
}

.googleIcon {
  width: $googleIconSize;
  height: $googleIconSize;
}

.loginButtons {
  flex-grow: 1;
  justify-content: center;
}

.loginGoogleButton {
  display: flex;
  justify-content: center;
  padding: $paddingMedium $paddingExtraBig;
  border: $primaryBorder solid var(--primaryStrokeColor);
  border-radius: $secondaryBorderRadius;
  text-decoration: none;
}

.googleButtonValue {
  gap: $gapSmall;
}

.socialMedia {
  color: var(--secondaryTextColor);
  gap: $gapExtraSmall;
}

.socialMediaText {
  font-weight: $fontWeightSemibold;
}

.iconWrapper {
  display: flex;
  width: $iconSize;
  height: $iconSize;
  align-items: center;
  justify-content: center;
  border-radius: $tertiaryBorderRadius;
  background-color: var(--secondaryIconBgColor);
}

.socialMediaIcon {
  stroke: var(--tertiaryIconColor);
}
