@import "src/styles/variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  cursor: default;
  background-color: var(--primaryBgColor);
  color: var(--primaryTextColor);
  font-family: $primaryFontFamily;
  font-size: $fontSizeBig;
}

#root {
  margin: 0 auto;
}
