@import "src/styles/variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  // start scrollbar styles
  &::-webkit-scrollbar {
    width: $scrollbarWidth;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $scrollbarThumbBorderRadius;
    background-color: var(--generalPrimaryColor);
  }
  // end scrollbar styles
}

body {
  background-color: var(--primaryBgColor);
  color: var(--primaryTextColor);
  font-family: $primaryFontFamily;
  font-size: $fontSizeBig;
}

#root {
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin: 0 auto;
}
