@import "src/styles/variables";

.list {
  display: flex;
  width: 100%;
  min-width: 80px;
  height: 100%;
  padding: $paddingSmall;
}

.numberedList {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  gap: $gapSmall;
  list-style-type: none;
}

.numberedListItem {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: $gapSmall;
}

.recordInfo {
  align-items: center;
}

.ownerName {
  flex: 1;
}

.linkToOwnerWay {
  display: flex;
  align-items: center;
}

.socialMediaIcon {
  width: $iconSizeSmall;
  height: $iconSizeSmall;
}

.aiButton {
  border-color: var(--generalPrimaryColor);
  background-color: var(--tertiaryBgColor);
  font-weight: $fontWeightRegular;
}

.trashReservation {
  width: 16px;
}
