//Font family
$primaryFontFamily: "Roboto", sans-serif;

// Font size
$fontSizeTitleLarge: 64px;
$fontSizeTitleBig: 40px;
$fontSizeTitleMedium: 32px;
$fontSizeTitleSmall: 24px;
$fontSizeLarge: 24px;
$fontSizeBig: 16px;
$fontSizeMedium: 14px;
$fontSizeSmall: 12px;

// Font weight
$fontWeightLight: 300;
$fontWeightReular: 400;
$fontWeightSemibold: 500;
$fontWeightBold: 700;

// line-height
$lineHeightPrimary: 1.4;

// Border-radius
$primaryBorderRadius: 10px;
$secondaryBorderRadius: 8px;
$quaternaryBorderRadius: 2px;
$tertiaryBorderRadius: 50%;
$tagBorderRadius: 1000px;

// Stroke, border
$primaryBorder: 1px;

//Transitions
$primaryTransitionDuration: 300ms;
$secondaryTransitionDuration: 150ms;
$elementHoverTransition: 650ms;
$tertiaryTransitionDuration: 500ms;

// z-index
$sidebarZIndex: 100;
$tooltipZIndex: 110;
$dropdownZIndex: 110;
$modalZIndex: 120;
$progressIndicatorZIndex: -1;

// Margins, paddings, gaps
// Height of header. Need for add background under the header
$mainImageMarginTop: -103px;
$marginBig: 20px;
$marginMedium: 10px;
$marginSmall: 4px;

$paddingVerticalBlockBig: 128px; //top, bottom between inside blocks on the pages
$paddingExtraSmall: 4px; // doesn't exist on figma, need to delete after redesign
$paddingSmall: 8px;
$paddingMedium: 16px;
$paddingExtraMedium: 20px;
$paddingBig: 24px;
$paddingExtraBig: 32px;
$paddingLarge: 40px;

$gapExtraSmall: 4px;
$gapSmall: 8px;
$gapMedium: 16px;
$gapBig: 24px;
$gapExtraBig: 32px;
$gapLarge: 40px;
$gapExtraLarge: 48px;

// Widths and heights
$iconSizeSmall: 16px;
$iconSizeMedium: 25px;
$minWidthBlock: 248px;
$maxWidthContainer: 1560px;
$mediumWidthBlock: 350px;
$maxWidthFullScreen: 1920px;
$maxWidthBlock: 600px;
$minHeightBlock: 360px;
$minWidthDate: 80px;
$heightH2: 27px;
$heightH3: 22px;
$checkboxWidthSmall: 16px;
$checkboxHeightSmall: 16px;
$checkboxWidthMedium: 18px;
$checkboxHeightMedium: 18px;
$checkboxWidthLarge: 25px;
$checkboxHeightLarge: 25px;
$checkmarkWidthMedium: 10px;
$checkmarkHeightMedium: 10px;
$checkmarkWidthLarge: 16px;
$checkmarkHeightLarge: 16px;
$sidebarWidth: 320px;

// MediaQuery widths
$mediaWidthMobileSmall: 320px;
$mediaWidthMobileMedium: 434px;
$mediaWidthMobileBig: 600px;
$mediaWidthTablet: 768px;
$mediaWidthTabletBig: 1100px;
$mediaWidthDesktopBig: 1920px;
$mediaWidthDesktopMedium: 1536px;
$mediaWidthDesktopSmall: 1280px;

// opacity
$disableOpacity: 0.7;

@mixin regularContainer {
  padding: $paddingLarge;
  border-radius: 20px;
  background-color: var(--secondaryBgColor);

  @media only screen and (max-width: $mediaWidthMobileMedium) {
    padding: $paddingExtraMedium;
  }
}

@mixin scaleOnHover {
  &:hover {
    transform: scale(1.02);
    transition: 0.3s;
  }
}

// animation
@mixin animation(
  $name: defaultAnimation,
  $duration: 1s,
  $timing-function: ease,
  $direction: forwards
) {
  animation: $name $duration $timing-function $direction;
}

@keyframes defaultAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
