//Button
$button-background: rgb(177, 162, 149);
$button-shadow: rgb(77, 77, 77);
$button-active: rgb(246, 246, 150);
$button-radius: 12px;
$button-margin: 20px;

// Link
$link-active: rgb(255, 149, 0);

// Header
$header-background: rgb(85, 122, 149);

// Title
$title: rgb(246, 246, 150);
$title-shadow: rgb(77, 77, 77);
$title-padding: 10px;
