//Font family
$primaryFontFamily: Inter;

// Font size
$primaryFontSize: 12px;
$fontSizeLarge: 48px;

// Borders
$primaryBorderRadius: 6px;

//Transitions
$primaryTransitionDuration: 300ms;
$elementHoverTransition: 500ms;

// z-index
$sidebarZIndex: 100;
$tooltipZIndex: 100;

// Margins, paddings, gaps
$defaultPadding: 10px;
$defaultMargin: 10px;
$defaultGap: 10px;
$defaultSmallGap: 5px;
$defaultSmallMargin: 5px;
$defaultSmallPadding: 5px;

// Widths and heights
$minWidthBlock: 360px;
$maxWidthBlock: 600px;
$minWidthDate: 80px;
$heightH2: 27px;
$heightH3: 22px;
