//Font family
$primaryFontFamily: Inter;

// Font size
$primaryFontSize: 12px;
$fontSizeLarge: 48px;

// Borders
$primaryBorderRadius: 6px;

//Transitions
$primaryTransitionDuration: 300ms;
$secondaryTransitionDuration: 150ms;
$elementHoverTransition: 500ms;

// z-index
$sidebarZIndex: 100;
$tooltipZIndex: 100;
$dropdownZIndex: 100;
$progressIndicatorZIndex: -1;

// Margins, paddings, gaps
$marginBig: 20px;
$paddingMedium: 10px;
$marginMedium: 10px;
$gapMedium: 10px;
$gapSmall: 5px;
$marginSmall: 5px;
$paddingSmall: 5px;
$gapBig: 30px;

// Widths and heights
$iconSizeSmall: 15px;
$iconSizeMedium: 25px;
$minWidthBlock: 360px;
$minHeightBlock: 360px;
$maxWidthBlock: 600px;
$minWidthDate: 80px;
$heightH2: 27px;
$heightH3: 22px;
$checkboxWidthSmall: 15px;
$checkboxHeightSmall: 15px;
$checkboxWidthMedium: 18px;
$checkboxHeightMedium: 18px;
$checkboxWidthLarge: 25px;
$checkboxHeightLarge: 25px;
$checkmarkWidthMedium: 10px;
$checkmarkHeightMedium: 10px;
$checkmarkWidthLarge: 16px;
$checkmarkHeightLarge: 16px;

// MediaQuery widths
$mediaWidthMobileSmall: 360px;
$mediaWidthMobileBig: 600px;

// opacity
$disableOpacity: 0.7;
