//Button
$button-background: rgb(177, 162, 149);
$button-shadow: rgb(77, 77, 77);
$button-active: rgb(246, 246, 150);
$button-radius: 12px;
$button-margin: 20px;

// Link
$link-active: rgb(255, 149, 0);

// Header
$header-background: rgb(85, 122, 149);

// Title
$title-padding: 10px;

// Font size
 $font-size-large: 48px;


//Colors
$lightgray: rgb(211, 211, 211);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$green: rgb(0, 128, 0);
