@import "src/styles/variables";

// Temporal bottom padding while partner's block is not exist
$welcomeBlockPadding: 230px 0 420px;
$homeBorderRadius: 20px;
$homeGap: 40px;
$homeGapBig: 96px;
$homeMaxWidthTitle: 875px;
$getStartedButtonMarginTop: 50px;
$homePaddingSmallBlock: 25px;
$homePaddingBlock: 80px;
$homePaddingBigBlock: 128px;
$homeMaxWidthImage: 605px;
$widthBlock: 1305px;

.welcomeBlock {
  align-items: center;
  padding: $welcomeBlockPadding;
  margin-top: $mainImageMarginTop;
  background-image: url("https://drive.google.com/thumbnail?id=11wbqfxD6TDVneqyj7xidGIW4QPRSpMBt&sz=w1000");
  background-repeat: no-repeat;
  background-size: cover;
  gap: $homeGap;
}

.title {
  max-width: $homeMaxWidthTitle;
  padding: 0 $paddingMedium;
  margin: 0 auto;
  color: var(--secondaryTextColor);
  font-weight: bold;
  text-align: center;
}

.titleDescription {
  color: var(--secondaryTextColor);
  text-align: center;
}

.getStartedButton {
  margin-top: $getStartedButtonMarginTop;
}

.advantagesBlock {
  align-items: center;
  padding: $homePaddingBigBlock $paddingMedium 0;
  background-color: var(--generalPrimaryColor);
  gap: $homeGap;
}

.goals {
  width: 100%;
  max-width: $widthBlock;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: $homePaddingSmallBlock $paddingMedium;
  border: 1px solid var(--secondaryStrokeColor);
  border-radius: $homeBorderRadius;
  gap: $gapBig;
}

.goalsTitle {
  color: var(--secondaryTextColor);

  & h2 {
    font-size: $fontSizeTitleBig;
  }
}

.goalsSubTitle {
  & h3 {
    font-size: $fontSizeTitleSmall;
  }
}

.aboutProjectBlock {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: $homePaddingBigBlock $paddingMedium 0;
  background-color: var(--generalPrimaryColor);
  gap: $homeGapBig;
}

.aboutProjectImage {
  max-width: $homeMaxWidthImage;
}

.aboutProjectText {
  gap: $gapSmall;
}

.aboutProjectDescription,
.whatWeAreDescription {
  max-width: $maxWidthBlock;
  color: var(--secondaryTextColor);
  font-size: $fontSizeTitleSmall;
  gap: $homeGap;
  list-style-position: inside;

  @media (max-width: $mediaWidthMobileBig) {
    align-items: center;
  }
}

.aboutProjectGetStartedButton {
  width: fit-content;
}

.whatWeAreBlock {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: $homePaddingBigBlock $paddingMedium;
  background-color: var(--generalPrimaryColor);
  gap: $homeGapBig;
}

.whatWeAreImage {
  max-width: $homeMaxWidthImage;
  background-image: radial-gradient(
    var(--quaternaryBgColor) 0,
    var(--generalPrimaryColor) 70%
  );
  transform: scale(-1, 1);
}

.whatWeAreList {
  gap: $homeGap;
}

.whatWeAreItem {
  align-items: center;

  & .icon {
    min-width: $iconSizeMedium;
  }
}

.icon {
  stroke: var(--secondaryStrokeColor);
}

.whatWeAreButtons {
  align-items: center;
  gap: $homeGap;

  @media (max-width: $mediaWidthMobileBig) {
    flex-direction: column;
  }
}

.whatWeAreDescription {
  max-width: $maxWidthBlock;
}

.whatWeAreLink {
  color: var(--secondaryTextColor);
  font-size: $fontSizeTitleSmall;
}
