@import "src/styles/variables";

$homeBorderRadius: 20px;
$homeGapBig: 96px;
$homePaddingBlock: 80px;
$homePaddingBigBlock: 128px;

.container {
  justify-content: center;
  margin-top: $mainImageMarginTop;
  background-color: var(--generalPrimaryColor);
}

.welcomeBlock {
  max-width: $maxWidthContainer;
  align-items: end;
  padding: 103px $paddingMedium $homePaddingBigBlock;
  margin: 0 auto;
  gap: $gapLarge;
  grid-template-columns: repeat(auto-fit, minmax($mediumWidthBlock, 1fr));

  @media (max-width: $mediaWidthTablet) {
    grid-template-columns: 1fr;
  }
}

.welcomeInfoBlock {
  gap: $gapMedium;

  @media (max-width: $mediaWidthMobileBig) {
    align-items: center;
  }
}

.welcomeImageBlock {
  //temporal while we don't have the video
  max-height: 75%;
}

.buildSystemImageBlock {
  width: 80%;
  margin: 0 auto;

  @media (max-width: $mediaWidthTablet) {
    width: 100%;
  }
}

.title {
  margin-top: 152px;
  color: var(--secondaryTextColor);

  @media (max-width: $mediaWidthMobileBig) {
    text-align: center;
  }
}

.titleDescription {
  color: var(--secondaryTextColor);
  font-weight: $fontWeightSemibold;

  @media (max-width: $mediaWidthMobileBig) {
    text-align: center;
  }
}

.getStartedButton {
  width: fit-content;
  margin-top: $marginBig;
}

.advantagesBlock,
.buildSystemBlock,
.aboutProjectBlock {
  align-items: center;
  padding: 0 $paddingMedium $homePaddingBigBlock;
  margin: 0 auto;
  background-color: var(--generalPrimaryColor);
  gap: $gapBig;

  @media (max-width: $mediaWidthMobileBig) {
    justify-content: center;
  }
}

.aboutProjectBlock {
  flex-wrap: wrap;
}

.advantages,
.systemItems,
.aboutProjectItems {
  max-width: $maxWidthContainer;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $paddingBig $paddingMedium;
  gap: $gapExtraLarge;

  @media (max-width: $mediaWidthMobileBig) {
    justify-content: center;
  }
}

.advantagesTitle,
.systemBlockTitle,
.aboutAppBlockTitle {
  color: var(--secondaryTextColor);

  & h2 {
    font-size: $fontSizeTitleBig;

    @media (max-width: $mediaWidthMobileBig) {
      text-align: center;
    }
  }
}

.advantagesDescription,
.systemBlockDescription {
  max-width: $maxWidthBlock;
  color: var(--secondaryTextColor);
  font-size: $fontSizeBig;
  line-height: $lineHeightPrimary;
  text-align: center;
}

.aboutAppBlockDescription {
  font-size: $fontSizeLarge;
  gap: $gapLarge;
  line-height: $lineHeightPrimary;
}

.aboutProjectImage {
  min-width: $minWidthBlock;
  max-width: $maxWidthBlock;
}

.aboutProjectDescription {
  flex: 1;
  color: var(--secondaryTextColor);
  gap: $gapLarge;
}

.aboutAppGetStartedButton,
.aboutProjectGetStartedButton {
  width: fit-content;
}

.aboutAppBlock {
  align-items: center;
  gap: $gapLarge;
}

.aboutAppBlockButtons {
  flex-wrap: wrap;
  align-items: center;
  gap: $gapExtraBig;

  @media (max-width: $mediaWidthMobileBig) {
    justify-content: center;
  }
}

.manifestoLink {
  color: var(--secondaryTextColor);
  font-size: $fontSizeTitleSmall;
}
