# local kate
API_BASE_PATH=http://localhost:5173/api
API_CHAT_BASE_PATH=http://localhost:5173/chat

# GOOGLE_MEASUREMENT_ID= 
GOOGLE_MEASUREMENT_ID=G-2TCJSF50RZ
# "dev" or "prod"
ENV_TYPE=dev
AMPLITUDE_KEY=