@import "src/styles/variables";

.questionContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  gap: $gapSmall;
  scroll-margin-top: calc($headerHeight + $paddingBig);
}

.questionTitleAndActionsBlock {
  align-items: center;
  justify-content: space-between;
}

.title {
  width: 100%;
}