@import "src/styles/variables";

$editableTextWidth: 100%;
$editableTextMinWidth: 40px;

.editableText {
  overflow: hidden;
  width: $editableTextWidth;
}

.inputEditableText::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.inputEditableText {
  width: 30px;
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: center;
}
