@import "src/styles/variables";

$editableTextWidth: 100%;
$editableTextMinWidth: 40px; // we can move to variables

.editableText {
  overflow: hidden;
  width: $editableTextWidth;

  input {
    min-width: $editableTextMinWidth;
  }
}
