@import "src/styles/variables";

$JobTagMaxWidth: 100px;
$JobTagSmallMaxWidth: 80px;
$JobTagSmallFontSize: 0.8rem;
$JobTagPadding: 1px 5px;
$JobTagTransform: scale(0.8);

.jobTag {
  overflow: hidden;
  max-width: $JobTagMaxWidth;
  padding: $paddingSmall;
  border: 2px solid var(--primaryBorderColor);
  border-radius: $primaryBorderRadius;
  text-overflow: ellipsis;
}

.small {
  overflow: hidden;
  max-width: $JobTagSmallMaxWidth;
  box-sizing: border-box;
  padding: $JobTagPadding;
  font-size: $JobTagSmallFontSize;
  text-overflow: ellipsis;
  white-space: nowrap;
}
