@import "src/styles/variables";

.questionContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  gap: $gapSmall;
  scroll-margin-top: calc($headerHeight + $paddingBig);
}

.questionTitleAndOrder {
  align-items: center;
  justify-content: space-between;
}

.questionButtons {
  justify-content: center;
}

.questionItem {
  gap: $gapSmall;
}
