@import "src/styles/variables";

.inputPlan {
  flex-wrap: wrap;
  gap: $gapMedium;
}

.label {
  font-weight: bold;
}

.input {
  padding: $paddingSmall;
  border: 1px solid var(--primaryStrokeColor);
  border-radius: $primaryBorderRadius;
}

.buttons {
  margin-top: $marginMedium;
}

.copyPlanToJobModalContainer {
  display: flex;
  flex-direction: column;
  gap: $gapMedium;
}
