@import "src/styles/variables";

$labelWidth: 75px;
$percentageBLockWidth: 40px;
$labelColorSize: 10px;

.statisticLine {
  align-items: center;
  font-size: $fontSizeSmall;
  gap: $gapExtraSmall;
  grid-template-columns: repeat(3, 1fr);
}

.labelColorName {
  align-items: center;
  gap: $gapExtraSmall;
  text-overflow: ellipsis;
}

.labelName {
  overflow: hidden;
  width: $labelWidth;
  padding: 0;
  cursor: default;
  text-overflow: ellipsis;
}

.labelColor {
  width: $labelColorSize;
  height: $labelColorSize;
  flex-shrink: 0;
  border-radius: $tertiaryBorderRadius;
}

.amountTime {
  justify-content: right;
  gap: $gapExtraSmall;
}

.percentageBLock {
  width: $percentageBLockWidth;
  text-align: left;
}
