@import "src/styles/variables";

.button {
  padding: 13px 17px;
  border: none;
  border-radius: $primaryBorderRadius;
  background-color: $tertiaryBackgroundColor;
  color: $primaryTextColor;
  font-family: $primaryFontFamily;
  font-size: $primaryFontSize;
  transition-duration: $primaryTransitionDuration;

  &:hover {
    background-color: $hoverColor;
    cursor: pointer;
  }

  &:active {
    background-color: $activeColor;
  }
}
