@import "src/styles/variables";

.button {
  border: none;
  background-color: $buttonInitial;
  color: $whiteText;
  transition-duration: 0.3s;

  &:hover {
    background-color: $buttonHover;
    cursor: pointer;
  }

  &:active {
    background-color: $buttonActive;
  }
}

.buttonSmall {
  width: 72px;
  height: 36px;
  border-radius: $smallButtonBorderRadius;
}

.buttonLarge {
  width: 86px;
  height: 44px;
  border-radius: $largeButtonBorderRadius;
}
