@import "src/styles/variables";

.button {
  padding: 13px 17px;
  border: none;
  border-radius: $primaryBorderRadius;
  font-family: $primaryFontFamily;
  font-size: $primaryFontSize;
  transition-duration: $primaryTransitionDuration;

  &:hover {
    background-color: var(--hoverColor);
    cursor: pointer;
  }

  &:active {
    background-color: var(--activeColor);
  }
}

.primary {
  background-color: var(--tertiaryBackgroundColor);
  color: var(--secondaryTextColor);
}

.secondary {
  background-color: var(--secondaryBackgroundColor);
  color: var(--secondaryTextColor);
}

.tertiary {
  background-color: transparent;
  color: var(--primaryTextColor);
}
