@import "src/styles/variables";

$buttonBlockPadding: 10px;
$superSpecialBeautifulButtonBorderRadius: 20px;
$superSpecialBeautifulButtonMinWidth: 216px;
$superSpecialBeautifulButton: 18px;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $paddingExtraSmall $paddingExtraSmall;
  border: none;
  border-radius: $primaryBorderRadius;
  cursor: pointer;
  font-family: $primaryFontFamily;
  font-size: $fontSizeBig;
  gap: $gapSmall;
  transition-duration: $primaryTransitionDuration;

  &:disabled {
    cursor: not-allowed;
    opacity: $disableOpacity;
  }
}

.primary {
  padding: $buttonBlockPadding $paddingExtraBig;
  background-color: var(--generalPrimaryColor);
  color: var(--secondaryTextColor);

  &:hover:enabled {
    background-color: var(--primaryBgBtnHoverColor);
  }

  &:active:enabled {
    background-color: var(--primaryBgBtnActiveColor);
  }
}

.secondary {
  padding: $buttonBlockPadding $paddingExtraBig;
  border: $primaryBorder solid var(--primaryStrokeColor);
  background-color: var(--secondaryBgBtnColor);
  color: var(--primaryTextColor);

  &:hover:enabled,
  &:active:enabled {
    background-color: var(--primaryBgColor);
  }

  &:active:enabled {
    border: $primaryBorder solid var(--primaryBgColor);
    color: var(--generalPrimaryColor);
  }
}

.iconButton {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: $primaryBorder solid var(--primaryStrokeColor);
  border-radius: $tertiaryBorderRadius;
  background-color: var(--secondaryBgBtnColor);
  color: var(--primaryTextColor);

  & svg {
    stroke: var(--primaryStrokeColor);
  }

  &:hover:enabled {
    background-color: var(--primaryBgColor);
  }
}

.iconButtonWithoutBorder {
  background-color: var(--secondaryBgBtnColor);
  color: var(--primaryTextColor);

  &:hover:enabled {
    background-color: var(--primaryBgColor);
  }

  &:active:enabled {
    border: $primaryBorder solid var(--generalPrimaryColor);
    background-color: var(--primaryBgColor);
    color: var(--generalPrimaryColor);
  }
}

.superSpecialBeautifulButton {
  min-width: $superSpecialBeautifulButtonMinWidth;
  padding: $superSpecialBeautifulButton $paddingExtraBig;
  border: none;
  border-radius: $superSpecialBeautifulButtonBorderRadius;
  background-color: var(--homeBgButtonColor);
  color: var(--generalPrimaryColor);
  font-size: $fontSizeLarge;

  &:hover:enabled {
    background-color: var(--homeHoverBgButtonColor);
  }
}
