@import "src/styles/variables";

$dropdownWidth: 380px;
$dropdownIndentationBottom: 8px;

.dropdownContent,
.dropdownMenuSubContent {
  z-index: 99;
  max-width: $dropdownWidth;
  border: $primaryBorder solid var(--generalPrimaryColor);
  border-radius: $primaryBorderRadius;
  animation-duration: 400ms;
  animation-name: slideDownAndFade;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  background: var(--tertiaryBgColor);
  outline: none;
  overflow-y: auto;
  user-select: none;
  will-change: transform, opacity;
}

.dropdownMenuContent[data-side="top"],
.dropdownMenuSubContent[data-side="top"] {
  animation-name: slideDownAndFade;
}
.dropdownMenuContent[data-side="right"],
.dropdownMenuSubContent[data-side="right"] {
  animation-name: slideLeftAndFade;
}
.dropdownMenuContent[data-side="bottom"],
.dropdownMenuSubContent[data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.dropdownMenuContent[data-side="left"],
.dropdownMenuSubContent[data-side="left"] {
  animation-name: slideRightAndFade;

  @media (max-width: $mediaWidthMobileBig) {
    max-width: 50vw;
  }
}

.dropdownMenuSubTrigger {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: $paddingSmall $paddingMedium;
  padding-right: $paddingExtraSmall;
  cursor: pointer;
  font-size: $fontSizeMedium;
  outline: none;
  user-select: none;

  &:not(:last-child) {
    border-bottom: $primaryBorder solid var(--dropdownStrokeColor);
  }
}

.dropdownMenuSubTrigger[data-state="open"] {
  background-color: var(--dropdownStrokeColor);
  color: var(--tertiaryTextColor);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY($dropdownIndentationBottom);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-$dropdownIndentationBottom);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-$dropdownIndentationBottom);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX($dropdownIndentationBottom);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.icon {
  flex-shrink: 0;
}
