@import "src/styles/variables";

$dropdownZIndex: 100;
$dropdownWidth: 100%;
$dropdownIndentationBottom: 70px;

.dropdown {
  position: relative;
}
.menu {
  position: absolute;
  z-index: $dropdownZIndex;
  width: $dropdownWidth;
  padding: $paddingMedium;
  border: 1px solid var(--primaryBorderColor);
  background: var(--primaryBackgroundColor);
  list-style: none;
  transform: translateY(calc(100% - $dropdownIndentationBottom));
}
