@import "src/styles/variables";

$dropdownWidth: 100%;
$dropdownIndentationBottom: 10px;

.dropdownContent {
  z-index: $dropdownZIndex;
  border: $primaryBorder solid var(--generalPrimaryColor);
  border-radius: $primaryBorderRadius;
  background: var(--tertiaryBgColor);
  overflow-y: auto;
  transform: translateY($dropdownIndentationBottom);
}
