@import "src/styles/variables";

$dropdownZIndex: 100;
$dropdownWidth: 100%;
$dropdownIndentationBottom: 10px;

.dropdown {
  position: relative;
}

.menu {
  list-style: none;
}

.dropdownContent {
  position: absolute;
  z-index: $dropdownZIndex;
  padding: $paddingMedium;
  border: 1px solid var(--primaryBorderColor);
  background: var(--primaryBackgroundColor);
  list-style: none;
  transform: translateY($dropdownIndentationBottom);
}
