@import "src/styles/variables";

.checkbox {
  cursor: pointer;
  accent-color: $green;
  width: $checkbox-width;
  height: $checkbox-height;
  margin: $checkbox-margin;
  transition: 0.3s all;

  &:hover {
    scale: 1.1;
  }
}
