@import "src/styles/variables";

$editableTextarea-width: 100%;

.editableTextarea {
  display: flex;
  width: $editableTextarea-width;
  flex-grow: 1;
  justify-content: space-between;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

.editableTextareaActive {
  display: flex;
  width: $editableTextarea-width;
  flex-direction: column;
}

.characterCount {
  color: var(--tertiaryTextColor);
  font-size: $fontSizeSmall;
}

.editableTextAreaFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: $gapSmall;
}

.editButton {
  display: flex;
  justify-content: flex-end;
}
