@import "src/styles/variables";

$editableTextarea-width: 100%;

.editableTextarea {
  max-width: $editableTextarea-width;
  flex-grow: 1;
  white-space: pre-wrap;

  textarea {
    width: 100%;
  }
}
