@import "src/styles/variables";

$editableTextarea-width: 100%;

.editableTextarea {
  max-width: $editableTextarea-width;
  flex-grow: 1;
  overflow-wrap: anywhere;

  textarea {
    width: 100%;
  }
}