@import "src/styles/variables";

$editableTextarea-width: 100%;

.editableTextarea {
  display: flex;
  width: $editableTextarea-width;
  flex-grow: 1;
  justify-content: space-between;
  white-space: pre-wrap;
  word-break: break-word;
}

.editableTextareaActive {
  width: $editableTextarea-width;
}

.characterCount {
  color: var(--tertiaryTextColor);
}

.characterCountExceeded {
  color: var(--dangerColor);
}

.editableTextAreaFooter {
  align-items: center;
  justify-content: flex-end;
  margin: $marginSmall;
}

.editButton {
  justify-content: flex-end;
  margin: $marginSmall;
}
