openapi: 3.0.1
info:
  contact: {}
  title: Masters way notification-bff API
  version: "1.0"
servers:
- url: /notification
paths:
  /notificationSettings:
    get:
      operationId: get-notificationSetting-list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mw-notification-bff_internal_schemas.GetNotificationSettingListResponse'
          description: OK
      summary: Get notificationSetting list by user id
      tags:
      - notificationSetting
  /notificationSettings/{notificationSettingId}:
    patch:
      operationId: update-notificationSetting
      parameters:
      - description: notification id
        in: path
        name: notificationSettingId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mw-notification-bff_internal_schemas.UpdateNotificationSettingPayload'
        description: query params
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mw-notification-bff_internal_schemas.NotificationSettingResponse'
          description: OK
      summary: Update notificationSetting by id
      tags:
      - notificationSetting
      x-codegen-request-body-name: request
  /notifications:
    get:
      operationId: get-notification-list
      parameters:
      - description: Page number for pagination - 1 by default
        in: query
        name: page
        schema:
          type: integer
      - description: Number of items per page - 50 by default
        in: query
        name: limit
        schema:
          type: integer
      - description: Get only new notifications - false by default
        in: query
        name: isOnlyNew
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mw-notification-bff_internal_schemas.GetNotificationListResponse'
          description: OK
      summary: Get notification list by user id
      tags:
      - notification
  /notifications/{notificationId}:
    patch:
      operationId: update-notification
      parameters:
      - description: notification id
        in: path
        name: notificationId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mw-notification-bff_internal_schemas.UpdateNotificationPayload'
        description: query params
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mw-notification-bff_internal_schemas.NotificationResponse'
          description: OK
      summary: Update notification by id
      tags:
      - notification
      x-codegen-request-body-name: request
components:
  schemas:
    mw-notification-bff_internal_schemas.GetNotificationListResponse:
      example:
        size: 0
        notifications:
        - createdAt: createdAt
          nature: nature
          isRead: true
          userUuid: userUuid
          description: description
          uuid: uuid
          url: url
        - createdAt: createdAt
          nature: nature
          isRead: true
          userUuid: userUuid
          description: description
          uuid: uuid
          url: url
      properties:
        notifications:
          items:
            $ref: '#/components/schemas/mw-notification-bff_internal_schemas.NotificationResponse'
          type: array
        size:
          type: integer
      required:
      - notifications
      - size
      type: object
    mw-notification-bff_internal_schemas.GetNotificationSettingListResponse:
      example:
        NotificationSettings:
        - nature: nature
          isEnabled: true
          channel: channel
          userUuid: userUuid
          uuid: uuid
        - nature: nature
          isEnabled: true
          channel: channel
          userUuid: userUuid
          uuid: uuid
      properties:
        NotificationSettings:
          items:
            $ref: '#/components/schemas/mw-notification-bff_internal_schemas.NotificationSettingResponse'
          type: array
      required:
      - NotificationSettings
      type: object
    mw-notification-bff_internal_schemas.NotificationResponse:
      example:
        createdAt: createdAt
        nature: nature
        isRead: true
        userUuid: userUuid
        description: description
        uuid: uuid
        url: url
      properties:
        createdAt:
          type: string
        description:
          type: string
        isRead:
          type: boolean
        nature:
          type: string
        url:
          type: string
        userUuid:
          type: string
        uuid:
          type: string
      required:
      - createdAt
      - description
      - isRead
      - nature
      - url
      - userUuid
      - uuid
      type: object
    mw-notification-bff_internal_schemas.NotificationSettingResponse:
      example:
        nature: nature
        isEnabled: true
        channel: channel
        userUuid: userUuid
        uuid: uuid
      properties:
        channel:
          type: string
        isEnabled:
          type: boolean
        nature:
          type: string
        userUuid:
          type: string
        uuid:
          type: string
      required:
      - channel
      - isEnabled
      - nature
      - userUuid
      - uuid
      type: object
    mw-notification-bff_internal_schemas.UpdateNotificationPayload:
      properties:
        isRead:
          type: boolean
      required:
      - isRead
      type: object
    mw-notification-bff_internal_schemas.UpdateNotificationSettingPayload:
      properties:
        isEnabled:
          type: boolean
      required:
      - isEnabled
      type: object
x-original-swagger-version: "2.0"
