@import "src/styles/variables";

.messageWrap {
  max-width: 80%;
  align-items: end;
}

.message {
  padding: $paddingSmall;
  border-radius: $primaryBorderRadius;
  background-color: var(--tertiaryBgColor);
}

.own {
  align-self: flex-end;
}

.ownMessage {
  flex: 1;
  background-color: var(--generalPrimaryColor);
  color: var(--secondaryTextColor);
  word-wrap: break-word;
}
