@import "src/styles/variables";

.reportCard {
  border-radius: $containerBorderRadius;
  background-color: var(--secondaryBgColor);
  gap: $gapSmall;
}

.reportItemWrapper {
  gap: $gapSmall;
  grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));

  @media (max-width: $mediaWidthDesktopMedium) {
    grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
  }

  @media (max-width: $mediaWidthTabletBig) {
    grid-template-columns: repeat(auto-fit, minmax($mediumWidthBlock, 1fr));
  }

  @media (max-width: $mediaWidthMobileBig) {
    grid-template-columns: repeat(auto-fit, minmax($minWidthBlock, 1fr));
  }
}

.gradeItem {
  fill: var(--favoriteActiveIconColor);
  stroke: var(--favoriteActiveIconColor);
}

.review {
  text-align: center;
}

.reviewerBlock {
  align-items: center;
  justify-content: space-between;
  gap: $gapMedium;
}
