SERVER_PORT=7999
# "dev" or "prod"
ENV_TYPE=dev
WEBAPP_BASE_URL=http://localhost:5173

GENERAL_API_HOST=mw-server:8000
GENERAL_BASE_URL=http://mw-server:8000/general

CHAT_API_HOST=mw-chat:8001
CHAT_BASE_URL=http://mw-chat:8001/chat

MW_CHAT_WEBSOCKET_API_HOST=mw-chat-websocket:7994
MW_CHAT_WEBSOCKET_BASE_URL=http://mw-chat-websocket:7994/mw-chat-websocket

TEST_STORAGE_API_HOST=localhost:8003
TEST_STORAGE_BASE_URL=http://localhost:8003/storage

TEST_CHAT_WEBSOCKET_API_HOST=localhost:7994
TEST_CHAT_WEBSOCKET_BASE_URL=http://localhost:7994/websocket/ws

TEST_GENERAL_API_HOST=localhost:8000
TEST_GENERAL_BASE_URL=http://localhost:8000/general

TEST_CHAT_API_HOST=localhost:8001
TEST_CHAT_BASE_URL=http://localhost:8001/chat

TEST_CHAT_BFF_API_HOST=localhost:7999
TEST_CHAT_BFF_BASE_URL=http://localhost:7999/chat

STORAGE_API_HOST=mw-storage:8003
STORAGE_BASE_URL=http://mw-storage:8003/storage

SECRET_SESSION_KEY=your_secret_key
