@import "src/styles/variables";

.wrapper {
  @include regularContainer;
  display: grid;
  width: 100%;
  gap: $gapMedium;
  grid-template-columns: repeat(auto-fit, minmax($minWidthBlock, 1fr));

  @media only screen and (max-width: $mediaWidthMobileMedium) {
    padding: $paddingBig $paddingSmall;
  }
}
