@import "src/styles/variables";

.wrapper {
  @include regularContainer;
  display: grid;
  width: 100%;
  gap: $gapMedium;
  grid-template-columns: repeat(auto-fit, minmax($minWidthBlock, 1fr));
}

.alignContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px dotted var(--primaryBorderColor);
}

.statisticsCharts {
  margin-top: auto;
}
