@import "src/styles/variables";

h1 {
  font-size: $fontSizeTitleBig;

  @media (max-width: $mediaWidthMobileBig) {
    font-size: $fontSizeTitleMedium;
  }
}

h2 {
  font-size: $fontSizeTitleMedium;
  @media (max-width: $mediaWidthMobileBig) {
    font-size: $fontSizeTitleSmall;
  }
}

h3 {
  font-size: $fontSizeBig;
  @media (max-width: $mediaWidthMobileBig) {
    font-size: $fontSizeSmall;
  }
}

h4 {
  font-size: $fontSizeTitleExtraSmall;
  @media (max-width: $mediaWidthMobileBig) {
    font-size: $fontSizeBig;
  }
}
