@import "src/styles/variables";

h1 {
  font-size: $fontSizeTitleLarge;

  @media (max-width: $mediaWidthMobileBig) {
    font-size: $fontSizeTitleBig;
  }
}

h3 {
  font-size: $fontSizeBig;
}

h6 {
  font-size: $fontSizeMedium;
}
