@import "src/styles/variables";

h1 {
  font-size: $fontSizeTitleBig;

  @media (max-width: $mediaWidthMobileBig) {
    font-size: $fontSizeTitleMedium;
  }
}

h2 {
  font-size: $fontSizeTitleMedium;
  @media (max-width: $mediaWidthMobileBig) {
    font-size: $fontSizeTitleSmall;
  }
}

h3 {
  font-size: $fontSizeBig;
  @media (max-width: $mediaWidthMobileBig) {
    font-size: $fontSizeSmall;
  }
}

h4 {
  font-size: $fontSizeTitleExtraSmall;
  @media (max-width: $mediaWidthMobileBig) {
    font-size: $fontSizeBig;
  }
}

.editButton {
  position: relative;
  display: flex;
  gap: 10px;
}

.editableTextAreaFooter {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  color: var(--tertiaryTextColor);
}
