@import "src/styles/variables";
@import "src/styles/mixins";

.errorPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: $fontSizeLarge;
}
