@import "src/styles/variables";

.adjustLabelsContent {
  gap: $gapBig;
}

.labelsButtons {
  justify-content: flex-end;
  gap: $gapMedium;

  @media only screen and (max-width: $mediaWidthMobileMedium) {
    gap: $gapSmall;
  }
}

.labelsContainer {
  gap: $gapMedium;
}
