@import "src/styles/variables";

.labelLine {
  align-items: center;
  justify-content: space-between;
  gap: $gapMedium;

  @media only screen and (max-width: $mediaWidthTablet) {
    flex-wrap: wrap;
  }
}

.labelContainer {
  display: flex;
  width: 270px;
}

.labelDescription {
  width: 30%;
  flex: 1;

  @media only screen and (max-width: $mediaWidthTablet) {
    width: 100%;
    order: 3;
  }
}

.icon {
  &:hover:enabled {
    background-color: var(--secondaryBgColor);
  }
}

.actionButtons {
  align-items: center;
}

.editableLabel {
  border: none;
}
