@import "src/styles/variables";

.labelLine {
  align-items: baseline;
  gap: $gapExtraSmall $gapBig;
  flex-wrap: wrap;
}

.labelContainer {
  display: flex;
  width: 270px;

  @media only screen and (max-width: $mediaWidthTablet) {
    width: 100%;
  }
}

.labelDescription {
  width: 30%;
  flex-grow: 2;
}

.icon {
  cursor: pointer;
}
