@import "src/styles/variables";

.labelLine {
  align-items: baseline;
  gap: 0 $gapBig;

  @media only screen and (max-width: $mediaWidthTablet) {
    flex-wrap: wrap;
    padding-bottom: $paddingExtraMedium;
  }
}

.labelContainer {
  display: flex;
  min-width: 250px;
  max-width: 250px;

  @media only screen and (max-width: $mediaWidthTablet) {
    min-width: 90%;
  }
}

.labelDescription {
  min-width: 220px;
  max-width: max(220px, 52vw);
}

.icon {
  cursor: pointer;
}

.labelLine > input {
  width: 50px;
  flex-shrink: 0;
  transform: translateY(5px);

  @media only screen and (max-width: $mediaWidthMobileBig) {
    width: 30px;
  }
}
