@import "src/styles/variables";

.container {
  max-width: $maxWidthContainer;
  padding: 0 $paddingMedium;
  margin: 0 auto;
}

.settingsList {
  display: inline-flex;
  flex-direction: column;
  gap: $gapMedium;
}
