@import "src/styles/variables";

.container {
  width: 100%;
  max-width: $maxWidthContainer;
  margin: 0 auto;
}

.settingsList {
  display: inline-flex;
  flex-direction: column;
  gap: $gapSmall;
}

.line {
  align-items: center;
  justify-content: space-between;
  max-width: $maxWidthBlock;
}
