@import "src/styles/variables";

.container {
  width: 100%;
  max-width: $maxWidthContainer;
  max-height: calc(100vh - $headerHeight);
  margin: 0 auto;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.settingsList {
  display: inline-flex;
  flex-direction: column;
  gap: $gapSmall;
}

.line {
  max-width: $maxWidthBlock;
  align-items: center;
  justify-content: space-between;
}
