@import "src/styles/variables";

.systemItem {
  width: 30%;
  min-width: $minWidthBlock;
  align-items: center;
  justify-content: flex-start;
  gap: $gapMedium;
}

.title {
  color: var(--secondaryTextColor);
  font-size: $fontSizeTitleSmall;
  text-align: center;
}

.description {
  color: var(--secondaryTextColor);
  line-height: $lineHeightPrimary;
  text-align: center;
}

.icon {
  stroke: var(--secondaryStrokeColor);
}
