@import "src/styles/variables";

.list {
  display: flex;
  width: 100%;
  min-width: 80px;
  height: 100%;
  padding: $paddingSmall;
}

.numberedList {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  gap: $gapSmall;
  list-style-type: none;
}

.numberedListItem {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: $gapSmall;
}

.labelsBlock {
  gap: $gapSmall;
}

.contentBlock {
  gap: $gapExtraSmall;
}

.recordInfo {
  align-items: center;
}

.ownerName {
  flex: 1;
}

.tagsBlockTrigger {
  cursor: pointer;
}

.editableTime {
  min-width: 46px;
  max-width: 46px;
  cursor: pointer;
  text-align: right;
}

.checkbox {
  width: $checkboxWidthSmall;
  height: $checkboxHeightSmall;
  background-color: transparent;
  cursor: pointer;
}

.linkToOwnerWay {
  display: flex;
  align-items: center;
}

.socialMediaIcon {
  width: $iconSizeSmall;
  height: $iconSizeSmall;
}

.aiButton {
  border-color: var(--generalPrimaryColor);
  background-color: var(--tertiaryBgColor);
}

.trashReservation {
  width: 16px;
}
