@import "src/styles/variables";

.summarySection {
  display: flex;
  width: 100%;
  align-items: end;
  justify-content: space-between;
  margin-top: $marginMedium;
  font-weight: bold;
  gap: $gapExtraSmall;
}

.summaryText {
  margin-left: auto;
  text-wrap: nowrap;
}

.aiButton {
  border-color: var(--generalPrimaryColor);
  background-color: var(--tertiaryBgColor);
  font-weight: $fontWeightRegular;
}
