@import "src/styles/variables";

.pricingPageWrapper {
  width: 100%;
  margin-top: $headerHeight;

  &::-webkit-scrollbar {
    display: none;
  }
}

.pricingBlock {
  flex-grow: 1;
  align-items: center;
  padding: $paddingVerticalBlockBig $paddingMedium;
  border-radius: $containerBorderRadius $containerBorderRadius 0 0;
  background-color: var(--secondaryBgColor);
  gap: $gapBig;
  text-align: center;
  @include backgroundImage;

  @media only screen and (max-width: $mediaWidthMobileMedium) {
    padding: $paddingExtraMedium;
  }
}

.pricingTitle {
  max-width: $maxWidthBlock;
}

.headingLevelH2 {
  font-size: $fontSizeTitleBig;

  @media (max-width: $mediaWidthMobileBig) {
    font-size: $fontSizeTitleMedium;
  }
}

.pricingDescription {
  max-width: $maxWidthBlock;
}
