@import "src/styles/variables";

.trainingTabContainer {
  width: 100%;
}

.addTrainingButton {
  height: 123px;
  padding: 0;
}

.tabsSection {
  display: grid;
  gap: $gapSmall;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.collectionGroup {
  width: 100%;
  padding: $paddingMedium;
  background-color: var(--secondaryBgColor);
  border-bottom-left-radius: $containerBorderRadius;
  border-bottom-right-radius: $containerBorderRadius;
  gap: $gapBig;

  @media only screen and (max-width: $mediaWidthMobileMedium) {
    padding: $paddingExtraMedium;
  }
}

.trainingTitle {
  align-items: baseline;
}
