@import "src/styles/variables";

$wayCardMinWidth: 340px;

.loaderWrapper {
  margin-top: $gapBig;
}

.wayCollectionActions {
  align-content: center;
  margin-top: $gapMedium;
  gap: $gapMedium;
}

.iconView {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.activeView {
  transform: scale(1.2);
  transform-origin: right;
}

.wayCards {
  display: grid;
  gap: $gapMedium;
  grid-template-columns: repeat(auto-fill, minmax($wayCardMinWidth, 1fr));
}

.filterView {
  width: 100%;
  justify-content: space-between;
  gap: $gapMedium;
}

.iconsView {
  gap: $gapMedium;
}
