.shortCell {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  word-wrap: break-word;
  @media (max-width: 800px) {
    -webkit-line-clamp: 5;
  }
}

.number {
  text-align: right;
}

.dateCell {
  display: -webkit-box;
  overflow: hidden;
  min-width: 75px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  word-wrap: break-word;
  @media (max-width: 800px) {
    -webkit-line-clamp: 5;
  }
}

.tooltip {
  cursor: pointer;
}
