@import "src/styles/variables";

.shortCell {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  word-wrap: break-word;

  img {
    max-width: $minWidthBlock;
    max-height: $minWidthBlock;
  }
  @media (max-width: 800px) {
    -webkit-line-clamp: 5;
  }
}

.number {
  text-align: right;
}

.dateCell {
  display: block;
  min-width: $minWidthDate;
  hyphens: none;
  white-space: nowrap;
}

.tooltipFavorites {
  transform: translateY(-100%) translateX(-50%);
}

.tooltipFixed {
  position: fixed;
}
