@import "src/styles/variables";

$accordionMinHeight: 60px;

.accordionHeader {
  display: flex;
  min-height: $accordionMinHeight;
  align-items: flex-end;
}

.icon {
  flex-shrink: 0;
  stroke: var(--secondaryStrokeColor);
}

.accordionTrigger {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: $paddingSmall 0;
  border: none;
  background-color: transparent;
  color: var(--secondaryTextColor);
  cursor: pointer;
  font-family: inherit;
  font-size: $fontSizeBig;
  font-weight: $fontWeightBold;
  text-align: left;
  transition-duration: $elementHoverTransition;

  &:hover {
    background-color: var(--hoverBgColor);
  }

  &[data-state="open"] > .minusIcon {
    display: block;
  }

  &[data-state="open"] > .plusIcon {
    display: none;
  }

  &[data-state="closed"] > .minusIcon {
    display: none;
  }

  &[data-state="closed"] > .plusIcon {
    display: block;
  }
}
