@import "src/styles/variables";

.accordionHeader {
  display: flex;
  align-items: flex-end;
}

.icon {
  flex-shrink: 0;
  stroke: var(--primaryStrokeColor);
}

.accordionTrigger {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: $paddingMedium 0;
  border: none;
  background-color: transparent;
  color: var(--primaryTextColor);
  cursor: pointer;
  font-family: inherit;
  font-size: $fontSizeBig;
  font-weight: $fontWeightBold;
  gap: $gapSmall;
  text-align: left;
  transition: all $elementHoverTransition ease;

  &:hover {
    padding-left: $paddingExtraBig;
    background-color: var(--hoverBgColor);
  }

  &[data-state="open"] > .minusIcon {
    display: block;
  }

  &[data-state="open"] > .plusIcon {
    display: none;
  }

  &[data-state="closed"] > .minusIcon {
    display: none;
  }

  &[data-state="closed"] > .plusIcon {
    display: block;
  }
}
