@import "src/styles/variables";

$secondaryStatisticItemPadding: 16px;

.statisticItem {
  display: flex;
  width: 100px;
  height: 105px;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: start;
  padding: $paddingSmall;
  gap: $gapSmall;
  text-align: center;
}

.primary {
  color: var(--primaryTextColor);
}

.secondary {
  border-radius: $secondaryBorderRadius;
  background-color: var(--generalPrimaryColor);
  color: var(--secondaryTextColor);
}

.statisticValue {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  text-align: center;
}

.statisticText {
  font-size: 14px;
}

.secondary .statisticText {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  color: var(--secondaryTextColor);
  font-size: $fontSizeMedium;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: initial;
}
