@import "src/styles/variables";

.tabContent {
  width: 100%;
  padding-top: $paddingMedium;
  gap: 0;

  @media (max-width: $mediaWidthTablet) {
    flex-direction: column;
  }
}

.video {
  margin: 0 auto;

  @media (max-width: $mediaWidthTablet) {
    width: 100%;
  }
}
