@import "src/styles/variables";

$iconContainerSize: 25px;
$labelMaxWidthBlock: 650px;

.container {
  width: 100%;
  max-width: $maxWidthContainer;
  margin-top: $headerHeight;
  gap: $gapSmall;

  &::-webkit-scrollbar {
    display: none;
  }
}

.lobbyDashboard {
  gap: $gapSmall;
  grid-template-columns: minmax($mediumWidthBlock, 2fr) minmax($mediumWidthBlock,
      3fr);

  @media (max-width: $mediaWidthTabletBig) {
    grid-template-columns: minmax($minWidthBlock, 1fr);
  }
}

.testInfo {
  @include regularContainer;
  min-width: $minWidthBlock;
  gap: $gapSmall;
}

.lobbyDashBoardLeft {
  position: sticky;
  top: $headerHeight;
  max-height: calc(100vh - $headerHeight - $gapSmall);
  gap: $gapSmall;
  overflow-y: auto;

  @media (max-width: $mediaWidthTabletBig) {
    position: static;
    width: 100%;
    max-height: none;
  }
}

.testTitleBlock {
  align-items: baseline;
  justify-content: space-between;
}

.testName {
  flex: 1;

  input {
    width: $minWidthBlock;
    height: $heightH2;
    margin-top: $marginMedium;
    margin-bottom: $marginMedium;
  }
}

.lobbyTestButtons {
  @include regularContainer;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: center;
}