@import "src/styles/variables";

$wayCollectionCardMainHeight: 76px;
$wayCollectionCardAdditionalHeight: 47px;

.wayCollectionCardContainer {
  overflow: hidden;
  width: 100%;
  border: $primaryBorder solid var(--primaryStrokeColor);
  border-radius: $primaryBorderRadius;
  cursor: pointer;
  @include scaleOnHover;
}

.wayCollectionCardButton {
  padding: 0;
  border: none;
}

.mainInfo {
  height: $wayCollectionCardMainHeight;
  padding: $paddingMedium;
  background-color: var(--generalPrimaryColor);
  gap: $gapSmall;
  text-align: left;

  & h3 {
    font-size: $fontSizeBig;
  }
}

.title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  color: var(--secondaryTextColor);
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

.description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  color: var(--secondaryTextColor);
  font-size: $fontSizeMedium;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

.additionalInfo {
  height: $wayCollectionCardAdditionalHeight;
  padding: $paddingMedium $paddingBig;
  background-color: var(--primaryBgColor);
  color: var(--primaryTextColor);
  font-size: $fontSizeBig;
  font-weight: $fontWeightBold;
}

.active {
  background-color: var(--primaryBgBtnActiveColor);
}
