@import "src/styles/variables";

$wayCollectionCardMainHeight: 93px;
$wayCollectionCardAdditionalHeight: 47px;

.wayCollectionCardContainer {
  border-radius: $secondaryBorderRadius;
  cursor: pointer;
  @include scaleOnHover;
}

.wayCollectionCardButton {
  padding: 0;
  border: 1px solid var(--quaternaryBorderColor);
}

.mainInfo {
  width: 135px;
  height: $wayCollectionCardMainHeight;
  padding: $paddingMedium;
  border-radius: $secondaryBorderRadius $secondaryBorderRadius 0 0;
  background-color: var(--tertiaryBackgroundColor);
  gap: $gapMedium;
  text-align: left;

  & h3 {
    font-size: $fontSizeBig;
  }
}

.title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  color: var(--secondaryTextColor);
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: initial;
}

.description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  color: var(--secondaryTextColor);
  font-size: $fontSizeMedium;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: initial;
}

.additionalInfo {
  height: $wayCollectionCardAdditionalHeight;
  padding: $paddingMedium;
  border-radius: 0 0 $secondaryBorderRadius $secondaryBorderRadius;
  background-color: var(--primaryBackgroundColor);
  color: var(--primaryTextColor);
  font-size: $fontSizeMedium;
  font-size: $fontSizeBig;
  font-weight: bold;
  gap: $gapMedium;
}

.active {
  background-color: var(--primaryActiveButtonColor);
}
