@import "src/styles/variables";

.navSidebarContent {
  display: flex;
  flex-direction: column;
}

.menuItem {
  padding: 10px;
  color: $primaryTextColor;
  transition-duration: $elementHoverTransition;
  &:hover {
    background-color: $primaryShadowColor;
  }
}
