@import "src/styles/variables";

$paddingSidebar: 30px 40px;

.navSidebarContent {
  display: flex;
  flex-direction: column;
  color: var(--secondaryTextColor);
}

.menuItem {
  align-items: center;
  gap: $gapMedium;
}

.menuItemLink {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 0;
  color: var(--secondaryTextColor);
  gap: $gapMedium;
  text-decoration: none;
  transition-duration: $elementHoverTransition;
  &:hover {
    background-color: var(--primaryShadowColor);
  }
}

.sidebarContent {
  display: flex;
  width: $sidebarWidth;
  flex-direction: column;
  justify-content: space-between;
  padding: $paddingSidebar;
  background-color: var(--quaternaryBackgroundColor);
}
