@import "src/styles/variables";

$paddingSidebar: $paddingExtraMedium 40px;

.navSidebarContent {
  display: flex;
  flex-direction: column;
  color: var(--secondaryTextColor);
}

.menuItem {
  align-items: center;
  gap: $gapSmall;
}

.menuItemLink {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 0;
  color: var(--secondaryTextColor);
  font-size: $fontSizeBig;
  gap: $gapSmall;
  text-decoration: none;
  transition-duration: $elementHoverTransition;

  &:hover {
    color: var(--generalPrimaryColor);
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
  }
}

.sidebarContent {
  display: flex;
  width: $sidebarWidth;
  flex-direction: column;
  justify-content: space-between;
  padding: $paddingSidebar;
  background-color: var(--quaternaryBgColor);
  overflow: auto;
}
