@import "src/styles/variables";

.icon {
  stroke: var(--primaryIconColor);
}

.small {
  width: $iconSizeSmall;
  height: $iconSizeSmall;
}

.medium {
  width: $iconSizeMedium;
  height: $iconSizeMedium;
}

.iconWrapper {
  border: none;
  background: none;
  cursor: pointer;
}
