@import "src/styles/variables";
@import "src/styles/mixins";

// Modal
$modal-close-btn-top: 10px;
$modal-close-btn-right: 10px;
$modal-close-btn-size: 25px;
$modal-animation-time: 150ms;

.dialogOverlay {
  position: fixed;
  z-index: $modalZIndex;
  animation: overlayShow $modal-animation-time cubic-bezier(0.16, 1, 0.3, 1);
  background-color: var(--overlayBgColor);
  inset: 0;
}

.dialogContent {
  position: fixed;
  z-index: $modalZIndex;
  top: 50%;
  left: 50%;
  overflow: auto;
  max-width: 95vw;
  max-height: 90vh;
  padding: $paddingExtraBig;
  border-radius: $secondaryBorderRadius;
  animation: contentShow $modal-animation-time cubic-bezier(0.16, 1, 0.3, 1);
  background-color: var(--primaryBgColor);
  transform: translate(-50%, -50%);
  &:focus {
    outline: none;
  }

  @media only screen and (max-width: $mediaWidthMobileMedium) {
    padding: $paddingExtraMedium;
  }
}

.closeButton {
  position: absolute;
  top: $modal-close-btn-top;
  right: $modal-close-btn-right;
  display: inline-flex;
  width: $modal-close-btn-size;
  height: $modal-close-btn-size;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: $tertiaryBorderRadius;
  cursor: pointer;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
