@import "src/styles/variables";
@import "src/styles/mixins";

.dialogOverlay {
  background-color: $overlay-background;
  position: fixed;
  inset: 0;
  animation: overlayShow $modal-animation-time cubic-bezier(0.16, 1, 0.3, 1);
}

.dialogContent {
  background-color: $white;
  border-radius: 6px;
  box-shadow:
    $grey-35-transparent 0 10px 38px -10px,
    $grey-20-transparent 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 20px 45px;
  animation: contentShow $modal-animation-time cubic-bezier(0.16, 1, 0.3, 1);
  overflow: auto;

  &:focus {
    outline: none;
  }
}

.closeButton {
  @include closeButton($modal-close-btn-top, $modal-close-btn-right, $modal-close-btn-size);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
