@import "src/styles/variables";

.Select {
  cursor: pointer;
}

.SelectIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  stroke: var(--primaryIconColor);
  transition: all $primaryTransitionDuration ease;
}

.SelectTrigger {
  all: unset;
  display: flex;
  height: $inputHeight;
  box-sizing: border-box;
  align-items: center;
  padding: $paddingSmall;
  border: solid $primaryBorder var(--primaryStrokeColor);
  border-radius: $primaryBorderRadius;
  background-color: var(--secondaryBgColor);
  color: var(--primaryTextColor);
  font-size: $fontSizeMedium;
  font-weight: $fontWeightSemibold;
  gap: $gapSmall;

  &[data-state="open"] > .SelectIcon {
    transform: rotate(180deg);
  }
}

.SelectTriggerValue {
  font-weight: $fontWeightRegular;
  text-wrap: wrap;
  white-space: nowrap;
}

.SelectContent {
  z-index: $dropdownZIndex;
  display: flex;
  overflow: hidden;
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
  padding: $paddingSmall;
  border: solid $primaryBorder var(--primaryStrokeColor);
  border-radius: $primaryBorderRadius;
  background-color: var(--secondaryBgColor);
  color: var(--generalPrimaryColor);
  gap: $gapSmall;
}

.SelectItemsWrapper {
  display: flex;
  flex-direction: column;
  gap: $gapSmall;
}
