@import "src/styles/variables";

$selectPadding: 3px;

.select {
  cursor: pointer;
}

.SelectIcon {
  margin-left: $marginMedium;
  stroke: var(--primaryIconColor);
  transition: all $primaryTransitionDuration ease 0s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SelectTrigger {
  all: unset;
  padding: 0 $paddingMedium;
  border-radius: $primaryBorderRadius;
  background-color: var(--secondaryBgColor);
  color: var(--primaryTextColor);
  font-size: $fontSizeMedium;
  border: solid  $primaryBorder var(--primaryStrokeColor);
  display: flex;
  align-items: center;

  &[data-state="open"] > .SelectIcon  {
    transform: rotate(180deg);
  }
}

.SelectTrigger[data-placeholder] {
  color: var(--generalPrimaryColor);

  & span {
    color: var(--primaryTextColor);
  }
  &[data-state="open"] > .SelectIcon {
    transform: rotate(180deg);
  }
}

.SelectContent {
  z-index: $dropdownZIndex;
  overflow: hidden;
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
  padding: $paddingSmall $paddingMedium 0 $paddingSmall;
  border-radius: $primaryBorderRadius;
  background-color: var(--secondaryBgColor);
  color: var(--generalPrimaryColor);
  border: solid $primaryBorder var(--primaryStrokeColor);
  display: flex;
  gap: 8px;
}

.SelectItemsWrapper {
  display: flex;
  flex-direction: column;
  gap: $gapExtraSmall;
}

.SelectViewport {
  padding: auto;
}

.SelectItem {
  overflow: hidden;
  height: 24px;
  padding-left: 15px;
  border-radius: 3px;
  color: var(--primaryTextColor);
  cursor: pointer;
  font-size: $fontSizeMedium;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.SelectItem[data-disabled] {
  color: var(--secondaryBgBtnColor);
  pointer-events: none;
}
.SelectItem[data-highlighted] {
  background-color: var(--secondaryBgColor);
  color: var(--generalPrimaryColor);
  outline: none;
}

.SelectLabel {
  color: var(--generalPrimaryColor);
  font-size: 12px;
  line-height: 25px;
}

.SelectSeparator {
  height: 1px;
  margin: 5px;
  background-color: var(--generalPrimaryColor);
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.SelectScrollButton {
  display: flex;
  height: 25px;
  align-items: center;
  justify-content: center;
  background-color: var(--generalPrimaryColor);
  color: var(--generalPrimaryColor);
  cursor: default;
}