@import "src/styles/variables";

$colorPickerWidth: 35px;
$colorPickerHeight: 25px; //we can move to variables

.colorPickerInput {
  width: $colorPickerWidth;
  height: $colorPickerHeight;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
