@import "src/styles/variables";

.supportTopicsItem {
  width: $minWidthBlock;
  align-items: center;
  justify-content: space-between;
  padding: $paddingSmall;
  cursor: pointer;

  &:hover {
    background-color: var(--tertiaryBgColor);
  }

  @media (max-width: $mediaWidthTablet) {
    width: 100%;
  }
}

.active {
  background-color: var(--tertiaryBgColor);
  cursor: default;
}

.topicIconEmpty {
  width: 16px;
  height: 16px;
}
