@import "src/styles/variables";
.singularMetric {
  align-items: flex-start;
  justify-content: space-between;
  gap: $gapExtraSmall;
}

.tabContainer {
  display: flex;
  overflow: hidden;
  width: 16px;
  height: 20px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
.metricBoxWidth {
  width: 100%;
}
