@import "src/styles/variables";

.statisticBlock {
  padding: $paddingMedium;
  border-radius: $primaryBorderRadius;
  background-color: var(--primaryBgColor);
  gap: $gapExtraSmall;
}

.titleCheckbox {
  width: 100%;
  justify-content: space-between;
}

.checkbox {
  position: relative;
  z-index: $statisticCheckbox;
}
