@import "src/styles/variables";

.statisticBlock {
  padding: $paddingMedium;
  border-radius: $primaryBorderRadius;
  background-color: var(--primaryBackgroundColor);
  gap: $gapSmall;
}

.titleCheckbox {
  position: relative;
  width: 100%;
  justify-content: space-between;
}

.titleCheckboxIndex {
  z-index: $checkboxZIndex;
}