@import "src/styles/variables";

.inner {
    justify-content: end;
    margin: 180px auto 0;
    height: 100%;
    max-width: $maxWidthContainer;
}

.imageBackground {
    top: 155px;
    width: 70%;
    right: 0;
    z-index: $progressIndicatorZIndex;
    position: absolute;
}

.buttonGroup {
    margin-top: 90px;
}

.button {
    margin-right: 65px;
}