@import "src/styles/variables";

.pageLayout {
  width: 100%;
  max-width: $maxWidthContainer;
  flex-grow: 1;
  margin: 0 auto;
  gap: $gapSmall;

  @media (max-width: $mediaWidthMobileBig) {
    flex-direction: column;
  }
}

.errorInfoContainer {
  width: 100%;
  padding: $paddingVerticalBlockBig $paddingMedium;
  border-radius: $containerBorderRadius $containerBorderRadius 0 0;
  background-color: var(--secondaryBgColor);
  gap: $gapExtraBig;
  @include backgroundImageError;

  @media only screen and (max-width: $mediaWidthMobileMedium) {
    gap: $gapMedium;
  }
}

.errorDescription,
.errorTitle {
  white-space: pre-wrap;
}

.buttonGroup {
  gap: $gapExtraBig;
}
