@import "src/styles/variables";

.inner {
    width: 100%;
    margin: 180px auto 0;
    max-width: $maxWidthContainer;
}

.imageBackground {
    top: 155px;
    width: 70%;
    right: 0;
    z-index: $progressIndicatorZIndex;
    position: absolute;
}

.buttonGroup {
    margin-top: $gapExtraExtraLarge;
}

.button {
    margin-right: 65px;
}