@import "src/styles/variables";

$chat-trigger-size: 50px;
$icon-wrapper-size: 42px;
$indicator-size: 10px;
$unread-messages-amount-size: 30px;

.chatTrigger {
  position: fixed;
  z-index: $chatZIndex;
  right: 0;
  bottom: 180px;
  width: $chat-trigger-size;
  height: $chat-trigger-size;
  padding: $paddingBig $paddingMedium;
  border: $primaryBorder solid var(--secondaryStrokeColor);
  border-radius: $primaryBorderRadius;
  background-color: var(--generalPrimaryColor);
  color: var(--secondaryTextColor);
  transition: 0.3s ease-out;

  & svg {
    stroke: var(--secondaryStrokeColor);
  }

  &:hover {
    z-index: $chatZIndex;
    bottom: calc(3 * $marginBig);
    height: calc(3 * $chat-trigger-size);
    background-color: var(--quaternaryBgColor);
    cursor: pointer;
    transition: 0.5s ease-in-out;

    .iconWrapper {
      opacity: 0;
      transition: 400ms all;
      visibility: hidden;
    }
    .indicator {
      transform: translateX(-10px);
    }

    .chatTriggerText {
      margin-top: 3px;
      opacity: 1;
      transition: opacity 400ms 300ms;
      visibility: visible;
      will-change: opacity;
    }

    .unreadMessagesAmount {
      background-color: var(--generalPrimaryColor);
      transition: 0.5s ease;
    }
  }
}

.iconWrapper {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 4px;
  width: $icon-wrapper-size;
  height: $icon-wrapper-size;
  padding: $paddingExtraSmall;
  opacity: 1;
  visibility: visible;
}

.chatTriggerText {
  opacity: 0;
  text-wrap: nowrap;
  transform: rotate(90deg);
  visibility: hidden;
}

.unreadMessagesAmount {
  position: absolute;
  z-index: $chatZIndex;
  bottom: -20px;
  left: calc(50% - 15px);
  display: flex;
  width: $unread-messages-amount-size;
  height: $unread-messages-amount-size;
  align-items: center;
  justify-content: center;
  padding: $paddingExtraSmall;
  border-radius: $tagBorderRadius;
  background-color: var(--primaryBgColor);
  color: var(--primaryTextColor);
}

.indicator {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  width: $indicator-size;
  height: $indicator-size;
  padding: $paddingExtraSmall;
  border-radius: $tagBorderRadius;
  transition: transform 0.5s ease;
}

.onlineIndicator {
  background-color: var(--activeColor);
}

.offlineIndicator {
  background-color: var(--dangerColor);
  .wayActionsIcon {
    z-index: $chatActionButton;
  }
}
