@import "src/styles/variables";

$chat-trigger-size: 50px;
$chat-trigger-margin-bottom: 180px;

.chatTrigger {
  position: fixed;
  z-index: $chatZIndex;
  right: 0;
  bottom: $chat-trigger-margin-bottom;
  width: $chat-trigger-size;
  height: $chat-trigger-size;
  padding: $paddingBig $paddingMedium;
  border: $primaryBorder solid var(--secondaryStrokeColor);
  border-radius: $primaryBorderRadius;
  background-color: var(--generalPrimaryColor);
  color: var(--secondaryTextColor);
  transition: 0.3s ease-out;

  & svg {
    stroke: var(--secondaryStrokeColor);
  }

  &:hover {
    z-index: $chatZIndex;
    bottom: calc(3 * $marginBig);
    height: calc(3 * $chat-trigger-size);
    background-color: var(--quaternaryBgColor);
    cursor: pointer;
    transition: 0.5s ease-in-out;

    .chatTriggerText {
      opacity: 1;
      transition: opacity 400ms 300ms;
      visibility: visible;
      will-change: opacity;
    }

    .unreadMessagesAmount {
      background-color: var(--generalPrimaryColor);
      transition: 0.5s ease;
    }

    .indicator {
      margin: -10px auto $marginMedium;
      transition: 0.4s all;
    }
  }
}

.chatTriggerText {
  opacity: 0;
  text-wrap: nowrap;
  transform: rotate(90deg);
  visibility: hidden;
}

.unreadMessagesAmount {
  position: absolute;
  z-index: $chatZIndex;
  bottom: -15px;
  left: calc(50% - 15px);
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  padding: $paddingExtraSmall;
  border-radius: $tagBorderRadius;
  background-color: var(--primaryBgColor);
  color: var(--primaryTextColor);
}

.indicator {
  width: 10px;
  height: 10px;
  padding: $paddingExtraSmall;
  border-radius: $tagBorderRadius;
  margin: -5px auto;
}

.onlineIndicator {
  background-color: var(--activeColor);
}

.offlineIndicator {
  background-color: var(--dangerColor);
  .wayActionsIcon {
    z-index: $chatActionButton;
  }
}
