@import "src/styles/variables";

// Variables used only in Chat module styles
$indicatorSize: 10px;
$chatTriggerSize: 50px;
$iconWrapperSize: 42px;
$unreadMessagesAmountSize: 30px;
$chatTriggerUnfocusedMarginBottom: 210px;
$chatTriggerFocusedMarginBottom: 110px;
$unreadMessagesAmountMarginBottom: -20px;

.chatTrigger {
  position: fixed;
  z-index: $chatZIndex;
  right: 0;
  bottom: $chatTriggerUnfocusedMarginBottom;
  width: $chatTriggerSize;
  height: $chatTriggerSize;
  padding: $paddingBig $paddingMedium;
  border: $primaryBorder solid var(--secondaryStrokeColor);
  border-radius: $primaryBorderRadius;
  background-color: var(--generalPrimaryColor);
  color: var(--secondaryTextColor);
  transition: 300ms ease-out;

  & svg {
    stroke: var(--secondaryStrokeColor);
  }

  &:hover {
    z-index: $chatZIndex;
    bottom: $chatTriggerFocusedMarginBottom;
    height: calc(3 * $chatTriggerSize);
    background-color: var(--quaternaryBgColor);
    cursor: pointer;
    transition: 500ms ease-in-out;

    .iconWrapper {
      opacity: 0;
      transition: 400ms ease-in-out;
      visibility: hidden;
    }
    .indicator {
      transform: translateX(-($marginMedium));
    }

    .chatTriggerText {
      margin-top: $marginSmall;
      opacity: 1;
      transition: opacity 400ms 300ms;
      visibility: visible;
      will-change: opacity;
    }

    .unreadMessagesAmount {
      background-color: var(--generalPrimaryColor);
      transition: 500ms ease;
    }
  }
}

.iconWrapper {
  position: absolute;
  z-index: 0;
  top: 0;
  right: $marginSmall;
  width: $iconWrapperSize;
  height: $iconWrapperSize;
  padding: $paddingExtraSmall;
  opacity: 1;
  transition: 400ms ease-in-out;
  visibility: visible;
  will-change: opacity;
}

.chatTriggerText {
  opacity: 0;
  text-wrap: nowrap;
  transform: rotate(90deg);
  visibility: hidden;
}

.unreadMessagesAmount {
  position: absolute;
  z-index: $chatZIndex;
  bottom: $unreadMessagesAmountMarginBottom;
  left: calc(50% - 15px);
  display: flex;
  width: $unreadMessagesAmountSize;
  height: $unreadMessagesAmountSize;
  align-items: center;
  justify-content: center;
  padding: $paddingExtraSmall;
  border-radius: $tagBorderRadius;
  background-color: var(--primaryBgColor);
  color: var(--primaryTextColor);
}

.indicator {
  position: absolute;
  z-index: $chatOnlineIndicatorZIndex;
  top: $marginMedium;
  right: $marginMedium;
  width: $indicatorSize;
  height: $indicatorSize;
  padding: $paddingExtraSmall;
  border-radius: $tagBorderRadius;
  transition: transform 500ms ease;
}

.onlineIndicator {
  background-color: var(--activeColor);
}

.offlineIndicator {
  background-color: var(--dangerColor);
  .wayActionsIcon {
    z-index: $chatActionButton;
  }
}
