@import "src/styles/variables";

.chatTrigger {
  position: fixed;
  z-index: $chatZIndex;
  right: 0;
  bottom: calc(3 * $marginBig);
  width: 50px;
  height: 160px;
  padding: $paddingBig $paddingMedium;
  border: $primaryBorder solid var(--secondaryStrokeColor);
  border-radius: $primaryBorderRadius;
  background-color: var(--generalPrimaryColor);
  color: var(--secondaryTextColor);

  & svg {
    stroke: var(--secondaryStrokeColor);
  }

  &:hover {
    background-color: var(--quaternaryBgColor);
    cursor: pointer;
  }
}

.chatTriggerText {
  text-wrap: nowrap;
  transform: rotate(90deg);
}

.unreadMessagesAmount {
  position: absolute;
  bottom: -15px;
  left: calc(50% - 15px);
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  padding: $paddingExtraSmall;
  border-radius: $tagBorderRadius;
  background-color: var(--primaryBgColor);
  color: var(--primaryTextColor);
}

.indicator {
  width: 10px;
  height: 10px;
  padding: $paddingExtraSmall;
  border-radius: $tagBorderRadius;
  margin: 0 auto $marginMedium;
}

.onlineIndicator {
  background-color: var(--activeColor);
}

.offlineIndicator {
  background-color: var(--dangerColor);
  .wayActionsIcon {
    z-index: $chatActionButton;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
