@import "src/styles/variables";

.cellWrapper {
  height: 100%;
  padding: $paddingSmall;
}

.number {
  text-align: right;
}

.userBlock {
  align-items: center;
  gap: $gapSmall;
}

.mentor {
  background-color: var(--attentionColor);
}
