@import "src/styles/variables";

.allWaysContainer {
  width: 100%;
  max-width: $maxWidthContainer;
  margin: 0 auto;
  gap: $gapSmall;
}

.loadMoreButton {
  display: block;
  margin-top: $marginMedium;
  margin-left: auto;
}

.titleContainer {
  justify-content: space-between;
}

.waysContent {
  width: 100%;
  @include regularContainer;
}

.wayCards {
  gap: $gapSmall;
  grid-template-columns: repeat(auto-fill, minmax($mediumWidthBlock, 1fr));

  @media (max-width: $mediaWidthTablet) {
    grid-template-columns: repeat(auto-fill, minmax($minWidthBlock, 1fr));
  }
}

.filterView {
  width: 100%;
  // flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  @include regularContainer;
}

.filterViewLeftPanel {
  flex-wrap: wrap;
  align-items: center;
}

.filterBlock {
  flex-grow: 1;
  justify-content: flex-start;
}
