@import "src/styles/variables.scss";

.titlePage {
  position: absolute;
  top: 1rem;
  left: 47%;
  color: $lightyellow;
  text-shadow: 2px 2px 2px $button-shadow;
}

.titleWhenLoggedIn {
  position: absolute;
  top: 2.2rem;
  left: 47%;
  color: $lightyellow;
  text-shadow: 2px 2px 2px $button-shadow;
}
