@import "src/styles/variables";

$wayCardMinWidth: 340px;

.button {
  margin-top: $marginMedium;
}

.titleContainer {
  justify-content: space-between;
}

.wayCards {
  display: grid;
  gap: $gapMedium;
  grid-template-columns: repeat(auto-fill, minmax($wayCardMinWidth, 1fr));
}

.iconView {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.activeView {
  scale: 1.2;
}

.filterView {
  width: 100%;
  justify-content: space-between;
  gap: $gapMedium;
}

.iconsView {
  gap: $gapMedium;
}
