basePath: /mail
definitions:
  mwmail_internal_schemas.SendMailResponse:
    properties:
      bcc:
        items:
          type: string
        type: array
      cc:
        items:
          type: string
        type: array
      id:
        type: string
      message:
        type: string
      recipients:
        items:
          type: string
        type: array
      reply_to:
        items:
          type: string
        type: array
      senderMail:
        type: string
      senderName:
        type: string
      subject:
        type: string
    required:
    - id
    - message
    - recipients
    - senderMail
    - subject
    type: object
info:
  contact: {}
  title: Masters way mail API
  version: "1.0"
paths:
  /dev/reset-db:
    get:
      description: resets db
      responses:
        "204":
          description: No Content
      summary: resets db
      tags:
      - dev
  /mail:
    post:
      consumes:
      - application/json
      description: Sending messages to recipients by smtp and saving the log of the
        sent mail
      operationId: send-mail
      parameters:
      - description: Subject of the mail
        in: body
        name: subject
        required: true
        schema:
          type: string
      - description: Recipient mail addresses
        in: body
        name: to
        required: true
        schema:
          type: array
      - description: CC mail addresses
        in: body
        name: cc
        schema:
          type: array
      - description: BCC mail addresses
        in: body
        name: bcc
        schema:
          type: array
      - description: Message content to be sent. Can be plain text or HTML-formatted
          text
        in: body
        name: message
        required: true
        schema:
          type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/mwmail_internal_schemas.SendMailResponse'
      summary: Sending messages to recipients and save logs
      tags:
      - mail
swagger: "2.0"
