@import "src/styles/variables.scss";
@import "src/styles/mixins.scss";

.redirectPageContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: $page-margin-top;
  font-size: $font-size-large;
  @include title;
}
