@import "src/styles/variables";

$progressBarContainerHeight: 20px;
$progressBarBorderRadius: 20px;

.progressBarContainerIndicator {
  width: 100%;
  height: $progressBarContainerHeight;
  border-radius: $progressBarBorderRadius;
  margin-top: $marginSmall;
  margin-bottom: $marginMedium;
  background-color: var(--primaryBorderColor);
}

.progressText {
  width: 100%;
  color: var(--primaryTextColor);
  text-align: center;
}
