@import "src/styles/variables";

$progressBarContainerHeight: 20px;
$progressBarBorderRadius: 20px;

.progressBarContainer {
  height: $progressBarContainerHeight;
  border-radius: $progressBarBorderRadius;
  margin-top: $marginSmall;
  margin-bottom: $marginSmall;
  background-color: rgb(74, 74, 70);
  text-align: right;
}

.progressIndicator {
  height: 100%;
  border-radius: $progressBarBorderRadius;
  background-color: rgb(0, 72, 255);
}

.progressIndicatorPercent {
  margin-right: $marginSmall;
  margin-left: $marginSmall;
  color: rgb(22, 21, 21);
}
