@import "src/styles/variables";

$progressBarContainerHeight: 4px; // to variables

.progressContainer {
  gap: $gapSmall;
}

.progressRoot {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: $progressBarContainerHeight;
  border-radius: $quaternaryBorderRadius;
  background: var(--progressBarBgColor);
  color: var(--primaryTextColor);
  text-align: center;
  /* Fix overflow clipping in Safari */
  /* https://gist.github.com/domske/b66047671c780a238b51c51ffde8d3a0 */
  transform: translateZ(0);
}

.progressIndicator {
  position: absolute;
  z-index: $progressIndicatorZIndex;
  width: 100%;
  height: 100%;
  background-color: var(--generalPrimaryColor);
  transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
}

.description {
  justify-content: space-between;
  color: var(--primaryTextColor);
  white-space: nowrap;
}
